/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
a.button {
  border-radius: 3px;
  margin-top: 20px;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem;
  background: transparent;
  color: whitesmoke !important;
  background: black !important;
  background-color: black !important;
  text-transform: lowercase !important;
  text-decoration: none !important;
}
a.button:hover {
  background: rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
a.button.special {
  border-radius: 3px;
  margin-top: 20px;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem;
  color: whitesmoke !important;
  background: #ed4933 !important;
  background-color: #ed4933 !important;
  text-transform: lowercase !important;
  text-decoration: none !important;
}
a.button.special:hover {
  background: #ef5e4a !important;
  background-color: #ef5e4a !important;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  height: 3.125rem;
  letter-spacing: 0.225rem;
  line-height: 3.125rem;
  padding: 0 2.75rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 0 2px whitesmoke;
}
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8rem;
}
input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35rem;
}
input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}
@media screen and (max-width: 736px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    height: 3.75rem;
    line-height: 3.75rem;
  }
}