/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.green {
  color: whitesmoke;
  background-color: #1a867d;
}
.green a:hover {
  color: red;
}
.green .page-header {
  width: 100%;
  color: whitesmoke;
  border-bottom: whitesmoke solid thin !important;
}
div.green a,
div.green p,
div.green ul,
div.green li,
div.green h2,
div.green h3,
div.green h4,
div.green h5,
div.green h6 {
  color: whitesmoke;
}
section.green a,
section.green p,
section.green ul,
section.green li,
section.green h2,
section.green h3,
section.green h4,
section.green h5,
section.green h6 {
  color: whitesmoke;
}
section.green header.major h2,
section.green header.major p {
  color: whitesmoke;
}
header.green,
header.green h2,
header.green p {
  color: whitesmoke;
  background-color: transparent;
}
.icon.green * {
  color: whitesmoke;
}
.icon.green a:hover {
  color: red;
}