/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
a {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
a.button {
  transition: all 0.45s ease-in-out;
}
a.button.special {
  transition: all 0.45s ease-in-out;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.45s ease-in-out, color 0.45s ease-in-out;
  -webkit-transition: background-color 0.45s ease-in-out, color 0.45s ease-in-out;
  -ms-transition: background-color 0.45s ease-in-out, color 0.45s ease-in-out;
  transition: background-color 0.45s ease-in-out, color 0.45s ease-in-out;
}
#banner h2 {
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
}
#banner h2:before,
#banner h2:after {
  -moz-transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -ms-transition: width 1s ease;
  transition: width 1s ease;
  -moz-transition-delay: 0.45s;
  -webkit-transition-delay: 0.45s;
  -ms-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
#banner .more {
  -moz-transition: -moz-transform 1s ease, opacity 1s ease;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
  -ms-transition: -ms-transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  -moz-transition-delay: 3s;
  -webkit-transition-delay: 3s;
  -ms-transition-delay: 3s;
  transition-delay: 3s;
}
#banner:after {
  -moz-transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
.blogarchive a {
  transition: all 0.45s ease;
}
.blogarchive a:hover * {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.blogarchive a:hover p {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
#footer .icons a {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
#footer .icons a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
#header {
  -moz-transition: background-color 0.45s ease;
  -webkit-transition: background-color 0.45s ease;
  -ms-transition: background-color 0.45s ease;
  transition: background-color 0.45s ease;
}
#header h1 {
  -moz-transition: opacity 0.45s ease;
  -webkit-transition: opacity 0.45s ease;
  -ms-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
}
.gray a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.icon.gray a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.green a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.icon.green a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.light a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.icon.light a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.purple a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.icon.purple a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.transparent a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}
.icon.transparent a:hover {
  -moz-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -webkit-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  -ms-transition: color 0.45s ease, border-bottom-color 0.45s ease;
  transition: color 0.45s ease, border-bottom-color 0.45s ease;
}