@using BasicFrontend.Umbraco.Controllers

@model BasicFrontend.Umbraco.Models.ContactViewModel

@using (Html.BeginUmbracoForm<ContactSurfaceController>("CreateContactMessage"))
{

    if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(true, "Houston, we have a problem. Check things over and try again.")
    }

    <div class="form-group">

        <label for="Name">Name</label>

        <input type="text"
               class="form-control"
               id="Name"
               aria-describedby="Name"
               placeholder="Enter Name" required>

        <div class="invalid-tooltip" id="Name">
            Name is required
        </div>

    </div>

    <div class="form-group">

        <label for="EmailAddress">EmailAddress</label>

        <input type="email"
               class="form-control"
               id="EmailAddress"
               aria-describedby="EmailAddress"
               placeholder="Enter EmailAddress" required>

        <div class="invalid-tooltip" id="EmailAddress">
            EmailAddress is required
        </div>

    </div>

    <div class="form-group">

        <label for="Message">Message</label>

        <textarea class="form-control"
                      id="Message"
                      aria-describedby="Message"
                      placeholder="Enter Message" required></textarea>

        <div class="invalid-tooltip" id="Message">
            Message is required
        </div>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-light btn-sm">Submit</button>
    </div>

}