@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Web.Mvc;

@{
    var homePage = Model.Content.AncestorOrSelf(1);
    var configPage = homePage.Descendant<SiteGlobal>();
}

<ul class="icons">
    <li><a href="https://www.xing.com/profile/Kay_Stuckenschmidt/cv?sc_o=mxb_p" class="fab fa-xing" target="_blank"><span class="label" target="_blank"></span></a></li>
    <li><a href="https://www.linkedin.com/in/responsivekaysta/" class="fab fa-linkedin" target="_blank"><span class="label"></span></a></li>
	<li><a href="https://github.com/responsive-kaysta" class="fab fa-github" target="_blank"><span class="label"></span></a></li>
	<li><a href="https://www.nuget.org/profiles/kaysta" class="fas fa-archive" target="_blank"><span class="label"></span></a></li>
</ul>

<div class="copyright">
    <span>&copy; @DateTime.Now.Year @configPage.SiteAuthor</span>
</div>