// out: false

@import "../global.less";

a {
  color: @global-link-color;
  border-bottom: 0;
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

a:hover {
  color: @global-link-hover-color;
  text-transform: @global-text-transform;
  text-decoration: @global-text-decoration;
  cursor: pointer;
}

a.link-h-padding:nth-child(1) {
  padding-left: 0;
}

a.link-h-padding {
  padding-left: 1.5rem;
}
