*.gen
*.hash
*.cache
*.log
*.manifest
*.user
*.suo
*.lock
*.ide

*.dll
*.pdb

*.*.dll
*.*.pdb


/BasicFrontend.dev/App_Data/Logs
/BasicFrontend.dev/obj/Debug
/BasicFrontend.dev/obj/Release
/BasicFrontend.dev/App_Data/TEMP/PluginCache
/BasicFrontend.dev/App_Data/TEMP/ExamineIndexes
/BasicFrontend.dev/App_Data/TEMP/DistCache
/BasicFrontend.dev/App_Data/TEMP/ClientDependency

/BasicFrontend.prod/App_Data/Logs
/BasicFrontend.prod/obj/Debug
/BasicFrontend.prod/obj/Release
/BasicFrontend.prod/App_Data/TEMP/PluginCache
/BasicFrontend.prod/App_Data/TEMP/ExamineIndexes
/BasicFrontend.prod/App_Data/TEMP/DistCache
/BasicFrontend.prod/App_Data/TEMP/ClientDependency

\.vs/BasicFrontend/v15/Server/sqlite3/

\.vs/
/packages
