@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner">
    <div class="inner">
        <h2>About</h2>
        <p>Unsere grösste Schwäche liegt im Aufgeben. <br />Der sicherste Weg zum Erfolg ist immer, <br />es doch noch einmal zu versuchen. <br /><br />Thomas. A. Edison</p>

    </div>
    <a href="#one" class="more scrolly">weiter</a>
</section>

<div class="wrapper alt style5">

    <div class="umb-grid">
        <div class="grid-section">
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>

                            <section class="spotlight equal">
                                <div class="image">
                                    <img class="wide" src="/media/1012/photo-1485856407642-7f9ba0268b51.jpg" alt="no hurry no worry...">
                                </div>
                                <div class="content">
                                    <h2>&#220;ber responsive IT</h2>
                                    <p>Wertvolle Erfahrungen sammeln und F&#228;higkeiten in spannenden Projekten einsetzen oder erlernen.</p>
                                    <ul class="actions">
                                        <li><a href="/about/us/" class="button special">Weiter</a></li>
                                    </ul>
                                </div>
                            </section>

                            <section class="spotlight equal">
                                <div class="image">
                                    <img class="wide" src="/media/1011/analytics-programming.png" alt="think, plan, akt">
                                </div>
                                <div class="content">
                                    <h2>Grunds&#228;tze</h2>
                                    <p>Grunds&#228;tze der t&#228;glichen Arbeit - 4 einfache Prinzipien die einfach Sicht machen</p>
                                    <ul class="actions">
                                        <li><a href="/about/laws/" class="button special">Weiter</a></li>
                                    </ul>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
