@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article id="main">
    <header>
        <h2>Only simple Elements</h2>
        <p>Style: style2, Colour Scheme: light</p>
    </header>
    <section class="wrapper light">
        <div class="inner">
            <div class="container">
                    


                <div class="umb-grid">
                    <div class="grid-section">
                        <div >
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div >
                            
    
    
                                        <div class='page-header'><h1>Page Header, with underline...</h1></div>
    


                            
    
    
                                        <div class='abstract'>Abstract, after the Headline</div>
    


                                    </div>
                                </div>        </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

</article>