@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">

        <article id="main">
            <header>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
            </section>
        </article>

    </div>
</div>
