@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article id="main">
    <header>
        <h2>Haftungsausschluss/Disclaimer</h2>
        <p>Inhalt des Onlineangebotes</p>
    </header>

                <div class="umb-grid">
                    <div class="grid-section">
                        <div>
                            <div class="row clearfix">
                                <div class="col-md-12 column">


                                        <div class='abstract'>Gew&#228;hr</div>

                                        <p>Der Autor &#252;bernimmt keinerlei Gew&#228;hr f&#252;r die Aktualit&#228;t, Richtigkeit und Vollst&#228;ndigkeit der bereitgestellten Informationen auf unserer Website. Haftungsanspr&#252;che gegen den Autor, welche sich auf Sch&#228;den materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollst&#228;ndiger Informationen verursacht wurden, sind grunds&#228;tzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vors&#228;tzliches oder grob fahrl&#228;ssiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der Autor beh&#228;lt es sich ausdr&#252;cklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ank&#252;ndigung zu ver&#228;ndern, zu erg&#228;nzen, zu l&#246;schen oder die Ver&#246;ffentlichung zeitweise oder endg&#252;ltig einzustellen.</p>

                                        <div class='abstract'>Verweise und Links</div>

                                        <p>Bei direkten oder indirekten Verweisen auf fremde Webseiten (“Hyperlinks”), die au&#223;erhalb des Verantwortungsbereiches des Autors liegen, w&#252;rde eine Haftungsverpflichtung ausschlie&#223;lich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch m&#246;glich und zumutbar w&#228;re, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erkl&#228;rt hiermit ausdr&#252;cklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zuk&#252;nftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verkn&#252;pften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdr&#252;cklich von allen Inhalten aller verlinkten /verkn&#252;pften Seiten, die nach der Linksetzung ver&#228;ndert wurden.</p>

                                        <p>Diese Feststellung gilt f&#252;r alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie f&#252;r Fremdeintr&#228;ge in vom Autor eingerichteten G&#228;steb&#252;chern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe m&#246;glich sind. F&#252;r illegale, fehlerhafte oder unvollst&#228;ndige Inhalte und insbesondere f&#252;r Sch&#228;den, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der &#252;ber Links auf die jeweilige Ver&#246;ffentlichung lediglich verweist.</p>

                                        <div class='abstract'>Urheber- und Kennzeichenrecht</div>

                                        <p>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zur&#252;ckzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte gesch&#252;tzten Marken- und Warenzeichen unterliegen uneingeschr&#228;nkt den Bestimmungen des jeweils g&#252;ltigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigent&#252;mer. Allein aufgrund der blo&#223;en Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter gesch&#252;tzt sind! Das Copyright f&#252;r ver&#246;ffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielf&#228;ltigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdr&#252;ckliche Zustimmung des Autors nicht gestattet.</p>

                                        <div class='abstract'>Datenschutz</div>

                                        <p>Sofern innerhalb des Internetangebotes die M&#246;glichkeit zur Eingabe pers&#246;nlicher oder gesch&#228;ftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdr&#252;cklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist – soweit technisch m&#246;glich und zumutbar – auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben ver&#246;ffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur &#220;bersendung von nicht ausdr&#252;cklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verst&#246;ssen gegen dieses Verbot sind ausdr&#252;cklich vorbehalten.</p>

                                        <div class='abstract'>Google Analytics/TagManager</div>

                                        <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (“Google”). Google Analytics verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie erm&#246;glicht. Die durch den Cookie erzeugten Informationen &#252;ber Ihre Benutzung diese Website (einschlie&#223;lich Ihrer IP-Adresse) wird an einen Server von Google in den USA &#252;bertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports &#252;ber die Websiteaktivit&#228;ten f&#252;r die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte &#252;bertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Sie k&#246;nnen die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht s&#228;mtliche Funktionen dieser Website voll umf&#228;nglich nutzen k&#246;nnen. Durch die Nutzung dieser Website erkl&#228;ren Sie sich mit der Bearbeitung der &#252;ber Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>

                                        <div class='abstract'>Rechtswirksamkeit dieses Haftungsausschlusses</div>

                                        <p>Dieser Haftungsausschluss/Disclaimer ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollst&#228;ndig entsprechen sollten, bleiben die &#252;brigen Teile des Dokumentes in ihrem Inhalt und ihrer G&#252;ltigkeit davon unber&#252;hrt.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
