@using BasicFrontend.Application;

@{
    var appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">


        <section id="banner">
            <div class="inner">
                <h2>Banner Headline</h2>
                <p>Banner Paragraph</p>

            </div>
            <a href="#one" class="more scrolly">weiter</a>
        </section>

        <div class="wrapper alt light">

            <div class="umb-grid">
                <div class="grid-section">

                    <div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>

                                    <section id="one" class="wrapper style1 special">
                                        <div class="inner">
                                            <header class="major">
                                                <h2>Eye Catcher</h2>
                                                <p>Type: Landing Page, Colour Schema: blue, wrapper style: green ground</p>
                                            </header>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>

                                    <section class="spotlight equal">
                                        <div class="image">
                                            <img class="wide" src="/media/1006/1.jpg" alt="Information Flow">
                                        </div>
                                        <div class="content">
                                            <h2>Spotlight 1</h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            <ul class="actions">
                                                <li><a href="/examples/" class="button special">Button</a></li>
                                            </ul>
                                        </div>
                                    </section>

                                    <section class="spotlight equal">
                                        <div class="image">
                                            <img class="wide" src="/media/1009/mobappvsweb-blogcontent.png" alt="All Devices">
                                        </div>
                                        <div class="content">
                                            <h2>Spotlight 2</h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            <ul class="actions">
                                                <li><a href="/examples/" class="button special">Button</a></li>
                                            </ul>
                                        </div>
                                    </section>

                                    <section class="spotlight equal">
                                        <div class="image">
                                            <img class="wide" src="/media/1010/pcb-background-loopable-animation-footage-021546325_prevstill.jpg" alt="Structured">
                                        </div>
                                        <div class="content">
                                            <h2>Spotlight 3</h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                            <ul class="actions">
                                                <li><a href="/examples/" class="button special">Button</a></li>
                                            </ul>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>