@using BasicFrontend.Application;

@{
    var appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner">
    <div class="inner">
        <h2>responsive IT</h2>
        <p>Technologien unterstützen die Effizienz und den Komfort einer Lösung</p>

    </div>
    <a href="#one" class="more scrolly">weiter</a>
</section>


    <div class="umb-grid">
        <div class="grid-section">
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>

                            <section id="one" class="wrapper style1 special">
                                <div class="inner">
                                    <header class="major">
                                        <h2>Responsive</h2>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </header>
                                </div>
                            </section>

                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>


                            <div class="container">
                                <section id="cta" class="wrapper">
                                    <div class="inner">
                                        <header>
                                            <h2>Wenn Sie genau wissen was Sie m&#246;chten</h2>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        </header>
                                        <ul class="actions vertical">
                                            <li><a href="/examples-page/" class="button fit special">Examples</a></li>
                                            <li><a href="/examples-page/" class="button fit">Examples</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div>

                            <section class="spotlight equal">
                                <div class="image">
                                    <img class="wide" src="/media/1006/1.jpg" alt="Intelligente L&#246;sungen">
                                </div>
                                <div class="content">
                                    <h2>Intelligente L&#246;sungen</h2>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <ul class="actions">
                                        <li><a href="/" class="button special">Button</a></li>
                                    </ul>
                                </div>
                            </section>

                            <section class="spotlight equal">
                                <div class="image">
                                    <img class="wide" src="/media/1008/mainboard-1174219.jpg" alt="Hightech mit Erfahrung">
                                </div>
                                <div class="content">
                                    <h2>Hightech mit Erfahrung</h2>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    <ul class="actions">
                                        <li><a href="/" class="button special">Button</a></li>
                                    </ul>
                                </div>
                            </section>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
