@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner">
    <div class="inner">
        <h2>responsive kaysta</h2>
        <p>
            Technologien unterstützen die<br />
            Effizienz und den Komfort einer<br />
            Lösung...
        </p>
        <ul class="actions">								
            <li><a href="/" class="button special">Über mich...</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly">Weiter lesen...</a>
</section>