@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article id="main">
    <header>
        <h2>Only simple Elements</h2>
        <p>Style: style5, Colour Scheme: light</p>
    </header>

    <section class="wrapper style3">
        <div class="inner">
            <div class="container purple">

                <div class="umb-grid">
                    <div class="grid-section">
                        <div>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div>

                                        <div class='abstract'>Abstract to seperate textblocks</div>

                                        <p class='lead'>Leadtext: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

                                        <p>Paragraph: At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

                                        <div class="equalizer">
                                            <div class="col-sm-8">
                                                <div class="equal center">
                                                    <blockquote>Quote: At vero eos et accusam et justo duo dolores et ea rebum.</blockquote>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="equal">
                                                    <p class="small vcenter">
                                                        <strong>Headline: Quote with description</strong>
                                                        <br>
                                                        Description: Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div>

                                        <div class="jumbotron">
                                            <h1>Jumbotron Headline</h1>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</article>