// out: false

@import "../global.less";

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: @global-large-side-padding;
  padding-right: @global-large-side-padding;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 980px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: @global-medium-side-padding;
    padding-right: @global-medium-side-padding;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (max-width: 736px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: @global-small-side-padding;
    padding-right: @global-small-side-padding;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
