/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
section.special {
  text-align: center;
  padding-top: 2.75rem;
  padding-bottom: 0.5rem;
}
section#banner > div {
  color: whitesmoke !important;
  background-color: transparent !important;
}
section#banner > div h2 {
  color: whitesmoke !important;
  background-color: transparent !important;
}
section#banner > div p {
  color: whitesmoke !important;
  background-color: transparent !important;
}