/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
header p {
  position: relative;
  top: -0.25rem;
}
header#header h1 {
  padding-top: 0.9rem;
}
header h3 + p {
  font-size: 1.1rem;
}
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9rem;
}
header.major h2 {
  margin-bottom: 1.5rem;
  padding-bottom: 1.0rem;
  border-bottom: whitesmoke solid thin;
}
header.major p {
  padding-bottom: 2.75rem;
}
@media screen and (max-width: 980px) {
  header br {
    display: none;
  }
}
#main > header h2 {
  font-size: 1.75rem;
  margin: 0 0 1rem 0;
}
#main > header p {
  letter-spacing: 0.225rem;
  top: 0;
}
#header {
  -moz-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background: #2e3842;
  height: 3rem;
  left: 0;
  line-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
#header h1 {
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  height: inherit;
  left: 1.25rem;
  line-height: inherit;
  position: absolute;
  top: 0;
}
#header h1 a {
  border: 0;
  display: block;
  height: inherit;
  line-height: inherit;
}
@media screen and (max-width: 736px) {
  #header h1 a {
    font-size: 0.8rem;
  }
}
#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 0;
  top: 0;
}
#header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#header nav > ul > li {
  display: inline-block;
  padding: 0;
}
#header nav > ul > li > a {
  border: 0;
  color: #fff;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.225rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
}
#header nav > ul > li > a.menuToggle {
  outline: 0;
  position: relative;
}
#header nav > ul > li > a.menuToggle:after {
  background-image: url("/Frontend/images/bars.svg");
  background-position: right center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 3.75rem;
  vertical-align: middle;
  width: 2rem;
}
@media screen and (max-width: 736px) {
  #header nav > ul > li > a.menuToggle {
    padding: 0 1.5rem;
  }
  #header nav > ul > li > a.menuToggle span {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  #header nav > ul > li > a {
    padding: 0 0 0 1.5rem;
  }
}
#header nav > ul > li:first-child {
  margin-left: 0;
}
#header.alt {
  background: transparent;
}
#header.alt h1 {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0;
}