/* abstract.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* style1 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.abstract {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.abstract {
  margin-bottom: 0.75rem;
}