/* hr.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* light -> obsolete: style5 */
/* transparent -> obsolete: style4 */
/* button */
/* code */
/* banner */
/* footer */
hr {
  border: 0;
  border-bottom: solid 2px whitesmoke;
  margin: 3em 0;
}
hr.major {
  margin: 4.5em 0;
}