/* image.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
img {
  max-width: 100%;
  height: auto;
}
.image {
  border-radius: 3px;
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  border-radius: 3px;
  display: block;
}
.image.left {
  float: left;
  margin: 0 2em 2em 0;
  top: 0.25em;
}
.image.right {
  float: right;
  margin: 0 0 2em 2em;
  top: 0.25em;
}
.image.left,
.image.right {
  max-width: 40%;
}
.image.left img,
.image.right img {
  width: 100%;
}
.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}