/* text.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
p {
  font-size: 1.0rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
p {
  margin-bottom: 2em;
}
strong,
b {
  font-weight: 600;
}
em,
i {
  font-style: italic;
}
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}
.lead {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}
.lead {
  margin: 0;
}
.lead {
  margin-bottom: 1.0rem;
}
.small {
  font-size: .85rem;
}
.headline {
  font-size: 1.6em;
  margin-bottom: 1.0rem;
}
.tagline {
  font-weight: 100;
  font-size: 1.4em;
  margin-bottom: 1.0rem;
}
.paragraph {
  color: inherit;
}
.paragraph-2col {
  color: inherit;
}
.paragraph-3col {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .paragraph {
    -webkit-columns: 300px 1;
    -moz-columns: 300px 1;
    columns: 300px 1;
  }
  .paragraph-2col {
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
  }
  .paragraph-3col {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
  }
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}