/* box.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style2 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.box {
  border-radius: 3px;
  border: solid 2px whitesmoke;
  margin-bottom: 2em;
  padding: 1.5em;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}