/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.purple {
  color: #d3d4e4;
  background-color: #505393;
}
.purple a:hover {
  color: red;
}
.purple .page-header {
  width: 100%;
  color: #d3d4e4;
  border-bottom: #d3d4e4 solid thin !important;
}
section.purple a,
section.purple p,
section.purple ul,
section.purple li,
section.purple h2,
section.purple h3,
section.purple h4,
section.purple h5,
section.purple h6 {
  color: #d3d4e4;
}
div.purple a,
div.purple p,
div.purple ul,
div.purple li,
div.purple h2,
div.purple h3,
div.purple h4,
div.purple h5,
div.purple h6 {
  color: #d3d4e4;
}
section.purple header.major h2,
section.purple header.major p {
  color: #d3d4e4;
}
header.purple,
header.purple h2,
header.purple p {
  color: whitesmoke;
  background-color: transparent;
}
.icon.purple * {
  color: #d3d4e4;
}
.icon.purple a:hover {
  color: red;
}