// out: false

@import "../global.less";

.blogarchive div[class^="col-"] {
    margin-bottom: 0.75rem !important;
    margin-top: 0.75rem;
    float: left;
}

.blogarchive h3 {
    padding-bottom: 0.75rem;
}

.blogarchive a {
    border-radius: @box-corner-radius;
    white-space: normal;
    padding: 1.25rem;
    display: block;
}

.blogarchive a:hover * {
    text-decoration: none;
    color: @global-link-hover-color;
}

.blogarchive a:hover p {
    text-decoration: underline;
    color: @global-link-hover-color;    
}

.blogarchive .date {
    text-align: right;
}

.blogarchive p.paragraph {
    min-height: 60px;
}