// out: false

@import "../global.less";

.blogarchive {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blogarchive div[class^="item-"] {
  margin: 0.75rem !important;
  flex-direction: row;
  width: 40%;
}

.blogarchive h3 {
  padding-bottom: 0.75rem;
}

.blogarchive a {
  text-decoration: none;
}

.blogarchive a:hover * {
  text-decoration: none;
  color: @global-link-hover-color;
}

.blogarchive a:hover p {
  text-decoration: underline;
  color: @global-link-hover-color;
}

.blogarchive .date {
  text-align: right;
}

.blogarchive p.paragraph {
  min-height: 60px;
}

@media screen and (max-width: 980px) {
  .blogarchive div[class^="item-"] {
    margin: 0.35rem !important;
    display: block;
    width: 80%;
  }

  .blogarchive h3 {
    font-size: 1.1rem !important;
    line-height: 1.1rem !important;
    padding-bottom: 0.35rem;
  }

  .blogarchive .date {
    font-size: 0.65rem !important;
    line-height: 0.75rem !important;
    padding-bottom: 0.35rem;
  }

  .blogarchive p.paragraph {
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 736px) {
  .blogarchive div[class^="item-"] {
    margin: 0.25rem !important;
    display: block;
    width: 80%;
  }

  .blogarchive h3 {
    font-size: 1rem !important;
    line-height: 1rem !important;
    padding-bottom: 0.25rem;
  }

  .blogarchive .date {
    font-size: 0.65rem !important;
    line-height: 0.75rem !important;
    padding-bottom: 0.35rem;
  }

  .blogarchive p.paragraph {
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 0.1rem;
  }
}
