// out: false

@import "../global.less";

.spinner {
  animation: spinner-spin infinite 2s linear;
  background-color: transparent;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 9990;
  width: 100px;
  height: 100px;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
