// out: false

@import "../global.less";

.spotlight {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.spotlight-left .image {
  justify-content: flex-start;
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  border-radius: 0;
  max-width: 20%;
}

.spotlight-right .image {
  justify-content: flex-end;
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  border-radius: 0;
  max-width: 20%;
}

.spotlight .image img {
  border-radius: 0;
  padding: 0.75rem;
  max-height: 128px;
}

.spotlight-left .content {
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  max-width: 80%;
}

.spotlight-right .content {
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  max-width: 80%;
}

.spotlight .content h2 {
  font-size: 1.5rem !important;
  padding-top: 0.75rem;
  padding-left: 1.25rem;
  padding-bottom: 0.75rem;
}

.spotlight .content p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  padding-left: 1.25rem;
  padding-bottom: 0.75rem;
}
