// out: false

@import "../global.less";

.flex-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.box {
  padding: 1.25rem;
  margin: 0.25rem;
  width: 100%;
  text-align: center;
  flex: 1;
}

.box-four-in-row {
  padding: 1.25rem;
  margin: 0.25rem;
  width: 20%;
  text-align: center;
  flex: 1;
}

.box-three-in-row {
  padding: 1.25rem;
  margin: 0.25rem;
  width: 30%;
  text-align: center;
  flex: 1;
}

.flex-box > .box:first-child,
.flex-box > .box-four-in-row:first-child,
.flex-box > .box-three-in-row:first-child {
  margin-left: 0;
}

.flex-box > .box:last-child,
.flex-box > .box-four-in-row:last-child,
.flex-box > .box-three-in-row:last-child {
  margin-right: 0;
}
