/* box.less */

.box {
    //padding-bottom: 0;
    //padding-top: 1.0rem;
}

    .box > .lead {
        //padding: 0;
        //padding-bottom: 0.25rem;
       // margin: 0;
    }

    .box > p {
        //padding-bottom: 0.5rem;
        //padding-top: 0;
    }

    .box > .h1 {
        text-align: center;
        font-size: 2.0rem;
        font-weight: 900;
        //padding-bottom: 0.5rem;
    }

    .box > .h2 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        //padding-bottom: 0.5rem;
    }
