/* landing.less */

body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

body.landing #footer {
    background-color: rgba(29, 36, 42, 0.9);
}

body.is-mobile.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/Internet-of-Things-1920xx.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.is-mobile.landing #footer {
    background-color: #1d242a;
}
