/* main.less */
#main > header {
  padding: 12em 20em 10em 20em;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Internet-of-Things-1920xx.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Internet-of-Things-1920xx.png");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Internet-of-Things-1920xx.png");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Internet-of-Things-1920xx.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#main > header h2 {
  font-size: 1.75em;
  margin: 0 0 0.5em 0;
}
#main > header p {
  color: inherit;
  letter-spacing: 0.225em;
  text-transform: uppercase;
  top: 0;
}
#main > header p a {
  color: inherit;
}
@media screen and (max-width: 1680px) {
  #main > header {
    padding: 10em 20em 8em 20em;
  }
}
@media screen and (max-width: 1280px) {
  #main > header {
    padding: 8em 10em 6em 10em;
  }
}
@media screen and (max-width: 980px) {
  #main > header {
    padding: 10em 3em 8em 3em;
  }
}
@media screen and (max-width: 736px) {
  #main > header {
    padding: 5em 3em 3em 3em;
  }
  #main > header h2 {
    font-size: 1.25em;
    margin: 0 0 1em 0;
  }
}
body.is-mobile #main > header {
  background-attachment: scroll;
}
