/* text.less */
h1 {
  font-weight: 900;
}
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  letter-spacing: -0.2px;
  font-size: 2rem;
}
h2 {
  font-size: 1.60rem;
  font-weight: 900;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
  margin-bottom: 3px;
}
h5 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}
h5 + * {
  margin-bottom: 20px;
}
h5 a {
  font-size: inherit;
  font-family: inherit !important;
}
p {
  font-size: 1.0rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
p {
  color: white;
}
p {
  margin-bottom: 1.0rem;
}
.lead {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}
.lead {
  margin: 0;
}
.lead {
  margin-bottom: 1.0rem;
}
.small {
  font-size: .85rem;
}
.headline {
  font-size: 62px;
  margin-bottom: 1.0rem;
}
.tagline {
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 1.0rem;
}
strong {
  font-weight: 900;
}
