/* wrapper.less */
.wrapper {
  padding: 0;
  margin: 0;
}
.wrapper .inner {
  padding: 0;
  margin: 0;
}
.wrapper .inner .col-md-12 {
  padding-left: 1em;
  padding-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0px;
}
@media screen and (max-width: 1920px) {
  .wrapper > .inner {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper > .inner {
    width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .wrapper > .inner {
    width: 100%;
  }
}
.wrapper.alt {
  padding: 0;
}
.wrapper.style2 {
  background-color: #2e3842;
}
.wrapper.style4 {
  background-color: transparent;
}
