// out: false

@import "../global.less";

.container.transparent ul li {
  color: @style-transparent-color;
}

.transparent {
  color: @style-transparent-color;
  background-color: @style-transparent-bg-color !important;
}

.transparent a:hover {
  color: @style-transparent-hover-color;
}

.transparent .page-header {
  width: 100%;
  color: @style-transparent-color;
  border-bottom: @style-transparent-border-color solid thin !important;
}

.transparent .abstract {
  color: @style-transparent-color !important;
}

.container.transparent .abstract {
  color: @style-transparent-color !important;
}

table thead {
  border-bottom: solid 2px @style-transparent-border-color !important;
}

table tfoot {
  border-top: solid 2px @style-transparent-border-color !important;
}

table.alt tbody tr td {
  border: solid 1px @style-transparent-border-color !important;
  border-left-width: 0;
  border-top-width: 0;
}
