// out: false

@import "../global.less";

/*
header p {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: -0.25rem;
}

header#header h1 {
    padding-top: 0.9rem;
}


header h3 + p {
    font-size: 1.1rem;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9rem;
}
*/

header.major h2 {
    border-bottom: @global-border;
    margin: 0;
    padding: 0;
}

header.major p {
    margin: 0;
    padding: 0;
}

#header {
    background-color: @global-bg-color;
    // height: 3rem;
    left: 0;
    line-height: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    #header h1 {
        height: inherit;
        left: 1.25rem;
        line-height: inherit;
        position: absolute;
        top: 0;
        padding-top: 1rem;
    }

    #header h1 a {
        border: 0;
        display: block;
        height: inherit;
        line-height: inherit;
    }

    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        color: @global-text-color;
        background-color: @global-bg-color;  
    }

        #header nav > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }

        #header nav > ul > li {
            display: inline-block;
            padding: 0;
        }

        #header nav > ul > li > a {
            border: 0;
            color: #fff;
            display: block;
            font-size: 0.8rem;
            letter-spacing: 0.225rem;
            padding: 0 1.5rem;
            text-transform: uppercase;
        }

    #header nav > ul > li > a.menuToggle {
        outline: 0;
        position: relative;
    }

    #header nav > ul > li > a.menuToggle:after {
        background-image: url(@global-bars-image);
        background-position: right center;
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 3.75rem;
        vertical-align: middle;
        width: 2rem;
    }

    #header nav > ul > li:first-child {
        margin-left: 0;
    }

    #header.alt {
        background: transparent;
    }

    #header.alt h1 {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0;
    }
