<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Export" DateTime="Tuesday, September 18, 2018 9:21:43 AM">
  <Actions>
    <Action Change="Export" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Grid layout" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Header Type - Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Hide in Menu - TrueFalse" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Introduction - Textarea" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Meta Description - Textarea" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Meta Keywords - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Page Style - Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Page Type - Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Site Author - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Site Logo - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Site Title - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Title - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="_Layout" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Anchor Page" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Blog Overview" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Blog Post" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Contact Page" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Content Page" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Landing Page" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Blog Overview" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Blog Post" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Contact Page" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Content Page" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Landing Page" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Content Grid" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Page Defaults" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Site Global" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Folder" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Image" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="File" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Member" Type="IMemberType" />
    <Action Change="Export" Success="true" Message="" Name="en-US" Type="ILanguage" />
    <Action Change="Export" Success="true" Message="" Name="Home_Spotlight" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="bootstrap_snip.PNG" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="jQuery_snip.PNG" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Umbraco_snip.PNG" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Site_Background" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="XBx9A0O.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="1d940749740655.560867a146b61.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="287309.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="56929080_thumbnail.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="cool-high-tech-wallpaper-30878-31608-hd-wallpapers.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="high-tech-wallpaper-hd-3438-3647-hd-wallpapers.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Internet-of-Things-1920xx.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Website-Design-Background.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Site_Global" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Examples" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Spotlight_Coffee" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="communication.jpeg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="competence.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="contact.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="contact_2.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="responsive-it.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="technic.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="technic_2.jpg" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Examples_PageDefault_LandingPage_h320.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Example_Landing_Page_1.PNG" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Example_Landing_Page_1_h320.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Example_Overview_Page_1.PNG" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Example_Overview_Page_1_h320.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Examples_PageDefault_LandingPage.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Capture_Example_Landing_Page_1_h468.png" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Home" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Examples" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Landing Page 1" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Overview Page 1" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Landing Page 2" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Overview Page 2" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Overview Page 3" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Landing Page 3" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="About" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Disclaimer" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Contact" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Site Global" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Landing Page" Type="IContent" />
    <Action Change="Export" Success="true" Message="" Name="Example - Overview Page" Type="IContent" />
  </Actions>
</uSync>