@import "../global.vars.less";

a {
    border-bottom: dotted 1px;    
    text-decoration: @base-text-decoration;
    font-family: @base-font-family;
    text-transform: @base-text-transform;
}

a:hover {
    text-transform: @base-text-transform !important;
    text-decoration: @base-text-decoration !important;
    border-bottom-color: transparent;
}

a {
    color: @base-color;
}

a:hover {
    color: @base-hover-color;
}