@import "../global.vars.less";

.light {
    color: @style-light-color;
    background-color: @style-light-bg-color;
}

.light a, p, h1, h2, h3, h4, h5, h6, div, span, ul, li, ol{
    color: @style-light-color;

}

.light a:hover {
    color: @style-light-hover-color;
}

.light .page-header {
    width: 100%;
    color: @style-light-color;
    border-bottom: @style-light-border-color solid thin !important;
}
