/* style-transparent.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.light .page-header {
  width: 100%;
  border-bottom: lightgray solid thin !important;
}
.wrapper.transparent {
  background-color: transparent;
}