@import "../global.vars.less";

.purple {
    color: @style-purple-color;
    background-color: @style-purple-bg-color;
}

.purple a:hover {
    color: @style-purple-hover-color;
}

.purple .page-header {
    width: 100%;
    color: @style-purple-color;
    border-bottom: @style-purple-border-color solid thin !important;
}

header.purple,
header.purple h2, 
header.purple p {
    color: @base-color;
    background-color: @style-transparent-bg-color;
}

section.purple * {
    color: @style-purple-color;
    background-color: @style-purple-bg-color;
}