/* style-gray.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.gray {
  background: darkgray;
  color: whitesmoke;
}
.gray * {
  background: darkgray;
  color: whitesmoke;
}
.gray a {
  width: 100%;
}
.gray .date {
  text-align: right;
}
.gray .page-header {
  width: 100%;
  border-bottom: whitesmoke solid thin !important;
}
header.major h2 {
  border-bottom: whitesmoke solid thin !important;
}
.wrapper.gray {
  background: darkgray;
  color: whitesmoke;
}
.wrapper.gray * {
  background: darkgray;
  color: whitesmoke;
}
.wrapper.gray hr {
  background: darkgray;
  color: whitesmoke;
  border-color: darkgray;
}
.wrapper.gray blockquote {
  background: darkgray;
  color: whitesmoke;
  border-color: darkgray;
}
.wrapper.gray code {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.gray input[type="text"],
.wrapper.gray input[type="password"],
.wrapper.gray input[type="email"],
.wrapper.gray select,
.wrapper.gray textarea {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.gray .select-wrapper:before {
  color: whitesmoke;
}
.wrapper.gray input[type="checkbox"] + label,
.wrapper.gray input[type="radio"] + label {
  color: whitesmoke;
}
.wrapper.gray input[type="checkbox"] + label:before,
.wrapper.gray input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.0375) !important;
}
.wrapper.gray input[type="checkbox"]:checked + label:before,
.wrapper.gray input[type="radio"]:checked + label:before {
  background: #2E3842 !important;
  color: whitesmoke;
}
.wrapper.gray ::-webkit-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.gray :-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.gray ::-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.gray :-ms-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.gray .formerize-placeholder {
  color: #8E8892 !important;
}
.wrapper.gray .icon.major {
  border-color: whitesmoke;
}
.wrapper.gray ul.alt li {
  border-color: whitesmoke;
}
.wrapper.gray table tbody tr {
  border-color: whitesmoke;
}
.wrapper.gray table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.0375) !important;
}
.wrapper.gray table th {
  color: whitesmoke;
}
.wrapper.gray table thead {
  border-color: whitesmoke;
}
.wrapper.gray table tfoot {
  border-color: whitesmoke;
}
.wrapper.gray table.alt tbody tr td {
  border-color: whitesmoke;
}
.wrapper.gray input[type="submit"],
.wrapper.gray input[type="reset"],
.wrapper.gray input[type="button"],
.wrapper.gray button,
.wrapper.gray .button {
  box-shadow: inset 0 0 0 2px #dfdfdf;
  color: #2E3842;
}
.wrapper.gray input[type="submit"]:hover,
.wrapper.gray input[type="reset"]:hover,
.wrapper.gray input[type="button"]:hover,
.wrapper.gray button:hover,
.wrapper.gray .button:hover {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.gray input[type="submit"]:active,
.wrapper.gray input[type="reset"]:active,
.wrapper.gray input[type="button"]:active,
.wrapper.gray button:active,
.wrapper.gray .button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
