/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.light .page-header {
  width: 100%;
  border-bottom: #5e5e5e solid thin !important;
}
.wrapper .container .blogarchive div.light {
  background: whitesmoke;
  color: #5e5e5e !important;
}
.wrapper.light {
  background-color: whitesmoke;
  color: #5e5e5e;
}
.wrapper.light hr {
  border-color: #5e5e5e;
}
.wrapper.light blockquote {
  border-color: #5e5e5e;
}
.wrapper.light code {
  background: #5e5e5e;
}
.wrapper.light ul li {
  color: #5e5e5e;
}
.wrapper.light ul li a * {
  color: #5e5e5e;
}
.wrapper.light ul li a:hover {
  color: red;
}
.wrapper.light header.major h2,
.wrapper.light header.major h3,
.wrapper.light header.major h4,
.wrapper.light header.major h5,
.wrapper.light header.major h6 {
  border-color: #5e5e5e;
}
.wrapper.light input[type="text"],
.wrapper.light input[type="password"],
.wrapper.light input[type="email"],
.wrapper.light select,
.wrapper.light textarea {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.light .select-wrapper:before {
  color: rgba(0, 0, 0, 0.125);
}
.wrapper.light input[type="checkbox"] + label,
.wrapper.light input[type="radio"] + label {
  color: #5e5e5e;
}
.wrapper.light input[type="checkbox"] + label:before,
.wrapper.light input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.light input[type="checkbox"]:checked + label:before,
.wrapper.light input[type="radio"]:checked + label:before {
  background: #ffffff;
  color: #21b2a6;
}
.wrapper.light .icon.major {
  border-color: #5e5e5e;
}
.wrapper.light ul.alt li {
  border-color: #5e5e5e;
}
.wrapper.light table tbody tr {
  border-color: #5e5e5e;
}
.wrapper.light table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.light table th {
  color: #5e5e5e;
}
.wrapper.light table thead {
  border-color: #5e5e5e;
}
.wrapper.light table tfoot {
  border-color: #5e5e5e;
}
.wrapper.light table.alt tbody tr td {
  border-color: #5e5e5e;
}
.wrapper.light input[type="submit"],
.wrapper.light input[type="reset"],
.wrapper.light input[type="button"],
.wrapper.light button,
.wrapper.light .button {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
  color: #5e5e5e;
}
.wrapper.light input[type="submit"]:hover,
.wrapper.light input[type="reset"]:hover,
.wrapper.light input[type="button"]:hover,
.wrapper.light button:hover,
.wrapper.light .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.light input[type="submit"]:active,
.wrapper.light input[type="reset"]:active,
.wrapper.light input[type="button"]:active,
.wrapper.light button:active,
.wrapper.light .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 736px) {
  .wrapper.light .features li {
    border-top-color: #5e5e5e;
  }
}