/* style-white.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style2 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.light {
  background: whitesmoke;
  color: #5e5e5e;
}
.light * {
  background: whitesmoke;
  color: #5e5e5e;
}
div.light * {
  background: whitesmoke;
  color: #5e5e5e;
}
.light a {
  width: 100%;
}
.light .date {
  text-align: right;
}
.light .page-header {
  width: 100%;
  border-bottom: #5e5e5e solid thin;
}
.wrapper.light {
  background: whitesmoke;
  color: #5e5e5e;
}
.wrapper.light * {
  background: whitesmoke;
  color: #5e5e5e;
}
.wrapper.light hr {
  background: whitesmoke;
  color: #5e5e5e;
  border-color: whitesmoke;
}
.wrapper.light blockquote {
  background: whitesmoke;
  color: #5e5e5e;
  border-color: whitesmoke;
}
.wrapper.light code {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.light input[type="text"],
.wrapper.light input[type="password"],
.wrapper.light input[type="email"],
.wrapper.light select,
.wrapper.light textarea {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.light .select-wrapper:before {
  color: #5e5e5e;
}
.wrapper.light input[type="checkbox"] + label,
.wrapper.light input[type="radio"] + label {
  color: #5e5e5e;
}
.wrapper.light input[type="checkbox"] + label:before,
.wrapper.light input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.light input[type="checkbox"]:checked + label:before,
.wrapper.light input[type="radio"]:checked + label:before {
  background: #2E3842;
  color: #5e5e5e;
}
.wrapper.light ::-webkit-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.light :-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.light ::-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.light :-ms-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.light .formerize-placeholder {
  color: #8E8892 !important;
}
.wrapper.light .icon.major {
  border-color: #5e5e5e;
}
.wrapper.light ul.alt li {
  border-color: #5e5e5e;
}
.wrapper.light table tbody tr {
  border-color: #5e5e5e;
}
.wrapper.light table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.light table th {
  color: #5e5e5e;
}
.wrapper.light table thead {
  border-color: #5e5e5e;
}
.wrapper.light table tfoot {
  border-color: #5e5e5e;
}
.wrapper.light table.alt tbody tr td {
  border-color: #5e5e5e;
}
.wrapper.light input[type="submit"],
.wrapper.light input[type="reset"],
.wrapper.light input[type="button"],
.wrapper.light button,
.wrapper.light .button {
  box-shadow: inset 0 0 0 2px #dfdfdf;
  color: #2E3842;
}
.wrapper.light input[type="submit"]:hover,
.wrapper.light input[type="reset"]:hover,
.wrapper.light input[type="button"]:hover,
.wrapper.light button:hover,
.wrapper.light .button:hover {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.light input[type="submit"]:active,
.wrapper.light input[type="reset"]:active,
.wrapper.light input[type="button"]:active,
.wrapper.light button:active,
.wrapper.light .button:active {
  background-color: rgba(0, 0, 0, 0.1);
}