/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.purple .page-header {
  width: 100%;
  border-bottom: #d3d4e4 solid thin !important;
}
 .container .blogarchive div.purple {
  background: #505393;
}
.purple {
  background-color: #505393;
  color: #d3d4e4;
}
.purple hr {
  border-color: #d3d4e4;
}
.purple blockquote {
  border-color: #d3d4e4;
}
.purple code {
  background: #d3d4e4;
}
.purple ul li {
  color: #d3d4e4;
}
.purple ul li a {
  color: #d3d4e4;
}
.purple ul li a:hover {
  color: red;
}
.purple header.major h2,
.purple header.major h3,
.purple header.major h4,
.purple header.major h5,
.purple header.major h6 {
  border-color: #d3d4e4;
}
.purple input[type="text"],
.purple input[type="password"],
.purple input[type="email"],
.purple select,
.purple textarea {
  background: rgba(255, 255, 255, 0.075);
}
.purple .select-wrapper:before {
  color: rgba(0, 0, 0, 0.125);
}
.purple input[type="checkbox"] + label,
.purple input[type="radio"] + label {
  color: #d3d4e4;
}
.purple input[type="checkbox"] + label:before,
.purple input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
}
.purple input[type="checkbox"]:checked + label:before,
.purple input[type="radio"]:checked + label:before {
  background: #ffffff;
  color: #21b2a6;
}
.purple .icon.major {
  border-color: #d3d4e4;
}
.purple ul.alt li {
  border-color: #d3d4e4;
}
.purple table tbody tr {
  border-color: #d3d4e4;
}
.purple table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}
.purple table th {
  color: #d3d4e4;
}
.purple table thead {
  border-color: #d3d4e4;
}
.purple table tfoot {
  border-color: #d3d4e4;
}
.purple table.alt tbody tr td {
  border-color: #d3d4e4;
}
.purple input[type="submit"],
.purple input[type="reset"],
.purple input[type="button"],
.purple button,
.purple .button {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
  color: #d3d4e4;
}
.purple input[type="submit"]:hover,
.purple input[type="reset"]:hover,
.purple input[type="button"]:hover,
.purple button:hover,
.purple .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.purple input[type="submit"]:active,
.purple input[type="reset"]:active,
.purple input[type="button"]:active,
.purple button:active,
.purple .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 736px) {
  .purple .features li {
    border-top-color: #d3d4e4;
  }
}