/* style-green.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.green {
  background: #1a867d;
  color: whitesmoke;
}
.green * {
  background: #1a867d;
  color: whitesmoke;
}
.green a {
  width: 100%;
}
.green .date {
  text-align: right;
}
.green .page-header {
  width: 100%;
  border-bottom: whitesmoke solid thin !important;
}
header.major h2 {
  border-bottom: whitesmoke solid thin !important;
}
.wrapper.green {
  background: #1a867d;
  color: whitesmoke;
}
.wrapper.green * {
  background: #1a867d;
  color: whitesmoke;
}
.wrapper.green hr {
  background: #1a867d;
  color: whitesmoke;
  border-color: #1a867d;
}
.wrapper.green blockquote {
  background: #1a867d;
  color: whitesmoke;
  border-color: #1a867d;
}
.wrapper.green code {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.green input[type="text"],
.wrapper.green input[type="password"],
.wrapper.green input[type="email"],
.wrapper.green select,
.wrapper.green textarea {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.green .select-wrapper:before {
  color: whitesmoke;
}
.wrapper.green input[type="checkbox"] + label,
.wrapper.green input[type="radio"] + label {
  color: whitesmoke;
}
.wrapper.green input[type="checkbox"] + label:before,
.wrapper.green input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.0375) !important;
}
.wrapper.green input[type="checkbox"]:checked + label:before,
.wrapper.green input[type="radio"]:checked + label:before {
  background: #2E3842 !important;
  color: whitesmoke;
}
.wrapper.green ::-webkit-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.green :-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.green ::-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.green :-ms-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.green .formerize-placeholder {
  color: #8E8892 !important;
}
.wrapper.green .icon.major {
  border-color: whitesmoke;
}
.wrapper.green ul.alt li {
  border-color: whitesmoke;
}
.wrapper.green table tbody tr {
  border-color: whitesmoke;
}
.wrapper.green table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.0375) !important;
}
.wrapper.green table th {
  color: whitesmoke;
}
.wrapper.green table thead {
  border-color: whitesmoke;
}
.wrapper.green table tfoot {
  border-color: whitesmoke;
}
.wrapper.green table.alt tbody tr td {
  border-color: whitesmoke;
}
.wrapper.green input[type="submit"],
.wrapper.green input[type="reset"],
.wrapper.green input[type="button"],
.wrapper.green button,
.wrapper.green .button {
  box-shadow: inset 0 0 0 2px #dfdfdf;
  color: #2E3842;
}
.wrapper.green input[type="submit"]:hover,
.wrapper.green input[type="reset"]:hover,
.wrapper.green input[type="button"]:hover,
.wrapper.green button:hover,
.wrapper.green .button:hover {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.green input[type="submit"]:active,
.wrapper.green input[type="reset"]:active,
.wrapper.green input[type="button"]:active,
.wrapper.green button:active,
.wrapper.green .button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
