/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.transparent {
  color: whitesmoke;
  background-color: transparent;
}
.transparent a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
ul,
li,
ol {
  color: whitesmoke;
}
.transparent a:hover {
  color: darkgray;
}
.transparent .page-header {
  width: 100%;
  color: whitesmoke;
  border-bottom: whitesmoke solid thin !important;
}