/* style-white.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.purple {
  background: #505393;
  color: #d3d4e4;
}
.purple * {
  background: #505393;
  color: #d3d4e4;
}
div.purple * {
  background: #505393;
  color: #d3d4e4;
}
.purple a {
  width: 100%;
}
.purple .date {
  text-align: right;
}
.purple .page-header {
  width: 100%;
  border-bottom: #505393 solid thin;
}
.wrapper.purple {
  background: #505393;
  color: #d3d4e4;
}
.wrapper.purple * {
  background: #505393;
  color: #d3d4e4;
}
.wrapper.purple hr {
  background: #505393;
  color: #d3d4e4;
  border-color: #505393;
}
.wrapper.purple blockquote {
  background: #505393;
  color: #d3d4e4;
  border-color: #505393;
}
.wrapper.purple code {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.purple input[type="text"],
.wrapper.purple input[type="password"],
.wrapper.purple input[type="email"],
.wrapper.purple select,
.wrapper.purple textarea {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.purple .select-wrapper:before {
  color: #d3d4e4;
}
.wrapper.purple input[type="checkbox"] + label,
.wrapper.purple input[type="radio"] + label {
  color: #d3d4e4;
}
.wrapper.purple input[type="checkbox"] + label:before,
.wrapper.purple input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.purple input[type="checkbox"]:checked + label:before,
.wrapper.purple input[type="radio"]:checked + label:before {
  background: #2E3842;
  color: #d3d4e4;
}
.wrapper.purple ::-webkit-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.purple :-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.purple ::-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.purple :-ms-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.purple .formerize-placeholder {
  color: #8E8892 !important;
}
.wrapper.purple .icon.major {
  border-color: #d3d4e4;
}
.wrapper.purple ul.alt li {
  border-color: #d3d4e4;
}
.wrapper.purple table tbody tr {
  border-color: #505393;
}
.wrapper.purple table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.purple table th {
  color: #d3d4e4;
}
.wrapper.purple table thead {
  border-color: #505393;
}
.wrapper.purple table tfoot {
  border-color: #505393;
}
.wrapper.purple table.alt tbody tr td {
  border-color: #505393;
}
.wrapper.purple input[type="submit"],
.wrapper.purple input[type="reset"],
.wrapper.purple input[type="button"],
.wrapper.purple button,
.wrapper.purple .button {
  box-shadow: inset 0 0 0 2px #dfdfdf;
  color: #2E3842;
}
.wrapper.purple input[type="submit"]:hover,
.wrapper.purple input[type="reset"]:hover,
.wrapper.purple input[type="button"]:hover,
.wrapper.purple button:hover,
.wrapper.purple .button:hover {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.purple input[type="submit"]:active,
.wrapper.purple input[type="reset"]:active,
.wrapper.purple input[type="button"]:active,
.wrapper.purple button:active,
.wrapper.purple .button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
