/* style-green.less */

@import "../global.less";

.green {
    background: @style-green-bg-color;
    color: @style-green-color;
}

.green * {
    background: @style-green-bg-color;
    color: @style-green-color;
}

.green a {
    width: 100%;
}

.green .date{
    text-align: right;
}

.green .page-header {
    width: 100%;
    border-bottom: @style-green-border-color solid thin !important;
}

header.major h2 {
    border-bottom: @style-green-border-color solid thin !important;
}

.wrapper.green {
    background: @style-green-bg-color;
    color: @style-green-color;
}

    .wrapper.green * {
        background: @style-green-bg-color;
        color: @style-green-color;
    }
       
    .wrapper.green hr {
        background: @style-green-bg-color;
        color: @style-green-color;
        border-color: @style-green-bg-color;
    }

    .wrapper.green blockquote {
        background: @style-green-bg-color;
        color: @style-green-color;
        border-color: @style-green-bg-color;
    }

    .wrapper.green code {
        background: rgba(0, 0, 0, 0.0375);
    }

    .wrapper.green input[type="text"],
    .wrapper.green input[type="password"],
    .wrapper.green input[type="email"],
    .wrapper.green select,
    .wrapper.green textarea {
        background: rgba(0, 0, 0, 0.0375);
    }

    .wrapper.green .select-wrapper:before {
        color: @style-green-color;
    }

    .wrapper.green input[type="checkbox"] + label,
    .wrapper.green input[type="radio"] + label {
        color: @style-green-color;
    }

        .wrapper.green input[type="checkbox"] + label:before,
        .wrapper.green input[type="radio"] + label:before {
            background: rgba(0, 0, 0, 0.0375) !important;
        }

    .wrapper.green input[type="checkbox"]:checked + label:before,
    .wrapper.green input[type="radio"]:checked + label:before {
        background: #2E3842 !important;
        color: @style-green-color;
    }

    .wrapper.green ::-webkit-input-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.green :-moz-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.green ::-moz-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.green :-ms-input-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.green .formerize-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.green .icon.major {
        border-color: @style-green-color;
    }

    .wrapper.green ul.alt li {
        border-color: @style-green-color;
    }

    .wrapper.green table tbody tr {
        border-color: @style-green-border-color;
    }

        .wrapper.green table tbody tr:nth-child(2n + 1) {
            background-color: rgba(0, 0, 0, 0.0375) !important;
        }

    .wrapper.green table th {
        color: @style-green-color;
    }

    .wrapper.green table thead {
        border-color: @style-green-border-color;
    }

    .wrapper.green table tfoot {
        border-color: @style-green-border-color;
    }

    .wrapper.green table.alt tbody tr td {
        border-color: @style-green-border-color;
    }

    .wrapper.green input[type="submit"],
    .wrapper.green input[type="reset"],
    .wrapper.green input[type="button"],
    .wrapper.green button,
    .wrapper.green .button {
        box-shadow: inset 0 0 0 2px #dfdfdf;
        color: #2E3842;
    }

        .wrapper.green input[type="submit"]:hover,
        .wrapper.green input[type="reset"]:hover,
        .wrapper.green input[type="button"]:hover,
        .wrapper.green button:hover,
        .wrapper.green .button:hover {
            background-color: rgba(0, 0, 0, 0.0375);
        }

        .wrapper.green input[type="submit"]:active,
        .wrapper.green input[type="reset"]:active,
        .wrapper.green input[type="button"]:active,
        .wrapper.green button:active,
        .wrapper.green .button:active {
            background-color: rgba(0, 0, 0, 0.1);
        }
