
@import "../global.vars.less";

.transparent {
    color: @style-transparent-color;
    background-color: @style-transparent-bg-color;
}

section.transparent {
    color: @style-transparent-color;
    background-color: @style-transparent-bg-color;
}