/* style-transparent.less */

@import "../global.less";

.light .page-header {
    width: 100%;
    border-bottom: @style-transparent-border-color solid thin !important;
}

.wrapper.transparent {
    color: @style-transparent-color;
    background-color: @style-transparent-bg-color;
}
