/* style-purple.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.purple .page-header {
  width: 100%;
  border-bottom: #d3d4e4 solid thin !important;
}
.wrapper.purple {
  background-color: #505393;
  color: #d3d4e4;
}
.wrapper.purple strong,
.wrapper.purple b {
  color: #d3d4e4;
}
.wrapper.purple h2,
.wrapper.purple h3,
.wrapper.purple h4,
.wrapper.purple h5,
.wrapper.purple h6 {
  color: #d3d4e4;
}
.wrapper.purple hr {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple blockquote {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple code {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.purple header p {
  color: #d3d4e4;
}
.wrapper.purple header.major h2,
.wrapper.purple header.major h3,
.wrapper.purple header.major h4,
.wrapper.purple header.major h5,
.wrapper.purple header.major h6 {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple header.major p {
  color: #d3d4e4;
}
.wrapper.purple label {
  color: #d3d4e4;
}
.wrapper.purple input[type="text"],
.wrapper.purple input[type="password"],
.wrapper.purple input[type="email"],
.wrapper.purple select,
.wrapper.purple textarea {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.purple .select-wrapper:before {
  color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple input[type="checkbox"] + label,
.wrapper.purple input[type="radio"] + label {
  color: #d3d4e4;
}
.wrapper.purple input[type="checkbox"] + label:before,
.wrapper.purple input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.purple input[type="checkbox"]:checked + label:before,
.wrapper.purple input[type="radio"]:checked + label:before {
  background: #ffffff;
  color: #21b2a6;
}
.wrapper.purple .icon.major {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple ul.alt li {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple table tbody tr {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.purple table th {
  color: #d3d4e4;
}
.wrapper.purple table thead {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple table tfoot {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.purple input[type="submit"],
.wrapper.purple input[type="reset"],
.wrapper.purple input[type="button"],
.wrapper.purple button,
.wrapper.purple .button {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
  color: #d3d4e4;
}
.wrapper.purple input[type="submit"]:hover,
.wrapper.purple input[type="reset"]:hover,
.wrapper.purple input[type="button"]:hover,
.wrapper.purple button:hover,
.wrapper.purple .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.purple input[type="submit"]:active,
.wrapper.purple input[type="reset"]:active,
.wrapper.purple input[type="button"]:active,
.wrapper.purple button:active,
.wrapper.purple .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 736px) {
  .wrapper.purple .features li {
    border-top-color: rgba(0, 0, 0, 0.125);
  }
}
