/* style-white.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* style1 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.light {
  background: whitesmoke;
}
.light * {
  color: #4E4852;
}
.light p {
  color: #4E4852;
}
.light h2 {
  color: #4E4852;
}
.light a {
  color: #4E4852;
  width: 100%;
}
.light .date {
  text-align: right;
}
div.page-header {
  width: 100%;
  border-bottom: gray solid thin;
}
.light div.page-header > h1 {
  color: #4E4852;
}
.wrapper.light {
  background-color: whitesmoke;
  color: #4E4852;
}
.wrapper.light strong,
.wrapper.light b {
  color: #4E4852;
}
.wrapper.light h2,
.wrapper.light h3,
.wrapper.light h4,
.wrapper.light h5,
.wrapper.light h6 {
  color: #4E4852;
}
.wrapper.light hr {
  border-color: whitesmoke;
}
.wrapper.light blockquote {
  border-color: whitesmoke;
}
.wrapper.light code {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.light header p {
  color: #4E4852;
}
.wrapper.light header.major h2,
.wrapper.light header.major h3,
.wrapper.light header.major h4,
.wrapper.light header.major h5,
.wrapper.light header.major h6 {
  border-color: whitesmoke;
}
.wrapper.light header.major p {
  color: #4E4852;
}
.wrapper.light label {
  color: #4E4852;
}
.wrapper.light input[type="text"],
.wrapper.light input[type="password"],
.wrapper.light input[type="email"],
.wrapper.light select,
.wrapper.light textarea {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.light .select-wrapper:before {
  color: #4E4852;
}
.wrapper.light input[type="checkbox"] + label,
.wrapper.light input[type="radio"] + label {
  color: #4E4852;
}
.wrapper.light input[type="checkbox"] + label:before,
.wrapper.light input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.0375);
}
.wrapper.light input[type="checkbox"]:checked + label:before,
.wrapper.light input[type="radio"]:checked + label:before {
  background: #2E3842;
  color: #4E4852;
}
.wrapper.light ::-webkit-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.light :-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.light ::-moz-placeholder {
  color: #8E8892 !important;
}
.wrapper.light :-ms-input-placeholder {
  color: #8E8892 !important;
}
.wrapper.light .formerize-placeholder {
  color: #8E8892 !important;
}
.wrapper.light .icon.major {
  border-color: #4E4852;
}
.wrapper.light ul.alt li {
  border-color: #4E4852;
}
.wrapper.light table tbody tr {
  border-color: gray;
}
.wrapper.light table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.light table th {
  color: #4E4852;
}
.wrapper.light table thead {
  border-color: gray;
}
.wrapper.light table tfoot {
  border-color: gray;
}
.wrapper.light table.alt tbody tr td {
  border-color: gray;
}
.wrapper.light input[type="submit"],
.wrapper.light input[type="reset"],
.wrapper.light input[type="button"],
.wrapper.light button,
.wrapper.light .button {
  box-shadow: inset 0 0 0 2px #dfdfdf;
  color: #2E3842;
}
.wrapper.light input[type="submit"]:hover,
.wrapper.light input[type="reset"]:hover,
.wrapper.light input[type="button"]:hover,
.wrapper.light button:hover,
.wrapper.light .button:hover {
  background-color: rgba(0, 0, 0, 0.0375);
}
.wrapper.light input[type="submit"]:active,
.wrapper.light input[type="reset"]:active,
.wrapper.light input[type="button"]:active,
.wrapper.light button:active,
.wrapper.light .button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 736px) {
  .wrapper.light .features li {
    border-top-color: gray;
  }
}