/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.light {
  color: #5e5e5e;
  background-color: whitesmoke;
}
.light a:hover {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  color: red;
}
.light .page-header {
  width: 100%;
  color: #5e5e5e;
  border-bottom: #5e5e5e solid thin !important;
}
section.light a,
section.light p,
section.light ul,
section.light li,
section.light h2,
section.light h3,
section.light h4,
section.light h5,
section.light h6 {
  color: #5e5e5e;
}
div.light a,
div.light p,
div.light ul,
div.light li,
div.light h2,
div.light h3,
div.light h4,
div.light h5,
div.light h6 {
  color: #5e5e5e;
}
section.light header.major h2,
section.light header.major p {
  color: #5e5e5e;
}
header.light,
header.light h2,
header.light p {
  color: whitesmoke;
  background-color: transparent;
}