/* style-green.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.green .page-header {
  width: 100%;
  border-bottom: whitesmoke solid thin !important;
}
.wrapper.green {
  background-color: #1a867d;
  color: whitesmoke;
}
.wrapper.green strong,
.wrapper.green b {
  color: whitesmoke;
}
.wrapper.green h2,
.wrapper.green h3,
.wrapper.green h4,
.wrapper.green h5,
.wrapper.green h6 {
  color: whitesmoke;
}
.wrapper.green hr {
  border-color: whitesmoke;
}
.wrapper.green blockquote {
  border-color: whitesmoke;
}
.wrapper.green code {
  background: whitesmoke;
}
.wrapper.green header p {
  color: whitesmoke;
}
.wrapper.green header.major h2,
.wrapper.green header.major h3,
.wrapper.green header.major h4,
.wrapper.green header.major h5,
.wrapper.green header.major h6 {
  border-color: whitesmoke;
}
.wrapper.green header.major p {
  color: whitesmoke;
}
.wrapper.green label {
  color: whitesmoke;
}
.wrapper.green input[type="text"],
.wrapper.green input[type="password"],
.wrapper.green input[type="email"],
.wrapper.green select,
.wrapper.green textarea {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.green .select-wrapper:before {
  color: rgba(0, 0, 0, 0.125);
}
.wrapper.green input[type="checkbox"] + label,
.wrapper.green input[type="radio"] + label {
  color: whitesmoke;
}
.wrapper.green input[type="checkbox"] + label:before,
.wrapper.green input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.green input[type="checkbox"]:checked + label:before,
.wrapper.green input[type="radio"]:checked + label:before {
  background: #ffffff;
  color: #21b2a6;
}
.wrapper.green .icon.major {
  border-color: whitesmoke;
}
.wrapper.green ul.alt li {
  border-color: whitesmoke;
}
.wrapper.green table tbody tr {
  border-color: whitesmoke;
}
.wrapper.green table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.green table th {
  color: whitesmoke;
}
.wrapper.green table thead {
  border-color: whitesmoke;
}
.wrapper.green table tfoot {
  border-color: whitesmoke;
}
.wrapper.green table.alt tbody tr td {
  border-color: whitesmoke;
}
.wrapper.green input[type="submit"],
.wrapper.green input[type="reset"],
.wrapper.green input[type="button"],
.wrapper.green button,
.wrapper.green .button {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
  color: whitesmoke;
}
.wrapper.green input[type="submit"]:hover,
.wrapper.green input[type="reset"]:hover,
.wrapper.green input[type="button"]:hover,
.wrapper.green button:hover,
.wrapper.green .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.green input[type="submit"]:active,
.wrapper.green input[type="reset"]:active,
.wrapper.green input[type="button"]:active,
.wrapper.green button:active,
.wrapper.green .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 736px) {
  .wrapper.green .features li {
    border-top-color: whitesmoke;
  }
}
