/* style-gree.less */

@import "../global.less";

.gree {
    background: @style-gree-bg-color;
    color: @style-gree-color;
}

.gree * {
    background: @style-gree-bg-color;
    color: @style-gree-color;
}

.gree a {
    width: 100%;
}

.gree .date{
    text-align: right;
}

.gree .page-header {
    width: 100%;
    border-bottom: @style-gree-border-color solid thin !important;
}

header.major h2 {
    border-bottom: @style-gree-border-color solid thin !important;
}

.wrapper.gree {
    background: @style-gree-bg-color;
    color: @style-gree-color;
}

    .wrapper.gree * {
        background: @style-gree-bg-color;
        color: @style-gree-color;
    }
       
    .wrapper.gree hr {
        background: @style-gree-bg-color;
        color: @style-gree-color;
        border-color: @style-gree-bg-color;
    }

    .wrapper.gree blockquote {
        background: @style-gree-bg-color;
        color: @style-gree-color;
        border-color: @style-gree-bg-color;
    }

    .wrapper.gree code {
        background: rgba(0, 0, 0, 0.0375);
    }

    .wrapper.gree input[type="text"],
    .wrapper.gree input[type="password"],
    .wrapper.gree input[type="email"],
    .wrapper.gree select,
    .wrapper.gree textarea {
        background: rgba(0, 0, 0, 0.0375);
    }

    .wrapper.gree .select-wrapper:before {
        color: @style-gree-color;
    }

    .wrapper.gree input[type="checkbox"] + label,
    .wrapper.gree input[type="radio"] + label {
        color: @style-gree-color;
    }

        .wrapper.gree input[type="checkbox"] + label:before,
        .wrapper.gree input[type="radio"] + label:before {
            background: rgba(0, 0, 0, 0.0375) !important;
        }

    .wrapper.gree input[type="checkbox"]:checked + label:before,
    .wrapper.gree input[type="radio"]:checked + label:before {
        background: #2E3842 !important;
        color: @style-gree-color;
    }

    .wrapper.gree ::-webkit-input-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.gree :-moz-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.gree ::-moz-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.gree :-ms-input-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.gree .formerize-placeholder {
        color: #8E8892 !important;
    }

    .wrapper.gree .icon.major {
        border-color: @style-gree-color;
    }

    .wrapper.gree ul.alt li {
        border-color: @style-gree-color;
    }

    .wrapper.gree table tbody tr {
        border-color: @style-gree-border-color;
    }

        .wrapper.gree table tbody tr:nth-child(2n + 1) {
            background-color: rgba(0, 0, 0, 0.0375) !important;
        }

    .wrapper.gree table th {
        color: @style-gree-color;
    }

    .wrapper.gree table thead {
        border-color: @style-gree-border-color;
    }

    .wrapper.gree table tfoot {
        border-color: @style-gree-border-color;
    }

    .wrapper.gree table.alt tbody tr td {
        border-color: @style-gree-border-color;
    }

    .wrapper.gree input[type="submit"],
    .wrapper.gree input[type="reset"],
    .wrapper.gree input[type="button"],
    .wrapper.gree button,
    .wrapper.gree .button {
        box-shadow: inset 0 0 0 2px #dfdfdf;
        color: #2E3842;
    }

        .wrapper.gree input[type="submit"]:hover,
        .wrapper.gree input[type="reset"]:hover,
        .wrapper.gree input[type="button"]:hover,
        .wrapper.gree button:hover,
        .wrapper.gree .button:hover {
            background-color: rgba(0, 0, 0, 0.0375);
        }

        .wrapper.gree input[type="submit"]:active,
        .wrapper.gree input[type="reset"]:active,
        .wrapper.gree input[type="button"]:active,
        .wrapper.gree button:active,
        .wrapper.gree .button:active {
            background-color: rgba(0, 0, 0, 0.1);
        }
