/* dark.less */
.dark {
  background: #333333;
}
.dark * {
  color: #ccc;
}
.dark p {
  color: #ccc;
}
.dark h2 {
  color: #ccc;
}
.dark a {
  color: #ccc;
  width: 100%;
}
.dark .date {
  text-align: right;
  color: #ccc;
}
div.page-header {
  width: 100%;
  border-bottom: #ccc solid thin;
}
.dark div.page-header > h1 {
  color: #ccc;
}
