/* light.less */
.light {
  background: white;
}
.light * {
  color: black;
}
.light p {
  color: black;
}
.light h2 {
  color: black;
}
.light a {
  color: black;
  width: 100%;
}
.light .date {
  text-align: right;
}
div.page-header {
  width: 100%;
  border-bottom: black solid thin;
}
.light div.page-header > h1 {
  color: black;
}
