/* yellow.less */
.yellow {
  background: #FFCC01;
}
.yellow * {
  color: #000;
}
.yellow p {
  color: black;
}
.yellow h2 {
  color: black;
}
.yellow a {
  color: black;
  width: 100%;
}
.yellow .date {
  text-align: right;
}
div.page-header {
  width: 100%;
  border-bottom: whitesmoke solid thin;
}
.purple div.page-header > h1 {
  color: whitesmoke;
}
