/* style-purple.less */
.wrapper.style3 {
  background-color: #505393;
  color: #d3d4e4;
}
.wrapper.style3 strong,
.wrapper.style3 b {
  color: #ffffff;
}
.wrapper.style3 h2,
.wrapper.style3 h3,
.wrapper.style3 h4,
.wrapper.style3 h5,
.wrapper.style3 h6 {
  color: #ffffff;
}
.wrapper.style3 hr {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 blockquote {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 code {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.style3 header p {
  color: #b9bad3;
}
.wrapper.style3 header.major h2,
.wrapper.style3 header.major h3,
.wrapper.style3 header.major h4,
.wrapper.style3 header.major h5,
.wrapper.style3 header.major h6 {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 header.major p {
  color: #d3d4e4;
}
.wrapper.style3 label {
  color: #ffffff;
}
.wrapper.style3 input[type="text"],
.wrapper.style3 input[type="password"],
.wrapper.style3 input[type="email"],
.wrapper.style3 select,
.wrapper.style3 textarea {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.style3 .select-wrapper:before {
  color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 input[type="checkbox"] + label,
.wrapper.style3 input[type="radio"] + label {
  color: #d3d4e4;
}
.wrapper.style3 input[type="checkbox"] + label:before,
.wrapper.style3 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
}
.wrapper.style3 input[type="checkbox"]:checked + label:before,
.wrapper.style3 input[type="radio"]:checked + label:before {
  background: #ffffff;
  color: #505393;
}
.wrapper.style3 ::-webkit-input-placeholder {
  color: #b9bad3 !important;
}
.wrapper.style3 :-moz-placeholder {
  color: #b9bad3 !important;
}
.wrapper.style3 ::-moz-placeholder {
  color: #b9bad3 !important;
}
.wrapper.style3 :-ms-input-placeholder {
  color: #b9bad3 !important;
}
.wrapper.style3 .formerize-placeholder {
  color: #b9bad3 !important;
}
.wrapper.style3 .icon.major {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 ul.alt li {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 table tbody tr {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.style3 table th {
  color: #ffffff;
}
.wrapper.style3 table thead {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 table tfoot {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.125);
}
.wrapper.style3 input[type="submit"],
.wrapper.style3 input[type="reset"],
.wrapper.style3 input[type="button"],
.wrapper.style3 button,
.wrapper.style3 .button {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.125);
  color: #ffffff;
}
.wrapper.style3 input[type="submit"]:hover,
.wrapper.style3 input[type="reset"]:hover,
.wrapper.style3 input[type="button"]:hover,
.wrapper.style3 button:hover,
.wrapper.style3 .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.style3 input[type="submit"]:active,
.wrapper.style3 input[type="reset"]:active,
.wrapper.style3 input[type="button"]:active,
.wrapper.style3 button:active,
.wrapper.style3 .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 736px) {
  .wrapper.style3 .features li {
    border-top-color: rgba(0, 0, 0, 0.125);
  }
}
