
@{
    ViewBag.Title = "Blog2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='page-header'><h1>In-Memory .NET Anwendungen</h1></div>






                        <p class='lead'>In einer grossen, international t&#228;tigen Firma ergab sich die Aufgabenstellung ein m&#246;glichst modulares Web-Framework, welches diverse Anforderungen erf&#252;llen musste, auf der gr&#252;nen Wiese neu zu programmieren.</p>



                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='abstract'>Verteiltes Vertriebs- und Produktionskonzept</div>






                        <p>Die Firma weist ein verteiltes Vertriebs- und Produktionskonzept auf und baute die entsprechenden Logistik- und Verwaltungs-Tools mehrheitlich mit Standard-Anwendungen auf. Die Ausnahme war die Online-Sparte welche kaum standardisiert und z.T. mit recht einfachen Mitteln betrieben wurde.</p>






                        <div class='abstract'>L&#246;sung</div>






                        <p>Als L&#246;sung wurde ein Konzept entworfen welches die meisten Online-Prozesse vereinheitlichte und im Inter- als auch Intranet den unterschiedlichen Business-Units zur Verf&#252;gung stellen sollte. Darauf Aufbauend sollten sogenannte BU-Portals mittels ECMS, Framework und Erweiterungen standardisiert angeboten werden.</p>






                        <p>Je nach Rolle des Benutzers - BU: Land, Unit, etc. - konnten verschiedene Funktionen konsumiert werden. BU relevante Zahlen wie Best&#228;nde, Sales, Forecast als auch Funktionen aus CRM, Newsletter, Media-Library etc. sollten via vorkonfigurierter &quot;Templates&quot; in die entsprechenden Seiten platzier- und parametrierbar eingef&#252;gt werden k&#246;nnen.</p>






                        <div class='abstract'>Zusammengefasst</div>






                        <p>XML Im- und Export, Datenbankzugriffe, Datenbank-Objekte als XML exportieren, Cookie-Management, Lokalisierung, verschiedene Pr&#252;f- und Konvertierungsfunktionen, E-Mail Versand und Empfang, Hash- und Crypt-Funktionen usw…</p>






                        <div class='abstract'>Modular</div>





                        <ul>
                            <li>Module der Basis- als auch Business-Logik einfach und zur Laufzeit laden, neu laden</li>
                            <li>Mehrere Schichten: Funktionen, Daten, Business-Logik, GUI</li>
                        </ul>





                        <div class='abstract'>Performant</div>





                        <div class="umb-grid">
                            <div class="grid-section">
                                <div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <div>
                                                <ul>
                                                    <li>Web-Laufzeitumgebung</li>
                                                    <li>Schnittstellen an 3. Systeme</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class='abstract'>Flexibel</div>





                        <ul>
                            <li>Neue Module einfach nach Schema aufbauen und integrieren</li>
                        </ul>





                        <div class='abstract'>Einfache Wartung</div>





                        <ul>
                            <li>Modular im Projektaufbau</li>
                        </ul>





                        <div class='abstract'>Sicher</div>





                        <div class="umb-grid">
                            <div class="grid-section">
                                <div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <div>
                                                <ul>
                                                    <li>Code sauber und geprüft</li>
                                                    <li>Common Web-Security Practices angewendet</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class='abstract'>.NET - v3</div>





                        <div class="umb-grid">
                            <div class="grid-section">
                                <div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <div>
                                                <ul>
                                                    <li>Schnittstellen zu SAP, Notes, CRM</li>
                                                    <li>XML Import/Export</li>
                                                    <li>Mehrere DB Backends zu Oracle, MS-Sql, MySql</li>
                                                    <li>Generische Funktionen, beliebig erweiterbar</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='abstract'>Idee</div>






                        <p>Eine &quot;Idee&quot; hatte ich in einer endlosen Debug-Session, der Code war einfach zu langsam und die Module wurden permanent fetter und w&#252;ster. Ich surfte im Netz wie ich die .DLLs schlank und einfach halten und dennoch einfach zur Laufzeit laden kann, ohne die ganzen Funktionen typsicher verwenden zu m&#252;ssen. Im Web gibt es so gesehen keine C#-Typen oder &#228;hnlich... Die Aufgabenstellung war ja ganze in einer Webumgebung via CMS und Erweiterungen umzusetzen.</p>






                        <div class='abstract'>Generics</div>






                        <p>.NET f&#252;hrte damals echte Generics und Methoden al&#224; MethodInfo ein, sehr interessante Features. Anschauen - geil - ausprobieren was man damit so anstellen kann.</p>






                        <div class='abstract'>Inspiration</div>






                        <p>Da die Anwendung bzw. das &quot;Basis-Framework&quot; schnell und trotzdem vielf&#228;ltig sein musste, experimentierte ich mit Late-Binding und InMemory Processing herum.</p>





                        <div class="umb-grid">
                            <div class="grid-section">
                                <div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <div>
                                                <ul>
                                                    <li>Link <a rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Late_binding" target="_blank" title="Late_binding">http://en.wikipedia.org/wiki/Late_binding</a></li>
                                                    <li>Link <a rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/In-Memory_Processing" target="_blank" title="In-Memory_Processing">http://en.wikipedia.org/wiki/In-Memory_Processing</a></li>
                                                    <li>Link <a rel="noopener noreferrer" href="http://gridgain.com/four-myths-of-in-memory-computing/" target="_blank" title="four-myths-of-in-memory-computing">http://gridgain.com/four-myths-of-in-memory-computing/</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='abstract'>Ziel</div>






                        <p>Ziel war die Entwicklung eines Wrappers oder Management-Objekts welches &#252;bliche Funktionen wie Filesystemzugriff, Datenbankzugriff, Konvertierungs- und Pr&#252;ffunktionen usw. m&#246;glichst generisch anbietet und m&#252;helos erweitert werden kann.</p>






                        <div class='abstract'>Feature</div>






                        <p>Als weiteres Feature schwebte mir die M&#246;glichkeit vor, alles, wirklich alles zur Laufzeit aus dem User-Memory auszuf&#252;hren und somit die h&#246;chst m&#246;gliche Performance zu erzielen. Code der im User-Space ausgef&#252;hrt wird ist nicht unbedingt sicherer, kompromittieren wird aber schwerer bzw. kann nur vom User ausgef&#252;hrt werden.</p>






                        <div class='abstract'>Schichten</div>






                        <p>Die Schichten sollten sich problemlos trennen lassen, .NET bietet alles was ben&#246;tigt wird. Grundfunktionalit&#228;t also gegeben.</p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row clearfix">
    <div class="col-md-12 column">
        <hr />
        <p>Autor: responsive kaysta</p>
        <p>Published/Updated: 11/15/2017 3:13:58 AM</p>
        <hr />
    </div>
</div>