
@{
    ViewBag.Title = "Blog3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='page-header'><h1>Kentico CMS Document Loader</h1></div>






                        <p class='lead'>Mein Arbeitgeber setzt in diversen Projekten auf Kentico CMS, ein recht umfangreiches CMS mit div. Features die in Enterprise-Umgebungen voraus gesetzt werden. Staging- und Synchronisierung von &quot;Webfarmen&quot;, User- und Rollen-management, Marketing- und Tracking-Funktionen, Kataloge, Tags- und Tag-Gruppen, Lokalisierung etc.</p>






                        <p>Bei meinem letzten Projekt musste ich das Frontend komplett isoliert vom Backend als MVC-Client umsetzen, MVC ist bis dato nur bedingt unterst&#252;tzt. Dieses Vorgehensweise erlaubte es uns, frei von der Leber ein richtig cooles Frontend ohne st&#246;rendes CMS-Backend-Ged&#246;ns zu entwickeln.</p>






                        <p>An und f&#252;r sich eine spannende Herausforderung die jedoch einige Stolpersteine in sich barg.</p>





                        <div class="umb-grid">
                            <div class="grid-section">
                                <div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <div>
                                                <ol>
                                                    <li>Wie komme ich an die Daten im Backend</li>
                                                    <li>Vor allem: wie verwende ich sie Typsicher und ohne lästige Handarbeit</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='abstract'>Vorarbeit</div>






                        <p>Einer meiner Arbeitskollegen hatte in einem anderen Projekt bereits &quot;Vorarbeit&quot; geleistet, ich konnte einerseits die Arbeit recyceln und habe andererseits darauf aufgebaut.</p>






                        <p>Damit ich die Ideen in einer Art &quot;proof of concept&quot; umsetzen und so unabh&#228;ngig vom Kundenprojekt entwickeln konnte, setzte ich eine &quot;Kentico Master Solution&quot; auf in der ich auf der gr&#252;nen Wiese los-coden konnte.</p>






                        <p>Schlussendlich entwickelte ich folgende Module die sich zur Zeit noch in einem Beta-Stadium befinden und zu einem spezifischen Projekt-Scope entwickelt wurden – man kann die nuget-Packages jedoch ohne weiteres verwenden. Der Source-Code liegt komplett auf github, Interessierte k&#246;nnen sich da an der Weiterentwicklung beteiligen...</p>



                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='abstract'>Mxm.Kentico.DocumentLoader</div>






                        <p>Das &quot;Kernst&#252;ck&quot;. Mit dieser Komponente k&#246;nnen nahezu beliebige Kentico-Objbeitekre/Daten abgegriffen und verarbeitet werden. Voraussetzung: saubere Modelle.</p>






                        <div class='abstract'>Mxm.Kentico.Infrastructure</div>






                        <p>ViewModel-Builder. Mit Hilfe dieser Komponente werden die Modelle bzw. ViewModels komplett automatisiert serialisiert.</p>






                        <div class='abstract'>Mxm.Kentico.Models</div>






                        <p>Die (Kentico) Daten-Modelle. Representation der Kentico-Daten-Objekte.</p>






                        <div class='abstract'>Mxm.Kentico.TestClient</div>






                        <p>CMD-Programm mit dem ich die Funktionalit&#228;t teste bzw. Sicher stelle dass das Ganze auch wirklich sauber funktioniert ohne eine MVC-Implementierung umsetzen zu m&#252;ssen.</p>






                        <div class='abstract'>Mxm.Kentico.MasterSolution.Mvc</div>






                        <p>Der genannte MVC-Master-Client. Sehr fr&#252;hes Beta-Stadium, ohne grossartige Funktionalit&#228;t. (strategischer Entscheid steht noch aus)</p>



                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div>



                        <div class='abstract'>Weiterf&#252;hrende Links und Informationen</div>





                        <div class="umb-grid">
                            <div class="grid-section">
                                <div>
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <div>
                                                <ul>
                                                    <li>Mxm.Kentico.DocumentLoader auf nuget.org</li>
                                                    <li>Mxm.Kentico.DocumentLoader auf github.com</li>
                                                    <li>Mxm.Kentico.Infrastructureauf nuget.org</li>
                                                    <li>Mxm.Kentico.Infrastructure auf github.com</li>
                                                    <li>Mxm.Kentico.Models auf nuget.org</li>
                                                    <li>Mxm.Kentico.Models auf github.com</li>
                                                    <li>Mxm.Kentico.TestClient auf github.com</li>
                                                    <li>Mxm.Kentico.MasterSolution.Mvc auf github.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row clearfix">
    <div class="col-md-12 column">
        <hr />
        <p>Autor: responsive kaysta</p>
        <p>Published/Updated: 11/15/2017 3:13:59 AM</p>
        <hr />
    </div>
</div>