@using BasicFrontend.Application;

@{
    AppBase appBase = AppBase.Instance;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article id="main">
    <header>
        <h2>Title: Blog</h2>
        <p>Introduction: Blog, colour light</p>
    </header>
    <section class="wrapper light">
        <div class="inner">
            <div class="container">
                <section class="blogarchive equalizer">

                    <div class="col-sm-12 col-md-6 equal">
                        <div class="light">
                            <a href="/blog/blog-5/" style="background-image: url(''); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                <div class="date">Saturday, April 7, 2018</div>
                                <h2>Blog 5 light</h2>
                                <p class="lead">Blog 5 light</p>
                                <p class="small">Kay Stuckenschmidt</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 equal">
                        <div class="dark">
                            <a href="/blog/blog-4/" style="background-image: url(''); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                <div class="date">Saturday, April 7, 2018</div>
                                <h2>Blog 4 dark</h2>
                                <p class="lead">Blog 4 dark</p>
                                <p class="small">Kay Stuckenschmidt</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 equal">
                        <div class="blue">
                            <a href="/blog/blog-3/" style="background-image: url(''); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                <div class="date">Saturday, April 7, 2018</div>
                                <h2>Blog 3 blue</h2>
                                <p class="lead">Blog 3 blue</p>
                                <p class="small">Kay Stuckenschmidt</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 equal">
                        <div class="purple">
                            <a href="/blog/blog-2/" style="background-image: url(''); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                <div class="date">Saturday, April 7, 2018</div>
                                <h2>Blog 2 purple</h2>
                                <p class="lead">Blog 2 purple</p>
                                <p class="small">Kay Stuckenschmidt</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 equal">
                        <div class="yellow">
                            <a href="/blog/blog-1/" style="background-image: url(''); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                <div class="date">Saturday, April 7, 2018</div>
                                <h2>Blog 1: yellow</h2>
                                <p class="lead">Blog 1: introduction: yellow</p>
                                <p class="small">Kay Stuckenschmidt</p>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
