// out: false

@import "../global.less";

a {
  border-bottom: 0;
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

a:hover {
  text-transform: @global-text-transform;
  text-decoration: @global-text-decoration;
  cursor: pointer;
}
