// out: false

@import "../global.less";

.abstract {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.abstract {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

.abstract {
  font-size: 1.3rem;
  font-weight: 700;
}
