<!DOCTYPE root[<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
]>
<root id="-1">
  <siteGlobal id="1080" key="0f4d93ee-d64f-4957-9709-c8e6da0637c0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-18T23:38:46" updateDate="2018-08-18T23:38:46" nodeName="Site Global" urlName="site-global" path="-1,1080" isDoc="" nodeType="1079" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="true">
    <siteAuthor><![CDATA[responsive kaysta]]></siteAuthor>
    <siteTitle><![CDATA[Basic Frontend]]></siteTitle>
  </siteGlobal>
  <landingPage id="1081" key="ecc4a8fa-a9aa-4a73-b2cf-4a8d59fc3e6b" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-08-18T23:41:11" updateDate="2018-08-18T23:41:11" nodeName="Home" urlName="home" path="-1,1081" isDoc="" nodeType="1078" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1057" nodeTypeAlias="landingPage" isPublished="false">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
    <title><![CDATA[Home]]></title>
    <headerType><![CDATA[alt]]></headerType>
    <pageType><![CDATA[landing]]></pageType>
    <hideInMenu>0</hideInMenu>
    <pageStyle><![CDATA[transparent]]></pageStyle>
    <bannerParagraph><![CDATA[Responsive Webapplications made simple]]></bannerParagraph>
    <bannerHeadline><![CDATA[Basic Frontend]]></bannerHeadline>
  </landingPage>
</root>