<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
]>
<root id="-1">
  <landingPage id="1081" key="ecc4a8fa-a9aa-4a73-b2cf-4a8d59fc3e6b" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-08-18T23:41:11" updateDate="2018-08-19T15:05:57" nodeName="Home" urlName="home" path="-1,1081" isDoc="" nodeType="1078" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1057" nodeTypeAlias="landingPage" isPublished="false" isDraft="">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Eye Catcher",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "EyeCatcher"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "headline": "Simple approach",
                    "id": "one",
                    "style": "purple special"
                  },
                  "editor": {
                    "alias": "EyeCatcher"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "61d16211-05e2-832c-bf86-1c621f0eaed4"
        }
      ]
    }
  ]
}]]></gridLayout>
    <title><![CDATA[Home]]></title>
    <headerType><![CDATA[alt]]></headerType>
    <introduction><![CDATA[Responsive Web-applications made simple]]></introduction>
    <pageType><![CDATA[landing]]></pageType>
    <hideInMenu>0</hideInMenu>
    <pageStyle><![CDATA[transparent]]></pageStyle>
    <bannerParagraph><![CDATA[Responsive Web-applications made simple]]></bannerParagraph>
    <bannerHeadline><![CDATA[Basic Frontend]]></bannerHeadline>
    <contentPage id="1083" key="26c860ca-bc2b-4218-a0ee-b68543b21c9a" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2018-08-19T00:00:25" updateDate="2018-08-19T00:51:58" nodeName="Disclaimer" urlName="disclaimer" path="-1,1081,1083" isDoc="" nodeType="1077" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1056" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
      <title><![CDATA[Disclaimer]]></title>
      <hideInMenu>0</hideInMenu>
      <headline><![CDATA[Disclaimer]]></headline>
    </contentPage>
    <siteGlobal id="1080" key="0f4d93ee-d64f-4957-9709-c8e6da0637c0" parentID="1081" level="2" creatorID="0" sortOrder="1" createDate="2018-08-18T23:38:46" updateDate="2018-08-19T15:05:04" nodeName="Site Global" urlName="site-global" path="-1,1081,1080" isDoc="" nodeType="1079" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="true">
      <siteAuthor><![CDATA[responsive kaysta]]></siteAuthor>
      <metaKeywords><![CDATA[responsive, web, application, jquery, bootstrap]]></metaKeywords>
      <siteTitle><![CDATA[Basic Frontend]]></siteTitle>
      <metaDescription><![CDATA[responsive, web, application, jquery, bootstrap]]></metaDescription>
    </siteGlobal>
  </landingPage>
</root>