// out: ../../public/assets/css/custom.css

@import "global.less";

body {
  background: transparent;
}

#header h1 > a {
  color: #5e5e5e;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.clearfix {
  float: none;
}

.emailform {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 730px;
  overflow: hidden;
  border: none;
}

.clickable {
  cursor: pointer;
}

.facet-box {
  padding: 1rem;
}

label.facet {
  border-radius: 0.35rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: normal;
  height: 2.125rem;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  padding: 0 1.25rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 0 2px @style-light-button-box-shadow-color;
}

label.facet:hover {
  background: @style-light-a-button-bg-hover !important;
  background-color: @style-light-a-button-bg-hover !important;
  cursor: pointer;
}

#header {
  width: 100%;
  height: 3.25rem;
  color: #5e5e5e;
  background-color: #0b3536;
}

#header nav {
  color: #5e5e5e;
  background-color: #0b3536;
}

#footer {
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: #5e5e5e;
  background-color: #0b3536;
  width: 100%;
  bottom: 0;
}

#footer .copyright span {
  padding: 0;
}

body #root {
  background: -moz-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)),
    url(@global-bg-image);
  background: -webkit-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)),
    url(@global-bg-image);
  background-image: -ms-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)),
    url(@global-bg-image);
  background: linear-gradient(to bottom, #0b3536 0%, rgba(125, 185, 232, 0)),
    url(@global-bg-image);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  background-color: transparent;
}

@media screen and (min-width: 1680px) {
  #menu {
    width: 100%;
  }

  #header nav {
    width: 40%;
  }

  hr {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .page-header {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  h5 {
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 1rem;
  }

  .spotlight-left .image {
    width: 256px;
    padding-right: 3rem;
  }

  .spotlight-right .image {
    width: 256px;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 1680px) {
  #menu {
    width: 100%;
  }

  #header nav {
    width: 40%;
  }

  hr {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .page-header {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  h5 {
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 1rem;
  }

  .spotlight-left .image {
    width: 256px;
    padding-right: 3rem;
  }

  .spotlight-right .image {
    width: 256px;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  #menu {
    width: 100%;
  }

  #header nav {
    width: 40%;
  }

  hr {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .page-header {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  h5 {
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 1rem;
  }

  .spotlight-left .image {
    width: 256px;
    padding-right: 3rem;
  }

  .spotlight-right .image {
    width: 256px;
    padding-left: 3rem;
  }
}

@media screen and (max-width: 980px) {
  #menu {
    width: 100%;
  }

  #header nav {
    width: 50%;
  }

  hr {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .page-header {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  h5 {
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 1rem;
  }

  .spotlight-left .image {
    width: 256px;
    padding-right: 2rem;
  }

  .spotlight-right .image {
    width: 256px;
    padding-left: 2rem;
  }

  #cta .inner .actions > li {
    padding-left: 0;
  }
}

@media screen and (max-width: 736px) {
  #menu {
    width: 100%;
  }

  #header nav {
    width: 50%;
  }

  hr {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .page-header {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  h5 {
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 1rem;
  }

  .spotlight-left .image {
    display: none;
  }

  .spotlight-right .image {
    display: none;
  }

  #cta .inner .actions > li {
    padding-left: 0;
  }
}
