/* 
    base styles and definitions
---------------------------------------------------------------------------------------------------
*/
/* 
    code
---------------------------------------------------------------------------------------------------
*/
/* 
    box / banner
---------------------------------------------------------------------------------------------------
*/
/* 
    green
---------------------------------------------------------------------------------------------------
*/
/* 
    gray
---------------------------------------------------------------------------------------------------
*/
/* 
    purple
---------------------------------------------------------------------------------------------------
*/
/* 
    transparent
---------------------------------------------------------------------------------------------------
*/
/* 
    light
---------------------------------------------------------------------------------------------------
*/
body {
  background: transparent;
}
#header h1 > a {
  color: #5e5e5e;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.clearfix {
  float: none;
}
.emailform {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 730px;
  overflow: hidden;
  border: none;
}
.clickable {
  cursor: pointer;
}
.facet-box {
  padding: 1rem;
}
label.facet {
  border-radius: 0.35rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: normal;
  height: 2.125rem;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  padding: 0 1.25rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 0 2px darkgray;
}
label.facet:hover {
  background: rgba(0, 0, 0, 0.25) !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
}
#header {
  width: 100%;
  height: 3.25rem;
  color: #5e5e5e;
  background-color: #0b3536;
}
#header nav {
  color: #5e5e5e;
  background-color: #0b3536;
}
#footer {
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: #5e5e5e;
  background-color: #0b3536;
  width: 100%;
  bottom: 0;
}
#footer .copyright span {
  padding: 0;
}
body #root {
  background: -moz-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/Website-Design-Background.png");
  background: -webkit-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/Website-Design-Background.png");
  background-image: -ms-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/Website-Design-Background.png");
  background: linear-gradient(to bottom, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/Website-Design-Background.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  background-color: transparent;
}
