/* footer.less */

footer ul li {
    position: relative;
    display: block;
    text-align: left;
    line-height: 1;
}

footer ul {
    margin: 0;
    text-align: center;
}

footer .container {
    padding: 0;
}

.footer-menu-heading {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.footer-brand {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

footer.dark a {
    color: dimgray !important;
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    // font-family: "Lato", sans-serif;
    font-weight: 100;
}

footer.dark a:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    border-bottom: 1px solid #fff !important;
    padding-bottom: 3px;
    text-decoration: none;
    color: dimgray;
}

footer.dark .footer-menu-heading  {
    color: #ffffff;
}

footer.dark .footer-brand {
    color: #ffffff;
}