/* navbar.less */
nav {
  z-index: 999;
  text-align: right;
  left: 0px;
  right: 0px;
  display: block;
  position: relative;
  transition: height 300ms ease-in-out;
}
nav > ul {
  padding: 20px;
  position: relative;
  display: inline-table;
  width: 100%;
}
nav > ul li {
  position: relative;
  font-family: "Lato", sans-serif;
  list-style: none;
}
nav > ul li a,
nav > ul li span {
  cursor: pointer;
  display: inline-block;
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
}
nav > ul li a:hover,
nav > ul li span:hover {
  color: #fff;
}
nav > ul li span {
  cursor: pointer;
}
nav > ul li:after {
  content: "";
  clear: both;
  display: block;
}
nav > ul li.selected > a,
nav > ul li.selected span {
  color: #fff;
  font-weight: 700;
}
nav li > ul {
  position: absolute;
}
nav li > ul li {
  float: none;
  display: block;
  position: relative;
}
nav li > ul li a {
  font-size: 17px;
  padding: 15px 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
nav li > ul li a:hover {
  color: #fff;
}
nav li > ul > li > ul {
  left: 100%;
  top: 0;
  display: none;
}
.navbar-brand {
  width: 273px;
  height: 65px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: normal;
}
.navbar-invisible {
  visibility: hidden;
}
@media (min-width: 980px) {
  .navbar-brand {
    width: 273px;
    height: 65px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
    line-height: normal;
  }
}
@media (min-width: 992px) {
  nav {
    margin: 0 auto;
    background: none;
    width: 100%;
  }
  nav > ul {
    padding-right: 0;
    width: auto;
  }
  nav > ul li {
    float: left;
  }
  nav > ul li a,
  nav > ul li span {
    font-size: 15px;
  }
  nav > ul li:last-child a {
    padding-right: 15px;
  }
  nav li > ul {
    left: 0;
    top: 75%;
    display: none;
    white-space: nowrap;
    height: auto;
    margin-bottom: 0;
    margin-left: 10px;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
  }
  nav li > ul li a {
    padding: 8px 15px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
  }
  nav .has-child:hover > .sublevel {
    display: block;
  }
}
@media (max-width: 992px) {
  nav {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
    transition: -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    text-align: center;
    position: absolute;
    top: 0;
  }
  nav.open {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  nav > ul {
    margin: 0;
  }
  nav > ul li:first-child a {
    padding: 10px 25px;
  }
  nav > ul li a,
  nav > ul li span {
    padding: 25px 25px 10px 25px;
    color: rgba(255, 255, 255, 0.6);
  }
  nav > ul li.selected > a,
  nav > ul li.selected span {
    color: #fff;
    font-weight: 700;
  }
  nav > ul li.selected ul {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    height: 120%;
  }
  nav li > ul {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: relative;
    text-align: center;
    transition: all 300ms ease-in-out;
    height: 0;
    margin: 0;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  nav > ul li.selected ul li a {
    color: #fff;
    font-weight: 500;
  }
}