// out: false

@import "../global.less";

.light {
    color: @style-light-color;
    background-color: @style-light-bg-color !important;
}

.light a:hover {
    color: @style-light-hover-color;
}

.light .page-header {
    width: 100%;
    color: @style-light-color;
    border-bottom: @style-light-border-color solid thin !important;
}


header.light,
header.light h2, 
header.light p {
    color: @global-text-color;
    background-color: @style-transparent-bg-color;
}

.icon.light * {
    color: @style-light-color;
}

.icon.light a:hover {
    color: @global-link-hover-color;
}