@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 60%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 50%;
  }
}
