/* custom styling */
#admin-header {
  margin: 0;
  padding: 0;
}
#main-content {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}
#admin-footer {
  margin: 0;
  padding: 0;
}
.tooltip_templates {
  display: none;
}
.tooltip_top {
  display: block;
}
.tooltip_inner {
  display: block;
}
.tooltipster {
  display: block;
}
.rowconfig {
  display: block;
  padding: 0.5rem;
}
.odd {
  background-color: lightgray;
}
.even {
  background-color: whitesmoke;
}
#footer {
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: #f5f5f5;
  background-color: #0b3536;
}
#footer .copyright span {
  padding: 0;
}
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
footer#footer {
  /*
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    */
}