// out: false

@import "../global.less";

section {
    margin: 0;
    padding: 0;
}

section.special {
    text-align: center;
    padding-top: 2.75rem;
    padding-bottom: 0.5rem;
}

section#banner > div {
    color: @global-text-color;
    background-color: transparent !important;
}

section#banner > div h2 {
    color: @global-text-color;
    background-color: transparent !important;
}

section#banner > div p {
    color: @global-text-color;
    background-color: transparent !important;
}