// out: false

@import "../global.less";

code {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

code {
    font-family: @code-font-family;
    text-decoration: @global-text-decoration;    
    text-transform: @global-text-transform;
}

code {
    color: @code-color;
    background-color: @code-bg-color;
}

code {
    overflow: auto;
    font-size: 0.75rem;
    border-radius: 10px;
}