<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT contentGrid ANY>
<!ATTLIST contentGrid id ID #REQUIRED>
<!ELEMENT pageDefaults ANY>
<!ATTLIST pageDefaults id ID #REQUIRED>
<!ELEMENT blogOverview ANY>
<!ATTLIST blogOverview id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
]>
<root id="-1">
  <landingPage id="1089" key="51707a87-f829-48ec-b03e-87ef91eb04a4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-04T12:46:14" updateDate="2018-05-10T18:16:46" nodeName="Home" urlName="home" path="-1,1089" isDoc="" nodeType="1086" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1065" nodeTypeAlias="landingPage" isPublished="true">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
    <pageStyle><![CDATA[transparent]]></pageStyle>
    <introduction><![CDATA[Home]]></introduction>
    <headerType><![CDATA[alt]]></headerType>
    <hideInMenu>0</hideInMenu>
    <title><![CDATA[Home]]></title>
    <pageType><![CDATA[landing]]></pageType>
    <bannerParagraph><![CDATA[Bannerparagraph]]></bannerParagraph>
    <bannerCTAText><![CDATA[CTA Text]]></bannerCTAText>
    <bannerHeadline><![CDATA[Bannerheadline]]></bannerHeadline>
    <bannerCTAUrl><![CDATA[/]]></bannerCTAUrl>
    <contentPage id="1118" key="6c3d0dab-ef55-40c6-90ad-b7b1e30fedcd" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2018-05-05T22:42:04" updateDate="2018-05-07T19:05:37" nodeName="Framework" urlName="framework" path="-1,1089,1118" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
      <pageStyle><![CDATA[light]]></pageStyle>
      <introduction><![CDATA[introduction]]></introduction>
      <headerType><![CDATA[remove]]></headerType>
      <hideInMenu>0</hideInMenu>
      <title><![CDATA[title]]></title>
      <pageType><![CDATA[regular]]></pageType>
      <paragraph><![CDATA[Paragraph]]></paragraph>
      <headline><![CDATA[Headline]]></headline>
    </contentPage>
    <contentPage id="1119" key="5877658a-8fd6-4553-af8a-b1db56d6ef9c" parentID="1089" level="2" creatorID="0" sortOrder="1" createDate="2018-05-05T23:24:56" updateDate="2018-05-07T19:07:17" nodeName="Documentation" urlName="documentation" path="-1,1089,1119" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
      <pageStyle><![CDATA[light]]></pageStyle>
      <introduction><![CDATA[Documentation]]></introduction>
      <headerType><![CDATA[remove]]></headerType>
      <hideInMenu>0</hideInMenu>
      <title><![CDATA[Documentation]]></title>
      <pageType><![CDATA[regular]]></pageType>
      <paragraph><![CDATA[Documentation]]></paragraph>
      <headline><![CDATA[Documentation]]></headline>
    </contentPage>
    <contentPage id="1120" key="20206b08-56cb-406a-95b1-30e30c3e5eaa" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2018-05-05T23:26:41" updateDate="2018-05-07T17:47:02" nodeName="Disclaimer" urlName="disclaimer" path="-1,1089,1120" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
      <pageStyle><![CDATA[light]]></pageStyle>
      <introduction><![CDATA[Haftungsausschluss/Disclaimer]]></introduction>
      <headerType><![CDATA[remove]]></headerType>
      <hideInMenu>0</hideInMenu>
      <title><![CDATA[Haftungsausschluss/Disclaimer]]></title>
      <pageType><![CDATA[regular]]></pageType>
      <paragraph><![CDATA[Haftungsausschluss/Disclaimer]]></paragraph>
      <style><![CDATA[remove]]></style>
      <headline><![CDATA[Haftungsausschluss/Disclaimer]]></headline>
    </contentPage>
    <siteGlobal id="1090" key="209d9481-64c2-4f3b-8fc3-f5c1b29fcbf9" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2018-05-04T12:46:42" updateDate="2018-05-10T19:31:51" nodeName="Site Global" urlName="site-global" path="-1,1089,1090" isDoc="" nodeType="1087" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="false">
      <siteTitle><![CDATA[Basic Frontend]]></siteTitle>
      <metaDescription><![CDATA[Technologien unterstützen die Effizienz und den Komfort einer Lösung]]></metaDescription>
      <siteAuthor><![CDATA[responsive kaysta]]></siteAuthor>
      <metaKeywords><![CDATA[Technologien,unterstützen,Effizienz,Komfort,Lösung]]></metaKeywords>
    </siteGlobal>
  </landingPage>
</root>