<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT anchorPage ANY>
<!ATTLIST anchorPage id ID #REQUIRED>
<!ELEMENT contentGrid ANY>
<!ATTLIST contentGrid id ID #REQUIRED>
<!ELEMENT pageDefaults ANY>
<!ATTLIST pageDefaults id ID #REQUIRED>
<!ELEMENT blogOverview ANY>
<!ATTLIST blogOverview id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
<!ELEMENT siteStyling ANY>
<!ATTLIST siteStyling id ID #REQUIRED>
]>
<root id="-1">
  <landingPage id="1089" key="51707a87-f829-48ec-b03e-87ef91eb04a4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-04T12:46:14" updateDate="2018-05-04T12:54:41" nodeName="Home" urlName="home" path="-1,1089" isDoc="" nodeType="1086" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1065" nodeTypeAlias="landingPage" isPublished="true">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
    <introduction><![CDATA[Home]]></introduction>
    <headerType><![CDATA[alt]]></headerType>
    <hideInMenu>0</hideInMenu>
    <title><![CDATA[Home]]></title>
    <pageType><![CDATA[landing]]></pageType>
    <siteGlobal id="1090" key="209d9481-64c2-4f3b-8fc3-f5c1b29fcbf9" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2018-05-04T12:46:42" updateDate="2018-05-05T21:59:50" nodeName="Site Global" urlName="site-global" path="-1,1089,1090" isDoc="" nodeType="1087" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="false">
      <siteTitle><![CDATA[Basic Frontend]]></siteTitle>
      <metaDescription><![CDATA[Home]]></metaDescription>
      <siteAuthor><![CDATA[responsive kaysta]]></siteAuthor>
      <metaKeywords><![CDATA[Home]]></metaKeywords>
    </siteGlobal>
  </landingPage>
</root>