<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT anchorPage ANY>
<!ATTLIST anchorPage id ID #REQUIRED>
<!ELEMENT contentGrid ANY>
<!ATTLIST contentGrid id ID #REQUIRED>
<!ELEMENT pageDefaults ANY>
<!ATTLIST pageDefaults id ID #REQUIRED>
<!ELEMENT blogOverview ANY>
<!ATTLIST blogOverview id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
<!ELEMENT siteStyling ANY>
<!ATTLIST siteStyling id ID #REQUIRED>
]>
<root id="-1">
  <landingPage id="1089" key="51707a87-f829-48ec-b03e-87ef91eb04a4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-04T12:46:14" updateDate="2018-05-07T01:43:17" nodeName="Home" urlName="home" path="-1,1089" isDoc="" nodeType="1086" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1065" nodeTypeAlias="landingPage" isPublished="true">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Eye Catcher",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "EyeCatcher"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "headline": "Headline",
                    "paragraph": "Text",
                    "id": "one",
                    "style": "wrapper style1 special"
                  },
                  "editor": {
                    "alias": "EyeCatcher"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a1a35059-43bf-2711-6e99-cd4219e308b2"
        },
        {
          "name": "Spotlight",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "spotlight",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1091,
                    "image": "/media/1001/1.jpg",
                    "caption": "framework",
                    "headline": "framework",
                    "paragraph": "framework",
                    "cta_button_text": "framework",
                    "cta_button_url": "/Framework"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1094,
                    "image": "/media/1004/archive-bg.jpg",
                    "caption": "documentation",
                    "headline": "documentation",
                    "paragraph": "documentation",
                    "cta_button_text": "Documentation",
                    "cta_button_url": "/Documentation"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1117,
                    "image": "/media/1027/zenmate.jpg",
                    "caption": "disclaimer",
                    "headline": "disclaimer",
                    "paragraph": "disclaimer",
                    "cta_button_text": "disclaimer",
                    "cta_button_url": "/Disclaimer"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "76f3d587-821b-d902-b5dc-b8be350c1d14"
        }
      ]
    }
  ]
}]]></gridLayout>
    <introduction><![CDATA[Home]]></introduction>
    <headerType><![CDATA[alt]]></headerType>
    <hideInMenu>0</hideInMenu>
    <title><![CDATA[Home]]></title>
    <pageType><![CDATA[landing]]></pageType>
    <bannerParagraph><![CDATA[Bannerparagraph]]></bannerParagraph>
    <bannerCTAText><![CDATA[CTA Text]]></bannerCTAText>
    <bannerHeadline><![CDATA[Bannerheadline]]></bannerHeadline>
    <bannerCTAUrl><![CDATA[/]]></bannerCTAUrl>
    <pageStyle><![CDATA[alt]]></pageStyle>
    <contentPage id="1118" key="6c3d0dab-ef55-40c6-90ad-b7b1e30fedcd" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2018-05-05T22:42:04" updateDate="2018-05-07T01:43:17" nodeName="Framework" urlName="framework" path="-1,1089,1118" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Framework",
                  "editor": {
                    "alias": "page_header"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1122,
                    "image": "/media/1028/jquery.png",
                    "caption": "jQuery",
                    "headline": "jQuery",
                    "paragraph": "jQuery",
                    "cta_button_text": "jQuery",
                    "cta_button_url": "/framework/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1123,
                    "image": "/media/1029/bootstrap.png",
                    "caption": "Bootstrap",
                    "headline": "Bootstrap",
                    "paragraph": "Bootstrap",
                    "cta_button_text": "Bootstrap",
                    "cta_button_url": "/framework/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1124,
                    "image": "/media/1030/popper.png",
                    "caption": "Popper",
                    "headline": "Popper",
                    "paragraph": "Popper",
                    "cta_button_text": "Popper",
                    "cta_button_url": "/framework/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1125,
                    "image": "/media/1031/tooltipster.png",
                    "caption": "Tooltipster",
                    "headline": "Tooltipster",
                    "paragraph": "Tooltipster",
                    "cta_button_text": "Tooltipster",
                    "cta_button_url": "/framework/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1127,
                    "image": "/media/1033/skelio.png",
                    "caption": "skel.io",
                    "headline": "skel.io",
                    "paragraph": "skel.io",
                    "cta_button_text": "skel.io",
                    "cta_button_url": "/framework/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1128,
                    "image": "/media/1034/html5up.png",
                    "caption": "html5up",
                    "headline": "html5up",
                    "paragraph": "html5up",
                    "cta_button_text": "html5up",
                    "cta_button_url": "/framework/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "bf41fa3c-2a3b-839f-e114-db22fabe52fd"
        }
      ]
    }
  ]
}]]></gridLayout>
      <introduction><![CDATA[introduction]]></introduction>
      <headerType><![CDATA[remove]]></headerType>
      <hideInMenu>0</hideInMenu>
      <title><![CDATA[title]]></title>
      <pageType><![CDATA[regular]]></pageType>
      <paragraph><![CDATA[Paragraph]]></paragraph>
      <style><![CDATA[remove]]></style>
      <headline><![CDATA[Headline]]></headline>
    </contentPage>
    <contentPage id="1119" key="5877658a-8fd6-4553-af8a-b1db56d6ef9c" parentID="1089" level="2" creatorID="0" sortOrder="1" createDate="2018-05-05T23:24:56" updateDate="2018-05-07T01:43:17" nodeName="Documentation" urlName="documentation" path="-1,1089,1119" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Documentation",
                  "editor": {
                    "alias": "page_header"
                  },
                  "active": false
                },
                {
                  "value": "CMS und Design-Elemente",
                  "editor": {
                    "alias": "lead_text"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "4ed98ce2-6be5-39da-d83e-563b5eedf7ce"
        },
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1111,
                    "image": "/media/1021/responsive-blurry-images-wordpress.jpg",
                    "caption": "Plugin",
                    "headline": "Simple HTML Elements",
                    "cta_button_url": "/documentation/simple-html-elements/",
                    "cta_button_text": "go to",
                    "paragraph": "...like: header and title, paragraph etc."
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1112,
                    "image": "/media/1022/samsung-galaxy-a3-unboxing-4.jpg",
                    "caption": "Plugin",
                    "cta_button_url": "/documentation/complex-or-formated-html-elements/",
                    "headline": "Complex or formated HTML Elements",
                    "paragraph": "...like: Richtext, quote, code etc.",
                    "cta_button_text": "go to"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1108,
                    "image": "/media/1018/mobappvsweb-blogcontent.png",
                    "caption": "Plugin",
                    "cta_button_url": "/documentation/modules/",
                    "headline": "Modules",
                    "paragraph": "...like: more complex elements",
                    "cta_button_text": "got to"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1099,
                    "image": "/media/1009/coding-924920_960_720.jpg",
                    "caption": "Plugin",
                    "headline": "Blog",
                    "paragraph": "...like: a blog",
                    "cta_button_url": "/documentation/blog-overview/",
                    "cta_button_text": "go to"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "d2b1750c-39c1-f9ce-6525-53feda47a850",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
      <introduction><![CDATA[Documentation]]></introduction>
      <headerType><![CDATA[remove]]></headerType>
      <hideInMenu>0</hideInMenu>
      <title><![CDATA[Documentation]]></title>
      <pageType><![CDATA[regular]]></pageType>
      <paragraph><![CDATA[Documentation]]></paragraph>
      <style><![CDATA[remove]]></style>
      <headline><![CDATA[Documentation]]></headline>
      <contentPage id="1130" key="b8aee4d0-4109-4521-8315-6a3d18189a53" parentID="1119" level="3" creatorID="0" sortOrder="0" createDate="2018-05-07T00:48:44" updateDate="2018-05-07T01:43:17" nodeName="Simple HTML Elements" urlName="simple-html-elements" path="-1,1089,1119,1130" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
        <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Abstract title element",
                  "editor": {
                    "alias": "abstract"
                  },
                  "active": false
                },
                {
                  "value": "Headline element",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Headline centered element",
                  "editor": {
                    "alias": "headline_centered"
                  },
                  "active": false
                },
                {
                  "value": "Lead text element",
                  "editor": {
                    "alias": "lead_text"
                  },
                  "active": false
                },
                {
                  "value": "Page header element",
                  "editor": {
                    "alias": "page_header"
                  },
                  "active": false
                },
                {
                  "value": "Paragraph element",
                  "editor": {
                    "alias": "paragraph"
                  },
                  "active": false
                },
                {
                  "value": "Tagline element",
                  "editor": {
                    "alias": "tagline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1b2e0758-b490-3e04-b1ea-4f626e27bb79"
        }
      ]
    }
  ]
}]]></gridLayout>
        <introduction><![CDATA[Simple HTML Elements]]></introduction>
        <headerType><![CDATA[remove]]></headerType>
        <hideInMenu>0</hideInMenu>
        <title><![CDATA[Simple HTML Elements]]></title>
        <pageType><![CDATA[regular]]></pageType>
        <paragraph><![CDATA[Simple HTML Elements]]></paragraph>
        <style><![CDATA[remove]]></style>
        <headline><![CDATA[Simple HTML Elements]]></headline>
      </contentPage>
      <contentPage id="1131" key="0564e7fd-bac4-470d-b53a-1406e9130fa0" parentID="1119" level="3" creatorID="0" sortOrder="1" createDate="2018-05-07T00:54:21" updateDate="2018-05-07T01:43:17" nodeName="Complex or formated HTML Elements" urlName="complex-or-formated-html-elements" path="-1,1089,1119,1131" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
        <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Code element",
                  "editor": {
                    "alias": "code"
                  },
                  "active": false
                },
                {
                  "value": "Quote element",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                },
                {
                  "value": {
                    "quote": "Quote with description element",
                    "headline": "Headline",
                    "description": "Description"
                  },
                  "editor": {
                    "alias": "quote_D"
                  },
                  "active": false
                },
                {
                  "value": "<p><span style=\"text-decoration: underline;\"><em><strong>Richtext element</strong></em></span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "48365176-61dc-f21c-1863-824a00522eb2",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
        <introduction><![CDATA[Complex or formated HTML Elements]]></introduction>
        <headerType><![CDATA[remove]]></headerType>
        <hideInMenu>0</hideInMenu>
        <title><![CDATA[Complex or formated HTML Elements]]></title>
        <pageType><![CDATA[regular]]></pageType>
        <paragraph><![CDATA[Complex or formated HTML Elements]]></paragraph>
        <style><![CDATA[remove]]></style>
        <headline><![CDATA[Complex or formated HTML Elements]]></headline>
      </contentPage>
      <contentPage id="1132" key="e3c453e5-328d-4208-817e-2bfcb4a3dd65" parentID="1119" level="3" creatorID="0" sortOrder="2" createDate="2018-05-07T01:00:14" updateDate="2018-05-07T01:43:18" nodeName="Modules" urlName="modules" path="-1,1089,1119,1132" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
        <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Eye Catcher",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "EyeCatcher"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "headline": "Eye catcher module",
                    "paragraph": "wrapper special: purple ground",
                    "style": "wrapper style3 special"
                  },
                  "editor": {
                    "alias": "EyeCatcher"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "afebe3d6-556e-a8a6-7f10-263a3a9115d8"
        },
        {
          "name": "Spotlight",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "spotlight",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1092,
                    "image": "/media/1002/800px_colourbox6567376.jpg",
                    "caption": "Spotlight element",
                    "headline": "Spotlight element",
                    "paragraph": "Spotlight element",
                    "cta_button_text": "button",
                    "cta_button_url": "/"
                  },
                  "editor": {
                    "alias": "spotlight"
                  },
                  "active": false
                },
                {
                  "value": "<p>Spotlight with Richtext</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "dc69e7ba-3f50-b31e-269f-85ced64f72cf"
        },
        {
          "name": "Call to Action",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "CtA"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "headline": "Call to Action element",
                    "description": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                    "button1_text": "Button 1",
                    "button1_url": "/documentation/modules/",
                    "button2_text": "Button 2",
                    "button2_url": "/documentation/modules/"
                  },
                  "editor": {
                    "alias": "CtA"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "36093ec1-f1f7-9335-3137-2b6be21da6a8"
        },
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "headline": "Call to Action within Content",
                    "description": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr",
                    "button1_text": "Button 1",
                    "button2_text": "Button 2",
                    "button2_url": "/documentation/modules/",
                    "button1_url": "/documentation/modules/"
                  },
                  "editor": {
                    "alias": "CtA"
                  },
                  "active": false
                },
                {
                  "value": {
                    "headline": "Jumbotron",
                    "description": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
                  },
                  "editor": {
                    "alias": "Jumbotron"
                  },
                  "active": false
                },
                {
                  "value": {
                    "headline": "Simple article element",
                    "content": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
                    "description": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr"
                  },
                  "editor": {
                    "alias": "SimpleArticle"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6c73f45d-76b5-24ad-1bd5-ecfe01249fcc"
        }
      ]
    }
  ]
}]]></gridLayout>
        <introduction><![CDATA[Modules]]></introduction>
        <headerType><![CDATA[remove]]></headerType>
        <colourScheme><![CDATA[light]]></colourScheme>
        <hideInMenu>0</hideInMenu>
        <title><![CDATA[Modules]]></title>
        <pageType><![CDATA[regular]]></pageType>
        <paragraph><![CDATA[Modules]]></paragraph>
        <style><![CDATA[remove]]></style>
        <headline><![CDATA[Modules]]></headline>
      </contentPage>
      <blogOverview id="1133" key="1e728175-3f3a-47fc-a8c8-f50faca4f1a3" parentID="1119" level="3" creatorID="0" sortOrder="3" createDate="2018-05-07T01:26:16" updateDate="2018-05-07T01:43:18" nodeName="Blog overview" urlName="blog-overview" path="-1,1089,1119,1133" isDoc="" nodeType="1083" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1062" nodeTypeAlias="blogOverview" isPublished="true">
        <introduction><![CDATA[Blog overview]]></introduction>
        <headerType><![CDATA[remove]]></headerType>
        <colourScheme><![CDATA[light]]></colourScheme>
        <hideInMenu>0</hideInMenu>
        <title><![CDATA[Blog overview]]></title>
        <pageType><![CDATA[landing]]></pageType>
        <blogPost id="1134" key="80b970ad-0a9a-405b-b4b0-88909f5b48d6" parentID="1133" level="4" creatorID="0" sortOrder="0" createDate="2018-05-07T01:30:13" updateDate="2018-05-07T01:46:44" nodeName="Blog post 1" urlName="blog-post-1" path="-1,1089,1119,1133,1134" isDoc="" nodeType="1084" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1063" nodeTypeAlias="blogPost" isPublished="true">
          <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Content",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "macro",
                "embed",
                "headline",
                "page_header",
                "tagline",
                "headline_centered",
                "abstract",
                "paragraph",
                "lead_text",
                "quote",
                "SimpleArticle",
                "EyeCatcher",
                "quote_D",
                "panel",
                "spotlight",
                "Jumbotron",
                "CtA",
                "code"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "headline": "Simple article element",
                    "description": "Lorem ipsum dolor sit amet",
                    "content": "consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
                  },
                  "editor": {
                    "alias": "SimpleArticle"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "a136304e-5872-f1c2-b719-bc5d19e90e72"
        }
      ]
    }
  ]
}]]></gridLayout>
          <introduction><![CDATA[Blog post 1 - dark]]></introduction>
          <headerType><![CDATA[remove]]></headerType>
          <colourScheme><![CDATA[dark]]></colourScheme>
          <hideInMenu>0</hideInMenu>
          <title><![CDATA[Blog post 1 - dark]]></title>
          <pageType><![CDATA[regular]]></pageType>
        </blogPost>
        <blogPost id="1135" key="d99542f6-8163-4dd3-a3f5-c554e55c04f9" parentID="1133" level="4" creatorID="0" sortOrder="1" createDate="2018-05-07T01:30:46" updateDate="2018-05-07T01:43:18" nodeName="Blog post 2" urlName="blog-post-2" path="-1,1089,1119,1133,1135" isDoc="" nodeType="1084" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1063" nodeTypeAlias="blogPost" isPublished="true">
          <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
          <introduction><![CDATA[Blog post 2 - light]]></introduction>
          <headerType><![CDATA[remove]]></headerType>
          <colourScheme><![CDATA[light]]></colourScheme>
          <hideInMenu>0</hideInMenu>
          <title><![CDATA[Blog post 2]]></title>
          <pageType><![CDATA[regular]]></pageType>
        </blogPost>
        <blogPost id="1136" key="8ea02409-6c41-4e72-96fc-c9f6ffa2de1b" parentID="1133" level="4" creatorID="0" sortOrder="2" createDate="2018-05-07T01:31:27" updateDate="2018-05-07T01:43:18" nodeName="Blog post 3" urlName="blog-post-3" path="-1,1089,1119,1133,1136" isDoc="" nodeType="1084" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1063" nodeTypeAlias="blogPost" isPublished="true">
          <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
          <introduction><![CDATA[Blog post 3 - yellow]]></introduction>
          <headerType><![CDATA[remove]]></headerType>
          <colourScheme><![CDATA[yellow]]></colourScheme>
          <hideInMenu>0</hideInMenu>
          <title><![CDATA[Blog post 3]]></title>
          <pageType><![CDATA[regular]]></pageType>
        </blogPost>
        <blogPost id="1137" key="cc702f96-2b52-48ee-9fe8-62ffebb43633" parentID="1133" level="4" creatorID="0" sortOrder="3" createDate="2018-05-07T01:31:50" updateDate="2018-05-07T01:43:18" nodeName="Blog post 4" urlName="blog-post-4" path="-1,1089,1119,1133,1137" isDoc="" nodeType="1084" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1063" nodeTypeAlias="blogPost" isPublished="true">
          <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
          <introduction><![CDATA[Blog post 4 - purple]]></introduction>
          <headerType><![CDATA[remove]]></headerType>
          <colourScheme><![CDATA[purple]]></colourScheme>
          <hideInMenu>0</hideInMenu>
          <title><![CDATA[Blog post 4]]></title>
          <pageType><![CDATA[regular]]></pageType>
        </blogPost>
        <blogPost id="1138" key="63638e56-c159-4b97-8c68-35d443ec81bb" parentID="1133" level="4" creatorID="0" sortOrder="4" createDate="2018-05-07T01:32:11" updateDate="2018-05-07T01:43:18" nodeName="Blog post 5" urlName="blog-post-5" path="-1,1089,1119,1133,1138" isDoc="" nodeType="1084" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1063" nodeTypeAlias="blogPost" isPublished="true">
          <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
          <introduction><![CDATA[Blog post 5 - blue]]></introduction>
          <headerType><![CDATA[remove]]></headerType>
          <colourScheme><![CDATA[blue]]></colourScheme>
          <hideInMenu>0</hideInMenu>
          <title><![CDATA[Blog post 5]]></title>
          <pageType><![CDATA[regular]]></pageType>
        </blogPost>
      </blogOverview>
    </contentPage>
    <contentPage id="1120" key="20206b08-56cb-406a-95b1-30e30c3e5eaa" parentID="1089" level="2" creatorID="0" sortOrder="2" createDate="2018-05-05T23:26:41" updateDate="2018-05-07T11:06:05" nodeName="Disclaimer" urlName="disclaimer" path="-1,1089,1120" isDoc="" nodeType="1085" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1064" nodeTypeAlias="contentPage" isPublished="true">
      <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
      <introduction><![CDATA[Haftungsausschluss/Disclaimer]]></introduction>
      <headerType><![CDATA[remove]]></headerType>
      <colourScheme><![CDATA[light]]></colourScheme>
      <hideInMenu>0</hideInMenu>
      <title><![CDATA[Haftungsausschluss/Disclaimer]]></title>
      <pageType><![CDATA[regular]]></pageType>
      <paragraph><![CDATA[Haftungsausschluss/Disclaimer]]></paragraph>
      <style><![CDATA[remove]]></style>
      <headline><![CDATA[Haftungsausschluss/Disclaimer]]></headline>
    </contentPage>
    <siteGlobal id="1090" key="209d9481-64c2-4f3b-8fc3-f5c1b29fcbf9" parentID="1089" level="2" creatorID="0" sortOrder="3" createDate="2018-05-04T12:46:42" updateDate="2018-05-07T01:43:17" nodeName="Site Global" urlName="site-global" path="-1,1089,1090" isDoc="" nodeType="1087" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="true">
      <siteTitle><![CDATA[Basic Frontend]]></siteTitle>
      <metaDescription><![CDATA[Home]]></metaDescription>
      <siteAuthor><![CDATA[responsive kaysta]]></siteAuthor>
      <metaKeywords><![CDATA[Home]]></metaKeywords>
    </siteGlobal>
  </landingPage>
</root>