/* 
  plugins & globals
---------------------------------------------------------------------------------------------------
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}
/* 
    base styles and definitions
---------------------------------------------------------------------------------------------------
*/
/* 
    code
---------------------------------------------------------------------------------------------------
*/
/* 
    box / banner
---------------------------------------------------------------------------------------------------
*/
/* 
    button
---------------------------------------------------------------------------------------------------
*/
/* 
    green
---------------------------------------------------------------------------------------------------
*/
/* 
    gray
---------------------------------------------------------------------------------------------------
*/
/* 
    purple
---------------------------------------------------------------------------------------------------
*/
/* 
    transparent
---------------------------------------------------------------------------------------------------
*/
/* 
    light
---------------------------------------------------------------------------------------------------
*/
body {
  line-height: 1.4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  line-height: 1.4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
/* 
  atom
---------------------------------------------------------------------------------------------------
*/
a {
  border-bottom: 0;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
a:hover {
  text-transform: lowercase;
  text-decoration: none;
}
a {
  color: darkgray;
}
a:hover {
  color: red;
}
a.link-h-padding:nth-child(1) {
  padding-left: 0;
}
a.link-h-padding {
  padding-left: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
  letter-spacing: 0.225rem !important;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 800 !important;
  letter-spacing: 0.225rem !important;
}
h1 {
  font-size: 1.6rem !important;
  line-height: 1.6rem !important;
}
h2 {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
}
h3 {
  font-size: 1.4rem !important;
  line-height: 1.5rem !important;
}
h4 {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}
h5 {
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
}
h6 {
  font-size: 0.8rem !important;
  line-height: 1.5rem !important;
}
.abstract {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.abstract {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.abstract {
  font-size: 1.3rem;
  font-weight: 700;
}
blockquote,
q {
  quotes: none;
  margin: 0;
  padding: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
blockquote {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
blockquote {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem !important;
  letter-spacing: 0.2rem !important;
}
blockquote:before,
blockquote:after {
  display: inline-block;
  content: '"';
}
blockquote {
  padding: 1rem;
  text-align: center;
  position: relative;
}
blockquote + * {
  padding: 3rem 1rem;
}
code {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
code {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  text-transform: lowercase;
}
code {
  color: darkgray;
  background-color: gray;
}
code {
  overflow: auto;
  font-size: 0.75rem;
  border-radius: 10px;
}
hr {
  border: 0;
  margin: 0;
  padding: 0;
}
hr {
  border: 0;
  border-bottom: solid 2px darkgray;
  margin: 1rem 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.image {
  border-radius: 3px;
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  border-radius: 3px;
  display: block;
}
.image.left {
  float: left;
  margin: 0 2rem 2rem 0;
  top: 0.25em;
}
.image.right {
  float: right;
  margin: 0 0 2rem 2rem;
  top: 0.25rem;
}
.image.left,
.image.right {
  max-width: 40%;
}
.image.left img,
.image.right img {
  width: 100%;
}
.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}
pre {
  overflow: auto;
  border-radius: 10px;
}
pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
}
pre code {
  display: block;
  line-height: 1.75rem;
  padding: 1em 1.5rem;
  overflow-x: auto;
}
p {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}
label {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}
strong,
b {
  font-weight: 600;
}
em,
i {
  font-style: italic;
}
i a {
  margin: 0.5rem;
  font-style: italic;
}
sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5em;
}
sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}
/* 
  molecule
---------------------------------------------------------------------------------------------------
*/
.box {
  border-radius: 5px;
  border: thin solid darkgray;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.box-four-in-row {
  width: 20%;
}
.box-three-in-row {
  width: 30%;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
/* 
    a.button
---------------------------------------------------------------------------------------------------
*/
a.button {
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem;
  background: transparent;
  color: whitesmoke !important;
  background: black !important;
  background-color: black !important;
  text-transform: lowercase !important;
  text-decoration: none !important;
}
a.button:hover {
  background: rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* 
    a.button.special
---------------------------------------------------------------------------------------------------
*/
a.button.special {
  border-radius: 3px;
  margin-top: 20px;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem;
  color: whitesmoke !important;
  background: #ed4933 !important;
  background-color: #ed4933 !important;
  text-transform: lowercase !important;
  text-decoration: none !important;
}
a.button.special:hover {
  background: #ef5e4a !important;
  background-color: #ef5e4a !important;
}
/* 
    selectors
---------------------------------------------------------------------------------------------------
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  border-radius: 0.75rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  height: 3.125rem;
  letter-spacing: 0.225rem;
  line-height: 3.125rem;
  padding: 0 2.75rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 0 2px whitesmoke;
}
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  border-radius: 0.35rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: normal;
  height: 2.125rem;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  padding: 0 1.25rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 0 2px whitesmoke;
}
input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35rem;
}
input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}
/* 
    media queries
---------------------------------------------------------------------------------------------------
*/
@media screen and (max-width: 736px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    height: 3.75rem;
    line-height: 3.75rem;
  }
}
/* 
    li
---------------------------------------------------------------------------------------------------
*/
li {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.15rem;
}
li {
  color: whitesmoke;
  font-weight: 400;
}
/* 
    ul
---------------------------------------------------------------------------------------------------
*/
ul {
  margin-left: 0.2rem;
}
* + ul {
  margin-bottom: 0.3rem;
}
ul {
  list-style: disc;
  margin: 0 0 0.5rem 0;
  padding-left: 0;
}
ul li {
  list-style-position: inside;
  padding-left: 0.5rem;
}
/* 
    ol
---------------------------------------------------------------------------------------------------
*/
ol {
  margin-left: 0.25rem;
}
* + ol {
  margin-bottom: 0.3rem;
}
ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}
ol li {
  padding-left: 0.25rem;
}
/* 
    dl
---------------------------------------------------------------------------------------------------
*/
dl {
  margin: 0 0 2rem 0;
}
/* 
    ul.alt
---------------------------------------------------------------------------------------------------
*/
ul.alt {
  list-style: none;
  padding-left: 0;
}
ul.alt li {
  border-top: solid 1px darkgray;
  padding: 0.5rem 0;
}
ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
/* 
    ul.icons
---------------------------------------------------------------------------------------------------
*/
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 1rem 0 0;
}
ul.icons li:last-child {
  padding-right: 0 !important;
}
/* 
    ul.icons.major
---------------------------------------------------------------------------------------------------
*/
ul.icons.major {
  padding: 1rem 0;
}
ul.icons.major li {
  padding-right: 3.5rem;
}
/* 
    ul.actions
---------------------------------------------------------------------------------------------------
*/
ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.actions li {
  display: inline-block;
  padding: 0 1.5rem 0 0;
  vertical-align: middle;
}
ul.actions li:last-child {
  padding-right: 0;
}
/* 
    ul.actions.small
---------------------------------------------------------------------------------------------------
*/
ul.actions.small li {
  padding: 0 0.75rem 0 0;
}
/* 
    ul.actions.vertical
---------------------------------------------------------------------------------------------------
*/
ul.actions.vertical li {
  display: block;
  padding: 1.5rem 0 0 0;
}
ul.actions.vertical li:first-child {
  padding-top: 0;
}
ul.actions.vertical li > * {
  margin-bottom: 0;
}
/* 
    ul.actions.vertical.small
---------------------------------------------------------------------------------------------------
*/
ul.actions.vertical.small li {
  padding: 0.75rem 0 0 0;
}
ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
/* 
    ul.actions.fit
---------------------------------------------------------------------------------------------------
*/
ul.actions.fit {
  display: table;
  margin-left: -1.5rem;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1.5rem);
}
ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1.5rem;
}
ul.actions.fit li > * {
  margin-bottom: 0;
}
/* 
    ul.actions.fit.small
---------------------------------------------------------------------------------------------------
*/
ul.actions.fit.small {
  margin-left: -0.75rem;
  width: calc(100% + 0.75rem);
}
ul.actions.fit.small li {
  padding: 0 0 0 0.75rem;
}
/* 
    media queries
---------------------------------------------------------------------------------------------------
*/
@media screen and (max-width: 736px) {
  ul.icons.major li {
    padding: 0 1rem !important;
  }
}
@media screen and (max-width: 736px) {
  ul.actions li {
    display: block;
    padding: 1rem 0 0 0;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li > * {
    margin: 0 auto !important;
    max-width: 15rem;
    width: 100%;
  }
  ul.actions li > *.icon:before {
    margin-left: -1rem;
  }
  ul.actions.small li {
    padding: 0.5rem 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}
.flex-row-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.flex-column-wrapper {
  display: flex;
  flex-flow: column;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row {
  margin: 0;
  padding: 0;
}
.row-bottom-padding {
  padding-bottom: 2rem;
}
form.row {
  padding-bottom: 1rem !important;
}
.flex-container.row {
  padding-bottom: 1rem !important;
}
.flex-row-wrapper.row {
  padding-bottom: 1rem !important;
}
.flex-column-wraper.row {
  padding-bottom: 1rem !important;
}
.separator {
  margin-right: auto;
  margin-left: auto;
  border: 0;
}
.separator-spacing {
  margin-bottom: 0.5rem;
}
/* 
    lead
---------------------------------------------------------------------------------------------------
*/
.lead {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.lead {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.lead {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* 
    small
---------------------------------------------------------------------------------------------------
*/
.small {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.small {
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* 
    italic
---------------------------------------------------------------------------------------------------
*/
.italic {
  font-style: italic;
}
/* 
    headline
---------------------------------------------------------------------------------------------------
*/
.headline {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.headline {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
/* 
    tagline
---------------------------------------------------------------------------------------------------
*/
.tagline {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.tagline {
  font-weight: 100;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
/* 
    paragraph
---------------------------------------------------------------------------------------------------
*/
.paragraph {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.paragraph {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* 
    paragraph-2col
---------------------------------------------------------------------------------------------------
*/
.paragraph-2col {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.paragraph-2col {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* 
    paragraph-3col
---------------------------------------------------------------------------------------------------
*/
.paragraph-3col {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
.paragraph-3col {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* 
    align
---------------------------------------------------------------------------------------------------
*/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
/* 
    error
---------------------------------------------------------------------------------------------------
*/
.error {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
  color: darkred !important;
}
.error {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
/* 
    media queries
---------------------------------------------------------------------------------------------------
*/
@media screen and (min-width: 980px) {
  .paragraph {
    -webkit-columns: 300px 1;
    -moz-columns: 300px 1;
    columns: 300px 1;
  }
  .paragraph-2col {
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
  }
  .paragraph-3col {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
  }
}
/* 
  organism
---------------------------------------------------------------------------------------------------
*/
article#main > header {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: transparent;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
article#main > header h2 {
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
}
article#main > header p {
  letter-spacing: 0.225rem;
  top: 0;
}
section#banner > div {
  color: whitesmoke;
  background-color: transparent !important;
}
section#banner > div h2 {
  color: whitesmoke;
  background-color: transparent !important;
  width: 70%;
}
section#banner > div p {
  color: whitesmoke;
  background-color: transparent !important;
}
#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  height: 100vh;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
#banner .inner {
  padding-left: 15%;
  padding-right: 15%;
  margin: 0;
}
#banner h2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  display: inline-block;
  font-size: 2.5rem;
  opacity: 1;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}
#banner h2:before,
#banner h2:after {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}
#banner h2:before {
  top: 0;
  left: 0;
}
#banner h2:after {
  bottom: 0;
  right: 0;
}
#banner p {
  padding-top: 1.5rem;
  letter-spacing: 0.225rem;
  text-transform: lowercase;
}
#banner .actions {
  padding-top: 0.75rem;
}
#banner:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  content: "";
  background: #2e3842;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
@media screen and (max-width: 736px) {
  #banner {
    padding: 7rem 0 5rem 0;
    height: auto;
    min-height: 0;
  }
  #banner h2 {
    font-size: 1.25rem;
  }
  #banner br {
    display: none;
  }
  #banner .more {
    display: none;
  }
}
body.is-loading #banner h2 {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}
body.is-loading #banner h2:before,
body.is-loading #banner h2:after {
  width: 0;
}
body.is-loading #banner .more {
  -moz-transform: translateY(8.5rem);
  -webkit-transform: translateY(8.5rem);
  -ms-transform: translateY(8.5rem);
  transform: translateY(8.5rem);
  opacity: 0;
}
body.is-loading #banner:after {
  opacity: 1;
}
a.more.scrolly {
  color: whitesmoke;
}
.blogarchive div[class^="col-"] {
  margin-bottom: 0.75rem !important;
  margin-top: 0.75rem;
  float: left;
}
.blogarchive h3 {
  padding-bottom: 0.75rem;
}
.blogarchive a {
  border-radius: 5px;
  white-space: normal;
  padding: 1.25rem;
  display: block;
}
.blogarchive a:hover * {
  text-decoration: none;
  color: red;
}
.blogarchive a:hover p {
  text-decoration: underline;
  color: red;
}
.blogarchive .date {
  text-align: right;
}
.blogarchive p.paragraph {
  min-height: 60px;
}
.breadcrumb {
  background: rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
}
.breadcrumb a,
.breadcrumb a:visited {
  color: whitesmoke;
  font-size: 1rem;
}
.breadcrumb:hover {
  background: black;
}
@media (min-width: 768px) {
  .breadcrumb {
    padding: 4px 8px;
    position: absolute;
    left: 40px;
    top: 40px;
  }
  .breadcrumb a {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .breadcrumb {
    text-align: center;
    padding: 20px 0;
    background: black;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1.25rem;
}
#cta .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
#cta .inner header {
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  padding-right: 3rem;
  width: 70%;
}
#cta .inner header h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#cta .inner header p {
  color: inherit;
}
#cta .inner .actions {
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  width: 30%;
}
@media screen and (max-width: 980px) {
  #cta .inner {
    display: block;
    text-align: center;
  }
  #cta .inner header {
    padding-right: 0;
    width: 100%;
  }
  #cta .inner .actions {
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  #cta .inner .actions {
    max-width: none;
  }
}
section.special {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 2rem !important;
}
section.special header.major h2 {
  padding-bottom: 1rem;
}
section.special header.major p {
  padding-top: 1.125rem;
}
.features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}
.features li {
  padding: 4rem 4rem 2rem 6rem;
  display: block;
  position: relative;
  text-align: left;
  width: 50%;
}
.features li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.035);
}
.features li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.07);
}
.features li:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.105);
}
.features li:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.14);
}
.features li:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.175);
}
.features li:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.21);
}
.features li:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.245);
}
.features li:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.28);
}
.features li:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.315);
}
.features li:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.35);
}
.features li:before {
  display: block;
  color: #00ffcc;
  position: absolute;
  left: 1.75rem;
  top: 2.75rem;
  font-size: 1.5rem;
}
.features li:nth-child(1) {
  border-top-left-radius: 3px;
}
.features li:nth-child(2) {
  border-top-right-radius: 3px;
}
.features li:nth-last-child(1) {
  border-bottom-right-radius: 3px;
}
.features li:nth-last-child(2) {
  border-bottom-left-radius: 3px;
}
@media screen and (max-width: 980px) {
  .features li {
    padding: 3rem 2rem 1rem 2rem;
    text-align: center;
  }
  .features li:before {
    left: 0;
    margin: 0 0 1rem 0;
    position: relative;
    top: 0;
  }
}
@media screen and (max-width: 736px) {
  .features li {
    padding: 3rem 0 1rem 0;
    background-color: transparent !important;
    border-top: solid 2px darkgray;
    width: 100%;
  }
  .features li:first-child {
    border-top: 0;
  }
}
select,
textarea,
input {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
}
form label {
  display: block;
  padding-bottom: 0.3rem;
}
select {
  border-radius: 0.75rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  height: 2.125rem;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
textarea {
  border-radius: 0.75rem;
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  padding: 1rem;
}
input[type="text"] {
  border-radius: 0.75rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  height: 2.125rem;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 40%;
}
input[type="password"] {
  border-radius: 0.75rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  height: 2.125rem;
  letter-spacing: 0.225rem;
  line-height: 2.125rem;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 40%;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.icon {
  font-size: 1.25rem;
}
.icon a {
  color: rgba(255, 255, 255, 0.5);
}
.icon > .label {
  display: none;
}
.icon.major {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 3px;
  border: thin solid darkgray;
  display: inline-block;
  font-size: 1.35rem;
  height: calc(3rem + 2px);
  line-height: 3rem;
  text-align: center;
  width: calc(3rem + 2px);
}
.icon.major:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  font-size: 1.5rem;
}
@media screen and (max-width: 736px) {
  .icon.major {
    font-size: 1rem;
  }
}
.modal {
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 9999;
  background: transparent;
}
.backdrop {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10001;
}
.modal-box {
  border-radius: 1rem;
  border-color: black;
  border-style: solid;
  border: thin;
  box-shadow: inset 0 0 0 2px darkslategrey;
  z-index: 7777;
  height: 100%;
  overflow-x: auto;
  scrollbar-base-color: gray lightgray;
}
.modal-box::-webkit-scrollbar {
  width: 0.125rem;
}
.modal-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}
.modal-box::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 0 0.75rem rgba(0, 0, 0, 0.5);
}
.news-modal-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  background-color: darkslategrey;
  border-bottom: solid thick darkred;
}
.news-modal-header h3 {
  font-size: 1rem;
  line-height: 1rem;
  color: whitesmoke;
}
.news-modal-body {
  padding: 1rem;
  height: 100%;
}
.news-modal-body span {
  border-bottom: dotted 1px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
  color: darkgray;
}
.news-modal-body a {
  border-bottom: dotted 1px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Lato", Arial, sans-serif;
  text-transform: lowercase;
  color: darkgray;
}
.news-modal-body a:hover {
  text-transform: lowercase;
  text-decoration: none;
  color: red !important;
}
.source-detail-modal-body {
  padding: 1rem;
  height: 100%;
}
.source-detail-modal-body em {
  min-width: 40%;
}
.panel {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  min-height: 200px;
  float: left;
}
.page-header {
  padding: 0;
  padding-bottom: 0.5rem;
}
section {
  margin: 0;
  padding: 0;
}
.spotlight {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
}
.spotlight-left .image {
  justify-content: flex-start;
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  border-radius: 0;
  max-height: 192px !important;
  max-width: 192px !important;
}
.spotlight-right .image {
  justify-content: flex-end;
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  border-radius: 0;
  height: 192px !important;
  width: 192px !important;
}
.spotlight .image img {
  border-radius: 0;
  padding: 1rem;
}
.spotlight-left .content {
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  width: 100%;
  height: 192px !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.spotlight-right .content {
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  width: 100%;
  height: 192px !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.spotlight .content h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.spotlight .content p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.spotlight:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.075);
}
.spotlight:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.15);
}
.spotlight:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.225);
}
.spotlight:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.3);
}
.spotlight:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.375);
}
.spotlight:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.45);
}
.spotlight:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.525);
}
.spotlight:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.6);
}
.spotlight:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.675);
}
.spotlight:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.75);
}
.spinner {
  animation: spinner-spin infinite 2s linear;
  background-color: transparent;
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 9990;
  width: 100px;
  height: 100px;
}
@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding-top: 0.5rem;
}
table {
  width: 100%;
}
table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.35);
}
table td {
  padding: 0.35rem;
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}
/* 
  page
---------------------------------------------------------------------------------------------------
*/
#footer {
  padding: 3rem 0 2rem 0;
  text-align: center;
  color: whitesmoke;
}
#footer .icons {
  font-size: 1.25rem;
}
#footer .icons a {
  color: rgba(255, 255, 255, 0.5);
}
#footer .icons a:hover {
  color: red;
}
#footer * {
  text-transform: none;
  border-bottom-color: transparent;
}
#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  letter-spacing: 0.225rem;
  list-style: none;
  padding: 0;
}
#footer .copyright span {
  display: inline-block;
  line-height: 1rem;
  margin-left: 0;
  padding-left: 0m;
  padding-top: 1.5rem;
}
#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
body.landing #footer {
  background-color: rgba(29, 36, 42, 0.9);
}
body.regular #footer {
  background-color: rgba(29, 36, 42, 0.9);
}
body.is-mobile.landing #footer {
  background-color: transparent;
}
@media screen and (max-width: 480px) {
  #footer .copyright li {
    border: 0;
    display: block;
    line-height: 1.65rem;
    margin: 0;
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 980px) {
  #footer {
    padding: 4rem 3rem 2rem 3rem;
  }
}
@media screen and (max-width: 736px) {
  #footer {
    padding: 3rem 2rem 1rem 2rem;
  }
}
header.major h2 {
  border-bottom: thin solid darkgray;
  margin: 0;
  padding: 0;
}
header.major p {
  margin: 0;
  padding: 0;
}
#header {
  background-color: transparent;
  left: 0;
  line-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
#header h1 {
  height: inherit;
  left: 1.25rem;
  line-height: inherit;
  position: absolute;
  top: 0;
  padding-top: 1rem;
}
#header h1 a {
  border: 0;
  display: block;
  height: inherit;
  line-height: inherit;
}
.displayBlock {
  display: block;
  opacity: 0.85;
}
.displayNone {
  display: none;
}
#menu {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #1a867d;
  color: whitesmoke;
}
.menu ul {
  padding-top: 25%;
  padding-bottom: 65%;
}
.menu ul li {
  margin: 0.5rem !important;
}
.menu a {
  color: whitesmoke;
}
.menu a:hover {
  color: red;
}
.menu li {
  color: whitesmoke;
  border-bottom: thin solid darkgray;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.menu li a {
  padding-right: 2rem;
}
.menu-active {
  font-weight: bold;
}
#nav div > ul {
  list-style: none;
  text-align: left;
}
#nav div ul > li {
  list-style: none;
  text-align: left;
}
#header nav {
  margin: 0;
  padding: 0;
  width: 40%;
  text-align: right;
}
#header nav span.menuToggle {
  text-align: right;
  padding-right: 1rem;
}
#header nav span.menuClose {
  text-align: right;
  padding-right: 1rem;
}
#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  color: whitesmoke;
}
#header nav span.menuToggle:after {
  background-image: url("/assets/images/bars.svg");
  background-position: right center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 3.75rem;
  vertical-align: middle;
  width: 2rem;
}
#header nav span.menuClose:after {
  background-image: url("/assets/images/close.svg");
  background-position: right center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 3.75rem;
  vertical-align: middle;
  width: 2rem;
}
.totop-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background-color: inherit;
}
button.totop {
  border-radius: 10px;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  color: whitesmoke !important;
  background: #ed4933 !important;
  background-color: #ed4933 !important;
  text-transform: lowercase !important;
  text-decoration: none !important;
}
button.totop:hover {
  background: #ef5e4a !important;
  background-color: #ef5e4a !important;
}
.more {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  border: none;
  bottom: 0;
  font-size: 0.8rem;
  height: 8.5rem;
  left: 50%;
  letter-spacing: 0.225rem;
  margin-left: -8.5rem;
  opacity: 1;
  outline: 0;
  padding-left: 0.225rem;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  width: 16rem;
  z-index: 1;
}
.more:after {
  background-image: url("/assets/images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 4rem;
  content: "";
  display: block;
  height: 1.5rem;
  left: 50%;
  margin: 0 0 0 -0.75rem;
  position: absolute;
  width: 1.5rem;
}
/* 
  template
---------------------------------------------------------------------------------------------------
*/
.container.gray ul li {
  color: whitesmoke;
}
.gray {
  color: whitesmoke;
  background-color: darkgray !important;
}
.gray a:hover {
  color: red;
}
.gray .page-header {
  width: 100%;
  color: whitesmoke;
  border-bottom: whitesmoke solid thin !important;
}
.gray .abstract {
  color: whitesmoke !important;
}
.container.gray .abstract {
  color: whitesmoke !important;
}
table thead {
  border-bottom: solid 2px whitesmoke !important;
}
table tfoot {
  border-top: solid 2px whitesmoke !important;
}
table.alt tbody tr td {
  border: solid 1px whitesmoke !important;
  border-left-width: 0;
  border-top-width: 0;
}
.container.green ul li {
  color: whitesmoke;
}
.green {
  color: whitesmoke;
  background-color: #1a867d !important;
}
.green a:hover {
  color: red;
}
.green .page-header {
  width: 100%;
  color: whitesmoke;
  border-bottom: whitesmoke solid thin !important;
}
.green .abstract {
  color: whitesmoke !important;
}
.container.green .abstract {
  color: whitesmoke !important;
}
table thead {
  border-bottom: solid 2px whitesmoke !important;
}
table tfoot {
  border-top: solid 2px whitesmoke !important;
}
table.alt tbody tr td {
  border: solid 1px whitesmoke !important;
  border-left-width: 0;
  border-top-width: 0;
}
.container.light ul li {
  color: #5e5e5e;
}
.light {
  color: #5e5e5e;
  background-color: whitesmoke !important;
}
.light a:hover {
  color: red;
}
.light .page-header {
  width: 100%;
  color: #5e5e5e !important;
  border-bottom: #5e5e5e solid thin !important;
}
.light .abstract {
  color: #5e5e5e !important;
}
.container.light .abstract {
  color: #5e5e5e !important;
}
.spotlight .content {
  background-color: lightgray !important;
}
.spotlight .image {
  background-color: whitesmoke !important;
}
table thead {
  border-bottom: solid 2px #5e5e5e !important;
}
table tfoot {
  border-top: solid 2px #5e5e5e !important;
}
table.alt tbody tr td {
  border: solid 1px #5e5e5e !important;
  border-left-width: 0;
  border-top-width: 0;
}
.container.purple ul li {
  color: #d3d4e4;
}
.purple {
  color: #d3d4e4;
  background-color: #505393 !important;
}
.purple a:hover {
  color: red;
}
.purple .page-header {
  width: 100%;
  color: #d3d4e4;
  border-bottom: #d3d4e4 solid thin !important;
}
.purple .abstract {
  color: #d3d4e4 !important;
}
.container.purple .abstract {
  color: #d3d4e4 !important;
}
table thead {
  border-bottom: solid 2px #d3d4e4 !important;
}
table tfoot {
  border-top: solid 2px #d3d4e4 !important;
}
table.alt tbody tr td {
  border: solid 1px #d3d4e4 !important;
  border-left-width: 0;
  border-top-width: 0;
}
.container.transparent ul li {
  color: whitesmoke;
}
.transparent {
  color: whitesmoke;
  background-color: transparent !important;
}
.transparent a:hover {
  color: darkgray;
}
.transparent .page-header {
  width: 100%;
  color: whitesmoke;
  border-bottom: whitesmoke solid thin !important;
}
.transparent .abstract {
  color: whitesmoke !important;
}
.container.transparent .abstract {
  color: whitesmoke !important;
}
table thead {
  border-bottom: solid 2px whitesmoke !important;
}
table tfoot {
  border-top: solid 2px whitesmoke !important;
}
table.alt tbody tr td {
  border: solid 1px whitesmoke !important;
  border-left-width: 0;
  border-top-width: 0;
}
/* 
  custom styles
---------------------------------------------------------------------------------------------------
*/
.clearfix {
  float: none;
}
#header {
  width: 100%;
  height: 3.25rem;
  color: #f5f5f5;
  background-color: #0b3536;
}
#header nav {
  color: #f5f5f5;
  background-color: #0b3536;
}
#footer {
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: #f5f5f5;
  background-color: #0b3536;
}
#footer .copyright span {
  padding: 0;
}
body.is-mobile #main > header {
  background-attachment: scroll;
}
body.landing #page-wrapper {
  background: -moz-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background: -webkit-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background-image: -ms-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background: linear-gradient(to bottom, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  background-color: transparent;
}
body.regular #page-wrapper {
  background: -moz-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background: -webkit-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background-image: -ms-linear-gradient(top, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background: linear-gradient(to bottom, #0b3536 0%, rgba(125, 185, 232, 0)), url("/assets/images/internet-of-things-1920xx.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  background-color: transparent;
}
@media screen and (min-width: 1680px) {
  #menu {
    width: 100%;
  }
  #header nav {
    width: 40%;
  }
}
@media screen and (max-width: 1680px) {
  #menu {
    width: 100%;
  }
  #header nav {
    width: 40%;
  }
}
@media screen and (max-width: 1280px) {
  #menu {
    width: 100%;
  }
  #header nav {
    width: 40%;
  }
}
@media screen and (max-width: 980px) {
  #menu {
    width: 100%;
  }
  #header nav {
    width: 50%;
  }
  header#header > h1 > a {
    font-weight: 500 !important;
    letter-spacing: 0.125rem !important;
    font-size: 1.1rem !important;
    line-height: 1rem !important;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
  }
  .spotlight {
    display: block;
  }
  .spotlight br {
    display: none;
  }
  .spotlight .image {
    width: 100%;
  }
  .spotlight .content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
  }
}
@media screen and (max-width: 736px) {
  #menu {
    width: 100%;
  }
  #header nav {
    width: 50%;
  }
  header#header > h1 > a {
    font-weight: 500 !important;
    letter-spacing: 0.125rem !important;
    font-size: 1.1rem !important;
    line-height: 1rem !important;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
  }
  .spotlight {
    display: block;
  }
  .spotlight br {
    display: none;
  }
  .spotlight .image {
    width: 100%;
  }
  .spotlight .content {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
  }
}
