<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <meta name="page-topic" content="News">
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="3 days">
    <meta name="audience" content="Informatiker">
    <meta name="description" content="Technologien unterstützen die Effizienz und den Komfort einer Lösung">
    <meta name="keywords" content=".NET, C#, Development, Entwicklung, Datenbank, Oracle, MSSQL, MYSQL, Mobile, CMS, Content, Management, System, Mobile, Responsive">
    <meta name="author" content="responsive kaysta">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" href="">
    <title>BasicFrontend | responsive kaysta | mobile first!</title>
    <!-- Fonts
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/bundle.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <header id="header">
        @Html.Partial("Header")
    </header>
    <main class="container main-content">
        @RenderBody()
    </main>    
    <colourswitch id="colourswitch">
        @Html.Partial("Colourswitch")
    </colourswitch>
    <footer id="footer">
        @Html.Partial("Footer")
    </footer>
    <script type="text/javascript" src="/Scripts/app.min.js"></script>
</body>
</html>