
<div class="container">
    <hr />
    <div class="row clearfix">
        <div class="container">
            <span>Select to change colour scheme</span>&nbsp;
            <select id="colourscheme">
                <option value="">...</option>
                <option value="dark">dark</option>
                <option value="blue">blue</option>
                <option value="light">light</option>
                <option value="purple">purple</option>
                <option value="yellow">yellow</option>
            </select>
        </div>
    </div>
    <hr />
</div>
