@using BasicFrontend.Application;

@{
    var appBase = AppBase.Instance;
}

<ul class="icons">

    <li><a href="/" class="fab fa-twitter"><span class="label"></span></a></li>
    <li><a href="/" class="fab fa-xing"><span class="label"></span></a></li>
    <li><a href="/" class="fab fa-facebook"><span class="label"></span></a></li>
    <li><a href="/" class="fab fa-linkedin"><span class="label"></span></a></li>

</ul>

<ul class="copyright">

    <li>&copy; 2018 responsive IT</li>
    <li>Mobile first!</li>

</ul>
