@using BasicFrontend.Application;

@{ 
    AppBase appBase = AppBase.Instance;
}

<ul class="icons">

    <li><a href="/" class="fab fa-twitter"><span class="label">twitter</span></a></li>
    <li><a href="/" class="fab fa-xing"><span class="label">xing</span></a></li>
    <li><a href="/" class="fab fa-facebook"><span class="label">facebook</span></a></li>
    <li><a href="/" class="fab fa-linkedin"><span class="label">linkedin</span></a></li>

</ul>

<ul class="copyright">

    <li>&copy; @DateTime.Now.Year responsive kaysta </li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    <li>Images: <a href="https://www.flickr.com/photos/markjsebastian/">markjsebastian on Flickr</a></li>

</ul>
