<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentGrid ANY>
<!ATTLIST contentGrid id ID #REQUIRED>
<!ELEMENT pageDefaults ANY>
<!ATTLIST pageDefaults id ID #REQUIRED>
<!ELEMENT blogOverview ANY>
<!ATTLIST blogOverview id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
]>
<root id="-1" />