<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentGrid ANY>
<!ATTLIST contentGrid id ID #REQUIRED>
<!ELEMENT pageDefaults ANY>
<!ATTLIST pageDefaults id ID #REQUIRED>
<!ELEMENT blogOverview ANY>
<!ATTLIST blogOverview id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
]>
<root id="-1">
  <landingPage id="1089" key="52dc4e3e-bc48-4922-9474-24f98ab24c87" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-19T18:44:33" updateDate="2018-08-19T18:45:19" nodeName="Home" urlName="home" path="-1,1089" isDoc="" nodeType="1087" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1066" nodeTypeAlias="landingPage" isPublished="true">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
    <pageType><![CDATA[landing]]></pageType>
    <headerType><![CDATA[alt]]></headerType>
    <title><![CDATA[Home]]></title>
    <pageStyle><![CDATA[transparent]]></pageStyle>
    <hideInMenu>0</hideInMenu>
    <bannerHeadline><![CDATA[Home]]></bannerHeadline>
    <siteGlobal id="1090" key="9ddaa569-0402-4bd9-837a-cd33d3c814fe" parentID="1089" level="2" creatorID="0" sortOrder="0" createDate="2018-08-19T18:44:59" updateDate="2018-08-19T18:45:19" nodeName="Site Global" urlName="site-global" path="-1,1089,1090" isDoc="" nodeType="1088" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="true">
      <siteAuthor><![CDATA[responsive kaysta]]></siteAuthor>
      <siteTitle><![CDATA[Basic Frontend]]></siteTitle>
    </siteGlobal>
  </landingPage>
</root>