// out: false

@import "../global.less";

header.major h2 {
  border-bottom: @global-border;
  margin: 0;
  padding: 0;
}

header.major p {
  margin: 0;
  padding: 0;
}

#header {
  left: 0;
  line-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#header h1 {
  height: inherit;
  left: 1.25rem;
  line-height: inherit;
  position: absolute;
  top: 0;
  padding-top: 1rem;
}

#header h1 a {
  border: 0;
  display: block;
  height: inherit;
  line-height: inherit;
}

@media screen and (max-width: 980px) {
  header#header > h1 > a {
    font-weight: 500 !important;
    letter-spacing: 0.125rem !important;
    font-size: 1.1rem !important;
    line-height: 1rem !important;
  }
}

@media screen and (max-width: 736px) {
  header#header > h1 > a {
    font-weight: 500 !important;
    letter-spacing: 0.125rem !important;
    font-size: 1.1rem !important;
    line-height: 1rem !important;
  }
}
