/* base styles and definitions */
/* green */
/* gray */
/* purple */
/* transparent */
/* light  */
a {
  border-bottom: dotted 1px;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lato', Arial, sans-serif;
  text-transform: lowercase;
}
a:hover {
  text-transform: lowercase;
  text-decoration: none;
}
a {
  color: blue;
}
a:hover {
  color: red;
}
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lato', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*
---------------------------------------------------------------------------------------------------
leave because of reasons
---------------------------------------------------------------------------------------------------
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  */
