// out: false

@import "../global.less";

.more {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border: none;
    bottom: 0;
    font-size: 0.8rem;
    height: 8.5rem;
    left: 50%;
    letter-spacing: 0.225rem;
    margin-left: -8.5rem;
    opacity: 1;
    outline: 0;
    padding-left: 0.225rem;
    position: absolute;
    text-align: center;
    text-transform: @global-text-transform;
    width: 16rem;
    z-index: 1;
}

.more:after {
    background-image: url(@global-arrow-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 4rem;
    content: '';
    display: block;
    height: 1.5rem;
    left: 50%;
    margin: 0 0 0 -0.75rem;
    position: absolute;
    width: 1.5rem;
}
