/* global.less */

@base-bg-color:        #2e3842;
@base-color:        red; //white

@base-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lato', Arial, sans-serif;
@base-text-transform: lowercase;