/* global.less */

@base-bg-color:        #2e3842;
@base-color:        #d3d3d3;

@menu-bg-color: #1a867d;

@base-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lato', Arial, sans-serif;
@base-text-transform: lowercase;

@banner-bg-image: "images/pcb-background.jpeg";

@color-blue-color: darkgray;
@color-blue-bg-color: #51c1f5;

@color-dark-color: #cccccc;
@color-dark-bg-color: #333333;

@color-light-color: black;
@color-light-bg-color: white;

@color-purple-color: whitesmoke;
@color-purple-bg-color: #C23577;

@color-yellow-color: black;
@color-yellow-bg-color: #FFCC01;

@a-button-bg: black;
@a-button-bg-hover: rgba(0, 0, 0, 0.5);

@button-bg-hover: rgba(0, 0, 0, 0.5);
@button-bg-active: rgba(144, 144, 144, 0.5);

@button-special-bg: #ed4933;
@button-special-bg-hover: #ef5e4a;
@button-special-bg-active: #eb341c;

@button-box-shadow-color:white;


