@import "../Css/global.vars.less";

@media screen and (min-width: 1680px) {
    body, input, select, textarea {
        font-size: 15pt;
    }
}

@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {
    body, input, select, textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    body, input, select, textarea {
        font-size: 11pt;
        letter-spacing: 0.0375rem;
    }
}

@media screen and (min-width: 1680px) { // 1920 plus

    #main > header {
        padding: 10rem 25.375% 8rem 25.375%;
    }
}

@media screen and (max-width: 1680px) {

    #main > header {
        padding: 10rem 17.25% 8rem 17.25%;
    }
}

@media screen and (max-width: 1280px) {

    #main > header {
        padding: 8rem 10% 6rem 10%;
    }
}

@media screen and (max-width: 980px) {

    #main > header {
        padding: 10rem 15% 8rem 15%;
    }
}

@media screen and (max-width: 736px) {

    #main > header {
        padding: 5rem 15% 3rem 15%;
    }

    #main > header h2 {
        font-size: 1.25rem;
        margin: 0 0 1rem 0;
    }
}

body.is-mobile #main > header {
    background-attachment: scroll;
}

#main > header {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: transparent;
}

body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    background-color: transparent;
}


body.regular #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(@banner-bg-image);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    background-color: transparent;
}
