// out: false

@import "../global.less";

.abstract {
    margin: 0;
    padding: 0;
}

.abstract {
    text-decoration: @global-text-decoration;
    font-family: @global-font-family;
    text-transform: @global-text-transform;
}

.abstract {    
    font-size: 1.3rem;
    font-weight: 700;
    color: @global-text-color;
}
