// out: false

@import "../global.less";

h1, h2, h3, h4, h5, h6 {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800 !important;
  letter-spacing: 0.225rem !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 800 !important;
  letter-spacing: 0.225rem !important;
}

h1 {
  font-size: 1.6rem !important;
  line-height: 1.6rem !important;
}

h2 {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
}

h3 {
  font-size: 1.4rem !important;
  line-height: 1.5rem !important;
}

h4 {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

h5 {
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
}

h6 {
  font-size: 0.8rem !important;
  line-height: 1.5rem !important;
}
