/* blue.less */
.blue {
  background: #51c1f5;
  background-color: #51c1f5;
}
.blue nav > ul li {
  background: #51c1f5;
  background-color: #51c1f5;
}
.blue * {
  color: #fff;
}
.blue a,
.blue a:visited {
  text-decoration: underline;
}
.blue a:hover,
.blue a:visited:hover {
  text-decoration: none;
}
.blue a.button {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
}
.blue a.button:hover {
  background: #fff;
  color: #51c1f5;
}
.blue a.button.fill {
  background: #fff;
  color: #51c1f5;
}
.blue a.button.fill:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.blue + .triangle:before {
  border-color: transparent transparent transparent #51c1f5;
}