/* light.less */
.light {
  background: #fff;
}
.light nav > ul li {
  background: #fff;
  background-color: #fff;
}
.light * {
  color: #000;
}
.light a,
.light a:visited {
  color: #f45376 !important;
}
.light a:hover,
.light a:visited:hover {
  text-decoration: underline;
}
.light a.button {
  border: 1px solid #000;
  background: transparent;
  color: #000;
}
.light a.button:hover {
  background: #000;
  color: #fff;
}
.light a.button.fill {
  background: #000;
  color: #fff;
}
.light a.button.fill:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #000;
}
.light code,
.light pre {
  background-color: #f8f8f8;
}
.light + .triangle:before {
  border-color: transparent transparent transparent #fff;
}