/* yellow.less */

.yellow {
    background: #FFCC01;
}

.yellow nav > ul li {
    background: #FFCC01;
    background-color: #FFCC01;
}

.yellow * {
    color: #000;
}

.yellow a,
.yellow a:visited {
    color: #f42146;
}

.yellow a.button {
    border: 1px solid #000;
    background: transparent;
    color: #000;
}

.yellow a.button:hover {
    background: #000;
    color: #FFCC01;
}

.yellow a.button.fill {
    background: #000;
    color: #FFCC01;
}

.yellow a.button.fill:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #000;
}

.yellow + .triangle:before {
    border-color: transparent transparent transparent #FFCC01;
}