/* article.less */

@import "../global.less";

article.special {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
}

article#main header {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
}