/* article.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
article.special {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.1rem;
}
/*
article#main header {
    padding-top: 8rem;
    padding-bottom: 6rem;
    margin-right: auto;
    margin-left: auto;
}
*/