/* blogarchive.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style2 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.blogarchive div[class^="col-"] {
  margin-bottom: 20px !important;
  margin-top: 20px;
  float: left;
}
.blogarchive a {
  white-space: normal;
  transition: all 200ms ease;
  padding: 12px 18px;
  display: block;
}
.blogarchive a:hover {
  text-decoration: none;
}
.blogarchive a:hover p {
  text-decoration: underline;
}
@media (min-width: 768px) {
  section.blogarchive a:hover,
  a:visited:hover {
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
}