/* breadcrumb.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style2 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.breadcrumb {
  background: rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
}
.breadcrumb a,
.breadcrumb a:visited {
  color: whitesmoke;
  font-size: 1rem;
}
.breadcrumb:hover {
  background: black;
}
@media (min-width: 768px) {
  .breadcrumb {
    padding: 4px 8px;
    position: absolute;
    left: 40px;
    top: 40px;
  }
  .breadcrumb a {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .breadcrumb {
    text-align: center;
    padding: 20px 0;
    background: black;
  }
}