/* footer.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
#footer {
  padding: 3em 0 2em 0;
  text-align: center;
}
#footer .icons {
  font-size: 1.25em;
}
#footer .icons a {
  color: rgba(255, 255, 255, 0.5);
}
#footer * {
  text-transform: lowercase !important;
  border-bottom-color: transparent;
}
#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  letter-spacing: 0.225em;
  list-style: none;
  padding: 0;
}
#footer .copyright span {
  display: inline-block;
  line-height: 1em;
  margin-left: 0;
  padding-left: 0m;
  padding-top: 1.5em;
}
#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
@media screen and (max-width: 480px) {
  #footer .copyright li {
    border: 0;
    display: block;
    line-height: 1.65em;
    margin: 0;
    padding: 0.5em 0;
  }
}
@media screen and (max-width: 980px) {
  #footer {
    padding: 4em 3em 2em 3em;
  }
}
@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 2em 1em 2em;
  }
}
