/* icon.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.icon > .label {
  display: none;
}
.icon.major {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 3px;
  border: solid 2px whitesmoke;
  display: inline-block;
  font-size: 1.35em;
  height: calc(5em);
  line-height: 3em;
  text-align: center;
  width: calc(5em);
}
.icon.major:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  font-size: 1.5em;
}
@media screen and (max-width: 736px) {
  .icon.major {
    font-size: 1em;
  }
}
.icon.green {
  color: whitesmoke;
}
.icon.style2 {
  color: #00f0ff;
}
.icon.style3 {
  color: #76ddff;
}
.icon.transparent {
  color: whitesmoke;
}
.icon.light {
  color: #5e5e5e;
}