/* menu.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* light -> obsolete: style5 */
/* transparent -> obsolete: style4 */
/* button */
/* code */
/* banner */
/* footer */
#menu {
  -moz-transform: translateX(20em);
  -webkit-transform: translateX(20em);
  -ms-transform: translateX(20em);
  transform: translateX(20em);
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-overflow-scrolling: touch;
  background: #1a867d;
  color: whitesmoke;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  right: 0;
  top: 0;
  width: 20em;
  z-index: 10002;
}
#menu ul {
  list-style: none;
  padding: 0;
}
#menu ul > li {
  border-top: solid 1px rgba(0, 0, 0, 0.125);
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0 0;
  color: whitesmoke;
}
#menu ul > li:first-child {
  border-top: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
#menu ul > li > a {
  border: 0;
  color: whitesmoke;
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.225em;
  outline: 0;
  text-decoration: none;
  text-transform: lowercase;
}
@media screen and (max-width: 736px) {
  #menu ul > li > a {
    line-height: 3em;
  }
}
#menu .close {
  background-image: url("../images/close.svg");
  background-position: 4.85em 1em;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  display: block;
  height: 3em;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
  width: 7em;
}
@media screen and (max-width: 736px) {
  #menu {
    padding: 3em 1.5em;
  }
}
body.is-menu-visible #page-wrapper {
  opacity: 0.35;
}
body.is-menu-visible #page-wrapper:before {
  display: block;
}
body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}