/* section.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* style1 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
section.special {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.1em;
}