/* spotlight.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.spotlight {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.spotlight .image {
  -moz-order: 1;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  border-radius: 0;
  width: 40%;
}
.spotlight .image img {
  border-radius: 0;
  width: 100%;
  max-height: 300px;
}
.spotlight .content {
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  width: 60%;
}
.spotlight .content {
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
@media screen and (max-width: 736px) {
  .spotlight {
    display: block;
  }
  .spotlight br {
    display: none;
  }
  .spotlight .image {
    width: 100%;
  }
  .spotlight .content {
    width: 100%;
  }
}
@media screen and (max-width: 468px) {
  .spotlight {
    display: block;
  }
  .spotlight br {
    display: none;
  }
  .spotlight .image {
    width: 100%;
  }
  .spotlight .content {
    width: 100%;
  }
}
.spotlight:nth-child(2n) {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.spotlight:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.075);
}
.spotlight:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.15);
}
.spotlight:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.225);
}
.spotlight:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.3);
}
.spotlight:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.375);
}
.spotlight:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.45);
}
.spotlight:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.525);
}
.spotlight:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.6);
}
.spotlight:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.675);
}
.spotlight:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.75);
}
