/* table.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
table {
  margin: 0 0 2rem 0;
  width: 100%;
}
table tbody tr {
  border: solid 1px #fff;
  border-left: 0;
  border-right: 0;
}
table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.25);
}
table td {
  padding: 0.75rem 0.75rem;
}
table th {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 0.75rem 0.75rem 0.75rem;
  text-align: left;
}
table thead {
  border-bottom: solid 2px #fff;
}
table tfoot {
  border-top: solid 2px #fff;
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td {
  border: solid 1px #fff;
  border-left-width: 0;
  border-top-width: 0;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}