/* wrapper.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* green -> obsolete style1 */
/* gray -> obsolete style2 */
/* purple -> obsolete style3 */
/* transparent -> obsolete: style4 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.wrapper {
  padding: 1em 0 1em 0 ;
}
.wrapper.alt {
  padding: 0;
}
.wrapper > .inner {
  width: 60em;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 90%;
  }
}
@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .wrapper {
    padding: 1em 3em 1em 3em ;
  }
}
@media screen and (max-width: 736px) {
  .wrapper {
    padding: 1em 2em 1em 2em ;
  }
}