// out: false

@import "../global.less";

.gray {
  color: @style-gray-color;
  background-color: @style-gray-bg-color;
}

.gray a {
  color: @style-gray-color;
}

.gray a:hover {
  color: @style-gray-hover-color;
}

.gray hr {
  color: @style-gray-color !important;
  border-color: solid 2px @style-gray-border-color !important;
}

.gray ul,
li,
dl,
ol {
  color: @style-gray-color;
}

.gray ul.alt li {
  border-top: solid 1px @style-gray-border-color;
}

.gray a.button {
  color: @style-gray-a-button-color!important;
  background: @style-gray-a-button-bg;
  background-color: @style-gray-a-button-bg !important;
}

.gray a.button:hover {
  background: @style-gray-a-button-bg-hover !important;
  background-color: @style-gray-a-button-bg-hover !important;
}

.gray a.button:active {
  background: @style-gray-a-button-bg-active !important;
  background-color: @style-gray-a-button-bg-active !important;
}

.gray a.button.special {
  color: @style-gray-a-button-special-color !important;
  background: @style-gray-a-button-special-bg !important;
  background-color: @style-gray-a-button-special-bg !important;
}

.gray a.button.special:hover {
  background: @style-gray-a-button-special-bg-hover !important;
  background-color: @style-gray-a-button-special-bg-hover !important;
}

.gray a.button.special:active {
  background: @style-gray-a-button-special-bg-active !important;
  background-color: @style-gray-a-button-special-bg-active !important;
}

.gray input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  box-shadow: inset 0 0 0 2px @style-gray-button-box-shadow-color;
}

.gray input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  box-shadow: inset 0 0 0 2px @style-gray-button-box-shadow-color;
}

.gray .box {
  border-radius: @box-corner-radius;
  border: @global-border;
}

.gray .box-four-in-row {
  border-radius: @box-corner-radius;
  border: @global-border;
}

.gray .box-three-in-row {
  border-radius: @box-corner-radius;
  border: @global-border;
}
