// out: false

@import "../global.less";

.transparent {
  color: @style-transparent-color !important;
  background-color: @style-transparent-bg-color !important;
}

.transparent div {
  color: @style-transparent-color !important;
}

.transparent span {
  color: @style-transparent-color !important;
}

.transparent h1 {
  color: @style-transparent-color !important;
}

.transparent h2 {
  color: @style-transparent-color !important;
}

.transparent h3 {
  color: @style-transparent-color !important;
}

.transparent h4 {
  color: @style-transparent-color !important;
}

.transparent h5 {
  color: @style-transparent-color !important;
}

.transparent h6 {
  color: @style-transparent-color !important;
}

.transparent p {
  color: @style-transparent-color !important;
}

.transparent blockquote {
  color: @style-transparent-color !important;
}

.transparent pre {
  color: @style-transparent-color !important;
}

.transparent abbr {
  color: @style-transparent-color !important;
}

.transparent address {
  color: @style-transparent-color !important;
}

.transparent cite {
  color: @style-transparent-color !important;
}

.transparent code {
  color: @style-transparent-color !important;
}

.transparent del {
  color: @style-transparent-color !important;
}

.transparent dfn {
  color: @style-transparent-color !important;
}

.transparent em {
  color: @style-transparent-color !important;
}

.transparent img {
  color: @style-transparent-color !important;
}

.transparent ins {
  color: @style-transparent-color !important;
}

.transparent kbd {
  color: @style-transparent-color !important;
}

.transparent q {
  color: @style-transparent-color !important;
}

.transparent samp {
  color: @style-transparent-color !important;
}

.transparent small {
  color: @style-transparent-color !important;
}

.transparent strong {
  color: @style-transparent-color !important;
}

.transparent sub {
  color: @style-transparent-color !important;
}

.transparent sup {
  color: @style-transparent-color !important;
}

.transparent var {
  color: @style-transparent-color !important;
}

.transparent b {
  color: @style-transparent-color !important;
}

.transparent i {
  color: @style-transparent-color !important;
}

.transparent dl {
  color: @style-transparent-color !important;
}

.transparent dt {
  color: @style-transparent-color !important;
}

.transparent dd {
  color: @style-transparent-color !important;
}

.transparent ol {
  color: @style-transparent-color !important;
}

.transparent ul {
  color: @style-transparent-color !important;
}

.transparent li {
  color: @style-transparent-color !important;
}

.transparent fieldset {
  color: @style-transparent-color !important;
}

.transparent form {
  color: @style-transparent-color !important;
}

.transparent label {
  color: @style-transparent-color !important;
}

.transparent legend {
  color: @style-transparent-color !important;
}

.transparent caption {
  color: @style-transparent-color !important;
}

.transparent article {
  color: @style-transparent-color !important;
}

.transparent aside {
  color: @style-transparent-color !important;
}

.transparent canvas {
  color: @style-transparent-color !important;
}

.transparent details {
  color: @style-transparent-color !important;
}

.transparent figcaption {
  color: @style-transparent-color !important;
}

.transparent figure {
  color: @style-transparent-color !important;
}

.transparent footer {
  color: @style-transparent-color !important;
}

.transparent header {
  color: @style-transparent-color !important;
}

.transparent hgroup {
  color: @style-transparent-color !important;
}

.transparent section {
  color: @style-transparent-color !important;
}
.transparent summary {
  color: @style-transparent-color !important;
}

.transparent time {
  color: @style-transparent-color !important;
}

.transparent mark {
  color: @style-transparent-color !important;
}

.transparent audio {
  color: @style-transparent-color !important;
}

.transparent video {
  color: @style-transparent-color !important;
}

.transparent table {
  color: @style-transparent-color !important;
}

.transparent thead {
  color: @style-transparent-color !important;
}

.transparent tfoot {
  color: @style-transparent-color !important;
}

.transparent tr {
  color: @style-transparent-color !important;
}

.transparent td {
  color: @style-transparent-color !important;
}

.transparent .abstract {
  color: @style-transparent-color !important;
}

.transparent .page-header {
  color: @style-transparent-color !important;
}

.transparent .lead {
  color: @style-transparent-color !important;
}

.transparent .small {
  color: @style-transparent-color !important;
}

.transparent .italic {
  color: @style-transparent-color !important;
}

.transparent .headline {
  color: @style-transparent-color !important;
}

.transparent .tagline {
  color: @style-transparent-color !important;
}

.transparent .paragraph {
  color: @style-transparent-color !important;
}

.transparent .paragraph-2col {
  color: @style-transparent-color !important;
}

.transparent .paragraph-3col {
  color: @style-transparent-color !important;
}

.transparent .align-left {
  color: @style-transparent-color !important;
}

.transparent .align-center {
  color: @style-transparent-color !important;
}

.transparent .align-right {
  color: @style-transparent-color !important;
}

.transparent .page-header {
  border-bottom: @style-transparent-border-color solid thin !important;
}

.transparent code {
  color: @style-transparent-color;
  background-color: darkgray !important;
}

.transparent a:hover {
  color: @style-transparent-hover-color !important;
}

.transparent hr {
  color: @style-transparent-color !important;
  border-color: solid 2px @style-transparent-border-color !important;
}
