// out: false

@import "../global.less";

.purple {
  color: @style-purple-color !important;
  background-color: @style-purple-bg-color !important;
}

.purple div {
  color: @style-purple-color !important;
}

.purple span {
  color: @style-purple-color !important;
}

.purple h1 {
  color: @style-purple-color !important;
}

.purple h2 {
  color: @style-purple-color !important;
}

.purple h3 {
  color: @style-purple-color !important;
}

.purple h4 {
  color: @style-purple-color !important;
}

.purple h5 {
  color: @style-purple-color !important;
}

.purple h6 {
  color: @style-purple-color !important;
}

.purple p {
  color: @style-purple-color !important;
}

.purple blockquote {
  color: @style-purple-color !important;
}

.purple pre {
  color: @style-purple-color !important;
}

.purple abbr {
  color: @style-purple-color !important;
}

.purple address {
  color: @style-purple-color !important;
}

.purple cite {
  color: @style-purple-color !important;
}

.purple code {
  color: @style-purple-color !important;
}

.purple del {
  color: @style-purple-color !important;
}

.purple dfn {
  color: @style-purple-color !important;
}

.purple em {
  color: @style-purple-color !important;
}

.purple img {
  color: @style-purple-color !important;
}

.purple ins {
  color: @style-purple-color !important;
}

.purple kbd {
  color: @style-purple-color !important;
}

.purple q {
  color: @style-purple-color !important;
}

.purple samp {
  color: @style-purple-color !important;
}

.purple small {
  color: @style-purple-color !important;
}

.purple strong {
  color: @style-purple-color !important;
}

.purple sub {
  color: @style-purple-color !important;
}

.purple sup {
  color: @style-purple-color !important;
}

.purple var {
  color: @style-purple-color !important;
}

.purple b {
  color: @style-purple-color !important;
}

.purple i {
  color: @style-purple-color !important;
}

.purple dl {
  color: @style-purple-color !important;
}

.purple dt {
  color: @style-purple-color !important;
}

.purple dd {
  color: @style-purple-color !important;
}

.purple ol {
  color: @style-purple-color !important;
}

.purple ul {
  color: @style-purple-color !important;
}

.purple li {
  color: @style-purple-color !important;
}

.purple fieldset {
  color: @style-purple-color !important;
}

.purple form {
  color: @style-purple-color !important;
}

.purple label {
  color: @style-purple-color !important;
}

.purple legend {
  color: @style-purple-color !important;
}

.purple caption {
  color: @style-purple-color !important;
}

.purple article {
  color: @style-purple-color !important;
}

.purple aside {
  color: @style-purple-color !important;
}

.purple canvas {
  color: @style-purple-color !important;
}

.purple details {
  color: @style-purple-color !important;
}

.purple figcaption {
  color: @style-purple-color !important;
}

.purple figure {
  color: @style-purple-color !important;
}

.purple footer {
  color: @style-purple-color !important;
}

.purple header {
  color: @style-purple-color !important;
}

.purple hgroup {
  color: @style-purple-color !important;
}

.purple section {
  color: @style-purple-color !important;
}
.purple summary {
  color: @style-purple-color !important;
}

.purple time {
  color: @style-purple-color !important;
}

.purple mark {
  color: @style-purple-color !important;
}

.purple audio {
  color: @style-purple-color !important;
}

.purple video {
  color: @style-purple-color !important;
}

.purple table {
  color: @style-purple-color !important;
}

.purple thead {
  color: @style-purple-color !important;
}

.purple tfoot {
  color: @style-purple-color !important;
}

.purple tr {
  color: @style-purple-color !important;
}

.purple td {
  color: @style-purple-color !important;
}

.purple .abstract {
  color: @style-purple-color !important;
}

.purple .page-header {
  color: @style-purple-color !important;
}

.purple .lead {
  color: @style-purple-color !important;
}

.purple .small {
  color: @style-purple-color !important;
}

.purple .italic {
  color: @style-purple-color !important;
}

.purple .headline {
  color: @style-purple-color !important;
}

.purple .tagline {
  color: @style-purple-color !important;
}

.purple .paragraph {
  color: @style-purple-color !important;
}

.purple .paragraph-2col {
  color: @style-purple-color !important;
}

.purple .paragraph-3col {
  color: @style-purple-color !important;
}

.purple .align-left {
  color: @style-purple-color !important;
}

.purple .align-center {
  color: @style-purple-color !important;
}

.purple .align-right {
  color: @style-purple-color !important;
}

.purple .page-header {
  border-bottom: @style-purple-border-color solid thin !important;
}

.purple code {
  color: @style-purple-color;
  background-color: darkgray !important;
}

.purple a:hover {
  color: @style-purple-hover-color !important;
}

.purple hr {
  color: @style-purple-color !important;
  border-color: solid 2px @style-purple-border-color !important;
}
