// out: false

@import "../global.less";

.container.light ul li {
  color: @style-light-color;
}

.light {
  color: @style-light-color;
  background-color: @style-light-bg-color !important;
}

.light a:hover {
  color: @style-light-hover-color;
}

.light .page-header {
  width: 100%;
  color: @style-light-color !important;
  border-bottom: @style-light-border-color solid thin !important;
}

.light .abstract {
  color: @style-light-color !important;
}

.container.light .abstract {
  color: @style-light-color !important;
}

.spotlight .content {
  background-color: lightgray !important;
}

.spotlight .image {
  background-color: @style-light-bg-color !important;
}

table thead {
  border-bottom: solid 2px @style-light-border-color !important;
}

table tfoot {
  border-top: solid 2px @style-light-border-color !important;
}

table.alt tbody tr td {
  border: solid 1px @style-light-border-color !important;
  border-left-width: 0;
  border-top-width: 0;
}

/*
select {
  color: @style-light-color;
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}
*/
