// out: false

@import "../global.less";

.gray {
  color: @style-gray-color !important;
  background-color: @style-gray-bg-color !important;
}

.gray div {
  color: @style-gray-color !important;
}

.gray span {
  color: @style-gray-color !important;
}

.gray h1 {
  color: @style-gray-color !important;
}

.gray h2 {
  color: @style-gray-color !important;
}

.gray h3 {
  color: @style-gray-color !important;
}

.gray h4 {
  color: @style-gray-color !important;
}

.gray h5 {
  color: @style-gray-color !important;
}

.gray h6 {
  color: @style-gray-color !important;
}

.gray p {
  color: @style-gray-color !important;
}

.gray blockquote {
  color: @style-gray-color !important;
}

.gray pre {
  color: @style-gray-color !important;
}

.gray abbr {
  color: @style-gray-color !important;
}

.gray address {
  color: @style-gray-color !important;
}

.gray cite {
  color: @style-gray-color !important;
}

.gray code {
  color: @style-gray-color !important;
}

.gray del {
  color: @style-gray-color !important;
}

.gray dfn {
  color: @style-gray-color !important;
}

.gray em {
  color: @style-gray-color !important;
}

.gray img {
  color: @style-gray-color !important;
}

.gray ins {
  color: @style-gray-color !important;
}

.gray kbd {
  color: @style-gray-color !important;
}

.gray q {
  color: @style-gray-color !important;
}

.gray samp {
  color: @style-gray-color !important;
}

.gray small {
  color: @style-gray-color !important;
}

.gray strong {
  color: @style-gray-color !important;
}

.gray sub {
  color: @style-gray-color !important;
}

.gray sup {
  color: @style-gray-color !important;
}

.gray var {
  color: @style-gray-color !important;
}

.gray b {
  color: @style-gray-color !important;
}

.gray i {
  color: @style-gray-color !important;
}

.gray dl {
  color: @style-gray-color !important;
}

.gray dt {
  color: @style-gray-color !important;
}

.gray dd {
  color: @style-gray-color !important;
}

.gray ol {
  color: @style-gray-color !important;
}

.gray ul {
  color: @style-gray-color !important;
}

.gray li {
  color: @style-gray-color !important;
}

.gray fieldset {
  color: @style-gray-color !important;
}

.gray form {
  color: @style-gray-color !important;
}

.gray label {
  color: @style-gray-color !important;
}

.gray legend {
  color: @style-gray-color !important;
}

.gray caption {
  color: @style-gray-color !important;
}

.gray article {
  color: @style-gray-color !important;
}

.gray aside {
  color: @style-gray-color !important;
}

.gray canvas {
  color: @style-gray-color !important;
}

.gray details {
  color: @style-gray-color !important;
}

.gray figcaption {
  color: @style-gray-color !important;
}

.gray figure {
  color: @style-gray-color !important;
}

.gray footer {
  color: @style-gray-color !important;
}

.gray header {
  color: @style-gray-color !important;
}

.gray hgroup {
  color: @style-gray-color !important;
}

.gray section {
  color: @style-gray-color !important;
}
.gray summary {
  color: @style-gray-color !important;
}

.gray time {
  color: @style-gray-color !important;
}

.gray mark {
  color: @style-gray-color !important;
}

.gray audio {
  color: @style-gray-color !important;
}

.gray video {
  color: @style-gray-color !important;
}

.gray table {
  color: @style-gray-color !important;
}

.gray thead {
  color: @style-gray-color !important;
}

.gray tfoot {
  color: @style-gray-color !important;
}

.gray tr {
  color: @style-gray-color !important;
}

.gray td {
  color: @style-gray-color !important;
}

.gray .abstract {
  color: @style-gray-color !important;
}

.gray .page-header {
  color: @style-gray-color !important;
}

.gray .lead {
  color: @style-gray-color !important;
}

.gray .small {
  color: @style-gray-color !important;
}

.gray .italic {
  color: @style-gray-color !important;
}

.gray .headline {
  color: @style-gray-color !important;
}

.gray .tagline {
  color: @style-gray-color !important;
}

.gray .paragraph {
  color: @style-gray-color !important;
}

.gray .paragraph-2col {
  color: @style-gray-color !important;
}

.gray .paragraph-3col {
  color: @style-gray-color !important;
}

.gray .align-left {
  color: @style-gray-color !important;
}

.gray .align-center {
  color: @style-gray-color !important;
}

.gray .align-right {
  color: @style-gray-color !important;
}

.gray .page-header {
  border-bottom: @style-gray-border-color solid thin !important;
}

.gray code {
  color: @style-gray-color;
  background-color: darkgray !important;
}

.gray a:hover {
  color: @style-gray-hover-color !important;
}

.gray hr {
  color: @style-gray-color !important;
  border-color: solid 2px @style-gray-border-color !important;
}
