// out: false

@import "../global.less";

.light {
  color: @style-light-color !important;
  background-color: @style-light-bg-color !important;
}

.light div {
  color: @style-light-color !important;
}

.light span {
  color: @style-light-color !important;
}

.light h1 {
  color: @style-light-color !important;
}

.light h2 {
  color: @style-light-color !important;
}

.light h3 {
  color: @style-light-color !important;
}

.light h4 {
  color: @style-light-color !important;
}

.light h5 {
  color: @style-light-color !important;
}

.light h6 {
  color: @style-light-color !important;
}

.light p {
  color: @style-light-color !important;
}

.light blockquote {
  color: @style-light-color !important;
}

.light pre {
  color: @style-light-color !important;
}

.light abbr {
  color: @style-light-color !important;
}

.light address {
  color: @style-light-color !important;
}

.light cite {
  color: @style-light-color !important;
}

.light code {
  color: @style-light-color !important;
}

.light del {
  color: @style-light-color !important;
}

.light dfn {
  color: @style-light-color !important;
}

.light em {
  color: @style-light-color !important;
}

.light img {
  color: @style-light-color !important;
}

.light ins {
  color: @style-light-color !important;
}

.light kbd {
  color: @style-light-color !important;
}

.light q {
  color: @style-light-color !important;
}

.light samp {
  color: @style-light-color !important;
}

.light small {
  color: @style-light-color !important;
}

.light strong {
  color: @style-light-color !important;
}

.light sub {
  color: @style-light-color !important;
}

.light sup {
  color: @style-light-color !important;
}

.light var {
  color: @style-light-color !important;
}

.light b {
  color: @style-light-color !important;
}

.light i {
  color: @style-light-color !important;
}

.light dl {
  color: @style-light-color !important;
}

.light dt {
  color: @style-light-color !important;
}

.light dd {
  color: @style-light-color !important;
}

.light ol {
  color: @style-light-color !important;
}

.light ul {
  color: @style-light-color !important;
}

.light li {
  color: @style-light-color !important;
}

.light fieldset {
  color: @style-light-color !important;
}

.light form {
  color: @style-light-color !important;
}

.light label {
  color: @style-light-color !important;
}

.light legend {
  color: @style-light-color !important;
}

.light caption {
  color: @style-light-color !important;
}

.light article {
  color: @style-light-color !important;
}

.light aside {
  color: @style-light-color !important;
}

.light canvas {
  color: @style-light-color !important;
}

.light details {
  color: @style-light-color !important;
}

.light figcaption {
  color: @style-light-color !important;
}

.light figure {
  color: @style-light-color !important;
}

.light footer {
  color: @style-light-color !important;
}

.light header {
  color: @style-light-color !important;
}

.light hgroup {
  color: @style-light-color !important;
}

.light section {
  color: @style-light-color !important;
}
.light summary {
  color: @style-light-color !important;
}

.light time {
  color: @style-light-color !important;
}

.light mark {
  color: @style-light-color !important;
}

.light audio {
  color: @style-light-color !important;
}

.light video {
  color: @style-light-color !important;
}

.light table {
  color: @style-light-color !important;
}

.light thead {
  color: @style-light-color !important;
}

.light tfoot {
  color: @style-light-color !important;
}

.light tr {
  color: @style-light-color !important;
}

.light td {
  color: @style-light-color !important;
}

.light .abstract {
  color: @style-light-color !important;
}

.light .page-header {
  color: @style-light-color !important;
}

.light .lead {
  color: @style-light-color !important;
}

.light .small {
  color: @style-light-color !important;
}

.light .italic {
  color: @style-light-color !important;
}

.light .headline {
  color: @style-light-color !important;
}

.light .tagline {
  color: @style-light-color !important;
}

.light .paragraph {
  color: @style-light-color !important;
}

.light .paragraph-2col {
  color: @style-light-color !important;
}

.light .paragraph-3col {
  color: @style-light-color !important;
}

.light .align-left {
  color: @style-light-color !important;
}

.light .align-center {
  color: @style-light-color !important;
}

.light .align-right {
  color: @style-light-color !important;
}

.light .page-header {
  border-bottom: @style-light-border-color solid thin !important;
}

.light code {
  color: @style-light-color;
  background-color: darkgray !important;
}

.light a:hover {
  color: @style-light-hover-color !important;
}

.light hr {
  color: @style-light-color !important;
  border-color: solid 2px @style-light-border-color !important;
}
