// out: false

@import "../global.less";

.light {
  color: @style-light-color !important;
  background-color: @style-light-bg-color !important;
}

.light a:hover {
  color: @style-light-hover-color !important;
}

.light hr {
  color: @style-light-color !important;
  border-color: @style-light-color !important;
}

.light .abstract,
.page-header {
  color: @style-light-color !important;
}

.light .page-header {
  border-bottom: @style-light-border-color solid thin !important;
}

#header h1 a {
  color: @global-text-color;
}
