// out: false

@import "../global.less";

.green {
  color: @style-green-color !important;
  background-color: @style-green-bg-color !important;
}

.green div {
  color: @style-green-color !important;
}

.green span {
  color: @style-green-color !important;
}

.green h1 {
  color: @style-green-color !important;
}

.green h2 {
  color: @style-green-color !important;
}

.green h3 {
  color: @style-green-color !important;
}

.green h4 {
  color: @style-green-color !important;
}

.green h5 {
  color: @style-green-color !important;
}

.green h6 {
  color: @style-green-color !important;
}

.green p {
  color: @style-green-color !important;
}

.green blockquote {
  color: @style-green-color !important;
}

.green pre {
  color: @style-green-color !important;
}

.green abbr {
  color: @style-green-color !important;
}

.green address {
  color: @style-green-color !important;
}

.green cite {
  color: @style-green-color !important;
}

.green code {
  color: @style-green-color !important;
}

.green del {
  color: @style-green-color !important;
}

.green dfn {
  color: @style-green-color !important;
}

.green em {
  color: @style-green-color !important;
}

.green img {
  color: @style-green-color !important;
}

.green ins {
  color: @style-green-color !important;
}

.green kbd {
  color: @style-green-color !important;
}

.green q {
  color: @style-green-color !important;
}

.green samp {
  color: @style-green-color !important;
}

.green small {
  color: @style-green-color !important;
}

.green strong {
  color: @style-green-color !important;
}

.green sub {
  color: @style-green-color !important;
}

.green sup {
  color: @style-green-color !important;
}

.green var {
  color: @style-green-color !important;
}

.green b {
  color: @style-green-color !important;
}

.green i {
  color: @style-green-color !important;
}

.green dl {
  color: @style-green-color !important;
}

.green dt {
  color: @style-green-color !important;
}

.green dd {
  color: @style-green-color !important;
}

.green ol {
  color: @style-green-color !important;
}

.green ul {
  color: @style-green-color !important;
}

.green li {
  color: @style-green-color !important;
}

.green fieldset {
  color: @style-green-color !important;
}

.green form {
  color: @style-green-color !important;
}

.green label {
  color: @style-green-color !important;
}

.green legend {
  color: @style-green-color !important;
}

.green caption {
  color: @style-green-color !important;
}

.green article {
  color: @style-green-color !important;
}

.green aside {
  color: @style-green-color !important;
}

.green canvas {
  color: @style-green-color !important;
}

.green details {
  color: @style-green-color !important;
}

.green figcaption {
  color: @style-green-color !important;
}

.green figure {
  color: @style-green-color !important;
}

.green footer {
  color: @style-green-color !important;
}

.green header {
  color: @style-green-color !important;
}

.green hgroup {
  color: @style-green-color !important;
}

.green section {
  color: @style-green-color !important;
}
.green summary {
  color: @style-green-color !important;
}

.green time {
  color: @style-green-color !important;
}

.green mark {
  color: @style-green-color !important;
}

.green audio {
  color: @style-green-color !important;
}

.green video {
  color: @style-green-color !important;
}

.green table {
  color: @style-green-color !important;
}

.green thead {
  color: @style-green-color !important;
}

.green tfoot {
  color: @style-green-color !important;
}

.green tr {
  color: @style-green-color !important;
}

.green td {
  color: @style-green-color !important;
}

.green .abstract {
  color: @style-green-color !important;
}

.green .page-header {
  color: @style-green-color !important;
}

.green .lead {
  color: @style-green-color !important;
}

.green .small {
  color: @style-green-color !important;
}

.green .italic {
  color: @style-green-color !important;
}

.green .headline {
  color: @style-green-color !important;
}

.green .tagline {
  color: @style-green-color !important;
}

.green .paragraph {
  color: @style-green-color !important;
}

.green .paragraph-2col {
  color: @style-green-color !important;
}

.green .paragraph-3col {
  color: @style-green-color !important;
}

.green .align-left {
  color: @style-green-color !important;
}

.green .align-center {
  color: @style-green-color !important;
}

.green .align-right {
  color: @style-green-color !important;
}

.green .page-header {
  border-bottom: @style-green-border-color solid thin !important;
}

.green code {
  color: @style-green-color;
  background-color: darkgray !important;
}

.green a:hover {
  color: @style-green-hover-color !important;
}

.green hr {
  color: @style-green-color !important;
  border-color: solid 2px @style-green-border-color !important;
}
