// out: false

@import "../global.less";

/* 
    lead
---------------------------------------------------------------------------------------------------
*/
.lead {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.lead {
  margin: 0;
  padding: 0;
}

/* 
    small
---------------------------------------------------------------------------------------------------
*/
.small {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
  font-size: 0.85rem;
}

.small {
  margin: 0;
  padding: 0;
}

/* 
    italic
---------------------------------------------------------------------------------------------------
*/
.italic {
  font-style: italic;
}

/* 
    headline
---------------------------------------------------------------------------------------------------
*/
.headline {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
  font-size: 1.6rem;
}

.headline {
  margin: 0;
  padding: 0;
}

/* 
    tagline
---------------------------------------------------------------------------------------------------
*/
.tagline {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
  font-weight: 100;
  font-size: 1.4rem;
}

.tagline {
  margin: 0;
  padding: 0;
}

/* 
    paragraph
---------------------------------------------------------------------------------------------------
*/
.paragraph {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.paragraph {
  margin: 0;
  padding: 0;
}

/* 
    paragraph-2col
---------------------------------------------------------------------------------------------------
*/
.paragraph-2col {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

.paragraph-2col {
  margin: 0;
  padding: 0;
}

/* 
    paragraph-3col
---------------------------------------------------------------------------------------------------
*/
.paragraph-3col {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
}

.paragraph-3col {
  margin: 0;
  padding: 0;
}

/* 
    align
---------------------------------------------------------------------------------------------------
*/
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* 
    error
---------------------------------------------------------------------------------------------------
*/
.error {
  text-decoration: @global-text-decoration;
  font-family: @global-font-family;
  text-transform: @global-text-transform;
  color: @global-error-text-color !important;
}

.error {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

/* 
    media queries
---------------------------------------------------------------------------------------------------
*/
@media screen and (min-width: 980px) {
  .paragraph {
    -webkit-columns: 300px 1;
    -moz-columns: 300px 1;
    columns: 300px 1;
  }

  .paragraph-2col {
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
  }

  .paragraph-3col {
    -webkit-columns: 100px 3;
    -moz-columns: 100px 3;
    columns: 100px 3;
  }
}
