<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT contentGrid ANY>
<!ATTLIST contentGrid id ID #REQUIRED>
<!ELEMENT pageDefaults ANY>
<!ATTLIST pageDefaults id ID #REQUIRED>
<!ELEMENT blogOverview ANY>
<!ATTLIST blogOverview id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT siteGlobal ANY>
<!ATTLIST siteGlobal id ID #REQUIRED>
]>
<root id="-1">
  <landingPage id="1098" key="b1892edf-20f6-4df6-b723-26994e4b3ef7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-15T02:52:52" updateDate="2018-09-15T03:23:18" nodeName="Home" urlName="home" path="-1,1098" isDoc="" nodeType="1078" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="1057" nodeTypeAlias="landingPage" isPublished="false">
    <gridLayout><![CDATA[{
  "name": "Full Grid 12",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></gridLayout>
    <hideInMenu>0</hideInMenu>
    <pageStyle><![CDATA[transparent]]></pageStyle>
    <title><![CDATA[Basic Frontend]]></title>
    <headerType><![CDATA[alt]]></headerType>
    <introduction><![CDATA[Responsive Applications made simple!]]></introduction>
    <pageType><![CDATA[landing]]></pageType>
    <bannerCTAText><![CDATA[Examples]]></bannerCTAText>
    <bannerParagraph><![CDATA[Responsive Applications made simple!]]></bannerParagraph>
    <bannerCTAUrl><![CDATA[/Examples/]]></bannerCTAUrl>
    <bannerHeadline><![CDATA[Basic Frontend]]></bannerHeadline>
    <siteGlobal id="1099" key="7ab254e3-8991-4648-9306-a510e14a33b4" parentID="1098" level="2" creatorID="0" sortOrder="0" createDate="2018-09-15T02:54:06" updateDate="2018-09-15T03:23:19" nodeName="Site Global" urlName="site-global" path="-1,1098,1099" isDoc="" nodeType="1079" creatorName="Kay Stuckenschmidt" writerName="Kay Stuckenschmidt" writerID="0" template="0" nodeTypeAlias="siteGlobal" isPublished="true">
      <metaRobots><![CDATA[index, follow]]></metaRobots>
      <metaDescription><![CDATA[Responsive Applications made simple!]]></metaDescription>
      <metaRevisitAfter><![CDATA[5 days]]></metaRevisitAfter>
      <metaPragma><![CDATA[no-cache]]></metaPragma>
      <siteAuthor><![CDATA[responsive IT]]></siteAuthor>
      <metaCache><![CDATA[no-cache]]></metaCache>
      <metaAudience><![CDATA[Engineers]]></metaAudience>
      <metaKeywords><![CDATA[responsive,web,jquery,bootstrap,kaysta,umbraco,frontend,basic,open,source,asp.net,c#,java,script,css,html]]></metaKeywords>
      <metaPageTopic><![CDATA[Plugin]]></metaPageTopic>
      <siteTitle><![CDATA[Site Global]]></siteTitle>
    </siteGlobal>
  </landingPage>
</root>