// out: false

@import "../global.less";

pre {
  overflow: auto;
  border-radius: 10px;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 1rem;
}

pre code {
  display: block;
  line-height: 1.75rem;
  padding: 1.5rem;
  overflow-x: auto;
}
