// out: false

@import "../global.less";

.box-equal {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.box {
  border-radius: @box-corner-radius;
  border: @global-border;
  white-space: normal;
  padding: 1.25rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.box-four-in-row {
  text-align: center;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box-three-in-row {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
