// out: false

@import "../global.less";

.box {
  border-radius: @box-corner-radius;
  border: @global-border;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.box-four-in-row {
  width: 20%;
}

.box-three-in-row {
  width: 30%;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.box-equal {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-round-corner {
  border-radius: @box-corner-radius;
  white-space: normal;
  padding: 1.25rem;
  display: block;
  width: 100%;
  height: 100%;
}
