/* blue.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* light -> obsolete: style5 */
/* transparent -> obsolete: style4 */
/* button */
/* code */
/* banner */
/* footer */
.blue {
  background: #51c1f5;
}
.blue * {
  color: darkgray;
}
.blue p {
  color: darkgray;
}
.blue h2 {
  color: darkgray;
}
.blue a {
  color: darkgray;
  width: 100%;
}
.blue .date {
  text-align: right;
}
div.page-header {
  width: 100%;
  border-bottom: darkgray solid thin;
}
.blue div.page-header > h1 {
  color: darkgray;
}