/* blue.less */

@import "../global.less";

.blue {
    background: @color-blue-bg-color;
}

.blue * {
    color: @color-blue-color;
}

.blue p {
    color: @color-blue-color;
}

.blue h2 {
    color: @color-blue-color;
}

.blue a {
    color: @color-blue-color;
    width: 100%;
}

.blue .date{
    text-align: right;
}

div.page-header {
    width: 100%;
    border-bottom: @color-blue-color solid thin;
}

.blue div.page-header > h1 {
    color: @color-blue-color;
}