/* dark.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* style1 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.dark {
  background: #333333;
}
.dark * {
  color: #cccccc;
}
.dark p {
  color: #cccccc;
}
.dark h2 {
  color: #cccccc;
}
.dark a {
  color: #cccccc;
  width: 100%;
}
.dark .date {
  text-align: right;
  color: #cccccc;
}
div.page-header {
  width: 100%;
  border-bottom: #cccccc solid thin;
}
.dark div.page-header > h1 {
  color: #cccccc;
}