/* dark.less */

@import "../global.less";

.dark {
    background: @color-dark-bg-color;
}

.dark * {
    color:@color-dark-color;
}

.dark p {
    color: @color-dark-color;
}

.dark h2 {
    color: @color-dark-color;
}

.dark a {
    color: @color-dark-color;
    width: 100%;
}

.dark .date{
    text-align: right;
    color: @color-dark-color;
}

div.page-header {
    width: 100%;
    border-bottom: @color-dark-color solid thin;
}

.dark div.page-header > h1 {
    color: @color-dark-color;
}