/* purple.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* style1 */
/* light -> obsolete: style5 */
/* button */
/* code */
/* banner */
/* footer */
.purple {
  background: #C23577;
}
.purple * {
  color: whitesmoke;
}
.purple p {
  color: whitesmoke;
}
.purple h2 {
  color: whitesmoke;
}
.purple a {
  color: whitesmoke;
  width: 100%;
}
.purple .date {
  text-align: right;
}
div.page-header {
  width: 100%;
  border-bottom: whitesmoke solid thin;
}
.purple div.page-header > h1 {
  color: whitesmoke;
}