/* yellow.less */

@import "../global.less";

.yellow {
    background: @color-yellow-bg-color;
}

.yellow * {
    color: @color-yellow-color;
}

.yellow p {
    color: @color-yellow-color;
}

.yellow h2 {
    color: @color-yellow-color;
}

.yellow a {
    color: @color-yellow-color;
    width: 100%;
}

.yellow .date{
    text-align: right;
}

div.page-header {
    width: 100%;
    border-bottom: @color-yellow-color solid thin;
}

.purple div.page-header > h1 {
    color: @color-yellow-color;
}