/* yellow.less */
/* global.less */
/* base styles and definitions */
/* menu */
/* colours */
/* green -> obsolete style1 */
/* light -> obsolete: style5 */
/* transparent -> obsolete: style4 */
/* button */
/* code */
/* banner */
/* footer */
.yellow {
  background: #FFCC01;
}
.yellow * {
  color: black;
}
.yellow p {
  color: black;
}
.yellow h2 {
  color: black;
}
.yellow a {
  color: black;
  width: 100%;
}
.yellow .date {
  text-align: right;
}
div.page-header {
  width: 100%;
  border-bottom: black solid thin;
}
.purple div.page-header > h1 {
  color: black;
}